{% extends "base.html" %}
{% block title %}MUMT MIS: Quality Assurance for Education {% endblock %}
{% include "eduqa/QA/nav.html" %}
{% block page_content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                {% include 'messages.html' %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                  <ul>
                    <li><a href="{{ url_for('eduqa.index') }}">หน้าหลัก</a></li>
                    <li><a href="{{ url_for('eduqa.show_revisions', curriculum_id=revision.curriculum.id) }}">หลักสูตร</a></li>
                    <li class="is-active"><a href="#" aria-current="page">รายวิชา</a></li>
                  </ul>
                </nav>
                <h1 class="title has-text-centered">รายวิชา</h1>
                <div class="has-text-centered">
                    <a href="{{ url_for('eduqa.add_course', revision_id=revision.id) }}" class="button is-success">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                        <span>เพิ่มรายวิชา</span>
                    </a>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <th>รหัส</th>
                        <th>ชื่อ</th>
                        <th>บรรยาย</th>
                        <th>ปฏิบัติ</th>
                        <th>หมวด</th>
                        <th>ปรับปรุงล่าสุดโดย</th>
                        <th>เมื่อ</th>
                        <th></th>
                    </thead>
                    {% for course in revision.courses %}
                    <tr>
                        <td>{{ course.th_code }} ({{ course.en_code }})</td>
                        <td>{{ course.th_name }} ({{ course.en_name }})</td>
                        <td>{{ course.lecture_credit }}</td>
                        <td>{{ course.lab_credit }}</td>
                        <td>{{ course.category.category }}</td>
                        <td>{{ course.updater.personal_info }}</td>
                        <td>{{ course.updated_at|localdatetime }}</td>
                        <td>
                            <a class="button is-link is-small is-rounded"
                                href="{{ url_for('eduqa.show_course_detail', course_id=course.id) }}">
                                <span class="icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span>รายละเอียด</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
