{% extends "base.html" %}
{% include "staff/nav.html" %}

{% block page_content %}
<section class="section">
    <h1 class="title has-text-centered">ระบบคณะกรรมการ</h1>
    {% include "messages.html" %}
    <div class="columns">
        <div class="column is-one-third is-offset-4">
            <nav class="panel is-warning">
                <p class="panel-heading">ปีแต่งตั้งคณะกรรมการ</p>
                    {% for detail in details %}
                        <a class="panel-block"
                            href="{{ url_for('staff.committee_detail', detail_id=detail-543) }}">
                            <span class="panel-icon">
                                <i class="fas fa-clock"></i>
                            </span>
                            <span class="is-size-5">
                                ปี {{ detail }}
                            </span>
                        </a>
                    {% endfor %}
            </nav>
        </div>
    </div>
</section>
{% endblock %}