{% extends "base.html" %}
{% include "staff/nav.html" %}

{% block page_content %}
<section class="section">
    <h1 class="title">Staff Page</h1>
    <div class="columns">
        <div class="column">
            <div class="container has-text-centered">
                <div class="box">
                    <a href="{{ url_for('staff.show_leave_info') }}">
                            <span class="icon is-large"><i class="fas fa-calendar fa-4x"></i></span><br><br>
                            <span class="is-size-4">ข้อมูลวันลา</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="container has-text-centered">
                <div class="box">
                <a href="{{ url_for('staff.show_work_from_home') }}">
                    <span class="icon is-large"><i class="fas fa-laptop fa-4x"></i></span><br><br>
                    <span class="is-size-4">ข้อมูลการทำงานที่บ้าน</span>
                </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="container has-text-centered">
                <div class="box">
                    <a href="{{ url_for('staff.summary_index') }}">
                        <span class="icon is-large">
                            <i class="fas fa-chart-pie fa-4x"></i>
                        </span><br><br>
                        <span class="is-size-4">ข้อมูลสรุปวันทำงาน</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="has-text-right">
        <span>พบปัญหาเกี่ยวกับระบบ <br>ติดต่อ napatsakorn.pis@mahidol.ac.th หรือโทรศัพท์ภายใน 2845</>
    </div>
</section>
{% endblock %}
