{% extends "base.html" %}
{% include "staff/nav.html" %}
{% block page_content %}
<section class="section">
    <div class="container" id="app">
        {% for msg in get_flashed_messages() %}
        <p class="notification is-warning">{{ msg }}</p>
        {% endfor %}
        {% for err, msg in errors.iteritems() %}
        <p>{{ err }} : {{ msg }}</p>
        {% endfor %}
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">แบบฟอร์มขออนุมัติ{{ quota.leave_type }}</h1>
            </div>
        </div>
            <div class="column is-half is-offset-one-quarter">
                <div class="box">
                    <b-message
                            title="กรุณาเลือกวันหรือช่วงของวันที่ต้องการลา ทั้งนี้วันหยุดและเสาร์ อาทิตย์จะไม่ถือเป็นวันลา"
                            type="is-info" has-icon>
                        ท่านมีวันลาสะลม {{ quota_limit }} วันทำการ<br>
                        โดยลามาแล้ว {{ used_quota }} วันทำการ
                    </b-message>
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="field">
                            <div class="control">
                                <b-field label="เลือกวันที่ต้องการขออนุมัติลาครึ่งวัน">
                                    <b-datepicker
                                            required
                                            name="dates"
                                            v-model="selectedDates"
                                            :date-formatter="formatDate"
                                            :mobile-native="false"
                                            :events="events"
                                            :indicators="'dots'"
                                            icon-pack="fa"
                                            placeholder="คลิ๊กเพื่อเปิดปฏิทิน..."
                                            icon="calendar-alt">
                                    </b-datepicker>
                                </b-field>
                            </div>
                        </div>
                        <b-field label="กรุณาเลือกช่วงเวลาที่ต้องการลา">
                            <b-select placeholder="คลิ๊กเพื่อเลือกช่วงเวลา" name="times" required>
                                <option value="08:30 - 12:00">ช่วงเช้า 8:30 - 12:00 น.</option>
                                <option value="13:00 - 16:30">ช่วงบ่าย 13:00 - 16:30 น.</option>
                            </b-select>
                        </b-field>
                        {% if quota.leave_type.reason_required %}
                        <b-field label="จุดประสงค์ในการขออนุมัติลา"
                                 type="is-danger">
                        <b-input type="text"
                                 name="reason"
                                 icon-pack="far"
                                 icon="comment"
                                 placeholder="ขออนุมัติลาเนื่องจาก" required>
                        </b-input>
                        </b-field>
                        {% endif %}
                        <b-field label="ระหว่างลาสามารถติดต่อท่านได้ที่">
                            <b-input name="contact_addr"
                                 icon-pack="fas"
                                 icon="map-marker-alt"
                                 placeholder="ที่อยู่">
                            </b-input>
                        </b-field>
                        <b-field type="is-danger">
                            <b-input type="text"
                               name="contact_phone"
                               icon-pack="fas"
                               icon="phone"
                               placeholder="เบอร์โทรศัพท์" required>
                            </b-input>
                        </b-field>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" value="yes" name="notified_by_line" checked>
                                ส่งข้อความเตือนในไลน์เมื่อได้รับการพิจารณาจากหัวหน้างาน
                            </label>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <a href="{{ url_for('staff.show_leave_info') }}" class="button is-light">Cancel</a>
                            </div>
                            <div class="control">
                                <input type="submit" value="Submit" class="button is-success"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
new Vue({
        el: '#app',
        computed: {
            indicators() {
                return this.bars ? 'bars' : 'bars'
            }
        },
        data() {
            return {
                selectedDates: [],
                events: [],
                raw_events: {{ holidays|tojsdatetime|tojson|safe }},
            }
        },
        mounted() {
            this.raw_events.forEach((d)=>{
                let e = new Date(d);
                this.events.push(e);
            })
        },
        methods: {
            formatDate(dates){
                let date = new moment(dates).format("DD/MM/YYYY")
                return date + ' - ' + date
            }
        }
    });
</script>
{% endblock %}

