{% extends "base.html" %}
{% include "staff/nav.html" %}
{% block page_content %}
<section class="section">
    <div class="container" id="app">
        <div class="table-container">
            <div class="columns">
                <div class="column">
                    <h4 class="title">รายการลาของ {{ account.personal_info }}</h4>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                <table class="table is-bordered is-striped">
                        <tbody>
                            {% for quota in quota|sort(attribute='id', reverse=True) %}
                            <tr>
                                <td>
                                    {{ quota.leave_type }}
                                </td>
                                <td>
                                    ปีงบประมาณ {{ quota.fiscal_year }}
                                </td>
                                <td>
                                    quota {{ quota.quota_days }}
                                </td>
                                <td>
                                    ใช้ไป {{ quota.used_days }}
                                </td>
                                <td>
                                    (อนุมัติแล้ว {{ quota.used_days - quota.pending_days }}
                                </td>
                                <td>
                                    รออนุมัติ {{ quota.pending_days }})
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="box">
                        <h4 class="subtitle">รายการลา ปีงบประมาณปัจจุบัน
                        </h4>
                        <table class="table is-bordered is-striped">
                            <thead>
                            <th>วันที่เริ่มลา</th>
                            <th>วันที่สิ้นสุดลา</th>
                            <th>จำนวนวัน</th>
                            <th>ประเภท</th>
                            <th>สถานะการอนุมัติ</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for requester in requester|sort(attribute='start_datetime') %}
                            {% if not requester.cancelled_at and requester.get_approved or requester.get_unapproved %}
                            {% if requester.start_datetime.date() >= START_FISCAL_DATE.date() %}
                            <tr>
                                <td>
                                    {{ requester.start_datetime.date() }}
                                </td>
                                <td>
                                    {{ requester.end_datetime.date() }}
                                </td>
                                <td>
                                    {{ requester.total_leave_days }}
                                </td>
                                <td>
                                    <a href="{{ url_for('staff.record_each_request_leave_request', request_id=requester.id) }}"
                                       class="is-info is-light">
                                        {{ requester.quota.leave_type }}
                                    </a>
                                </td>
                                <td>
                                    {% if requester.approvals %}
                                    {% for ap in requester.approvals %}
                                    {{ ap.approver.account.personal_info }}
                                    {% if ap.is_approved %}
                                    <span class="icon">
                                        <i class="fas has-text-success fa-check-circle"></i>
                                    </span>
                                    {% else %}
                                    <span class="icon">
                                        <i class="far has-text-danger fa-times-circle"></i>
                                    </span>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    {{ leave_req.approvals|length }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="button is-danger" @click="confirmCustomDelete({{ requester.id }},{{ current_user.id }})">ยกเลิกการลา</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <h4 class="subtitle">รายการที่ยังไม่ได้รับการอนุมัติ ในปีงบประมาณปัจจุบัน
                        </h4>
                        <table class="table is-bordered is-striped">
                            <thead>
                            <th>วันที่เริ่มลา</th>
                            <th>วันที่สิ้นสุดลา</th>
                            <th>จำนวนวัน</th>
                            <th>ประเภท</th>
                            </thead>
                            <tbody>
                            {% for requester in requester|sort(attribute='start_datetime') %}
                            {% if not requester.cancelled_at %}
                            {% if not requester.get_approved %}
                            {% if not requester.get_unapproved %}
                            {% if requester.start_datetime.date() >= START_FISCAL_DATE.date() %}
                            <tr>
                                <td>
                                    {{ requester.start_datetime.date() }}
                                </td>
                                <td>
                                    {{ requester.end_datetime.date() }}
                                </td>
                                <td>
                                    {{ requester.total_leave_days }}
                                </td>
                                <td>
                                    <a href="{{ url_for('staff.pending_leave_approval', req_id=requester.id) }}"
                                       class="is-info is-light">
                                        {{ requester.quota.leave_type }}
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column">
                    <h4 class="subtitle">รายการลาทั้งหมด</h4>
                    <table class="table is-bordered is-striped">
                        <thead>
                        <th>วันที่เริ่มลา</th>
                        <th>วันที่สิ้นสุดลา</th>
                        <th>จำนวนวัน</th>
                        <th>ประเภท</th>
                        <th>สถานะการอนุมัติ</th>
                        </thead>
                        <tbody>
                        {% for requester in requester|sort(attribute='start_datetime') %}
                        {% if not requester.cancelled_at and requester.get_approved or requester.get_unapproved %}
                        <tr>
                            <td>
                                {{ requester.start_datetime.date() }}
                            </td>
                            <td>
                                {{ requester.end_datetime.date() }}
                            </td>
                            <td>
                                {{ requester.total_leave_days }}
                            </td>
                            <td>
                                <a href="{{ url_for('staff.record_each_request_leave_request', request_id=requester.id) }}"
                                   class="is-info is-light">
                                    {{ requester.quota.leave_type }}
                                </a>
                            </td>
                            <td>
                                {% if requester.approvals %}
                                {% for ap in requester.approvals %}
                                {{ ap.approver.account.personal_info }}
                                {% if ap.is_approved %}
                                <span class="icon">
                                        <i class="fas has-text-success fa-check-circle"></i>
                                    </span>
                                {% else %}
                                <span class="icon">
                                        <i class="far has-text-danger fa-times-circle"></i>
                                    </span>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                {{ leave_req.approvals|length }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <h4 class="subtitle">รายการที่ยังไม่ได้รับการอนุมัติ
                    </h4>
                    <table class="table is-bordered is-striped">
                        <thead>
                        <th>วันที่เริ่มลา</th>
                        <th>วันที่สิ้นสุดลา</th>
                        <th>จำนวนวัน</th>
                        <th>ประเภท</th>
                        </thead>
                        <tbody>
                        {% for requester in requester|sort(attribute='start_datetime') %}
                        {% if not requester.cancelled_at %}
                        {% if not requester.get_approved %}
                        {% if not requester.get_unapproved %}
                        <tr>
                            <td>
                                {{ requester.start_datetime.date() }}
                            </td>
                            <td>
                                {{ requester.end_datetime.date() }}
                            </td>
                            <td>
                                {{ requester.total_leave_days }}
                            </td>
                            <td>
                                <a href="{{ url_for('staff.pending_leave_approval', req_id=requester.id) }}"
                                   class="is-info is-light">
                                    {{ requester.quota.leave_type }}
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{{ url_for('staff.show_leave_approval_info') }}" class="button is-rounded is-info is-light">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>กลับ</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    new Vue({
        el: '#app',
        delimiters: ['<%', '%>'],
        methods: {
            confirmCustomDelete: function(req_id, cancelled_account_id) {
                console.log(req_id, cancelled_account_id);
                this.$buefy.dialog.confirm({
                    title: 'ยกเลิกคำขอที่' + req_id,
                    message: 'แน่ใจหรือไม่ที่จะ<b>ยกเลิก</b>การลาครั้งนี้ หากยกเลิกแล้วจะไม่สามารถแก้ไขได้',
                    confirmText: 'Delete this request',
                    type: 'is-danger',
                    hasIcon: true,
                    onConfirm: () => window.location.href = "/staff/leave/requests/" + req_id + "/cancel/" + cancelled_account_id
                })
            }
        }
    });
</script>
{% endblock %}
