{% extends "base.html" %}
{% include "staff/nav.html" %}
{% block page_content %}
<section class="section">
    <div class="container"  id="app">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="container has-text-centered">
                        <div class="box">
                            <a href="{{ url_for('staff.search_person_for_add_leave_request') }}">
                                <span class="icon is-large"><i class="far fa-calendar-plus fa-4x"></i></span><br><br>
                                <span class="is-size-4">เพิ่มวันลา</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="container has-text-centered">
                        <div class="box">
                            <a href="{{ url_for('staff.leave_request_result_by_person') }}">
                                <span class="icon is-large"><i class="far fa-search fa-4x"></i></span><br><br>
                                <span class="is-size-4">ค้นหาจากชื่อ/ประเภทการลา</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="container has-text-centered">
                        <div class="box">
                            <a href="{{ url_for('staff.leave_request_info') }}">
                                <span class="icon is-large"><i class="far fa-dice-one fa-4x"></i></span><br><br>
                                <span class="is-size-4">ค้นหารายครั้ง</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                <div class="box">
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="control">
                    <h4 class="title">ค้นหาประวัติการลาจากวันที่</h4>
                    <b-field label="เลือกช่วงวันที่ต้องการค้นหา">
                        <b-datepicker
                                required
                                name="dates"
                                v-model="selectedDates"
                                range
                                icon-pack="fa"
                                :date-formatter="formatDate"
                                :mobile-native="false"
                                placeholder="คลิกเพื่อเปิดปฏิทิน..."
                                icon="calendar-alt">
                        </b-datepicker>
                    </b-field>
                </div>
                    <hr>
                <div class="field is-grouped">
                    <div class="control">
                            <input type="submit" value="search" class="button is-primary"/>
                    </div>
                </div>
                </form>
                </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <a class="button is-info is-light" href="{{ url_for('staff.for_hr') }}">
                     <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                        <span>กลับ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    new Vue({
        el: '#app',
        delimiters: ['<%', '%>'],
        data() {
            return {
                selectedDates: [],
            }
        },
        methods: {
            formatDate(dates){
                    let start = new moment(dates[0]).format("DD/MM/YYYY")
                    let end = new moment(dates[1]).format("DD/MM/YYYY")
                    return start + ' - ' + end
            }
        }
    });
    </script>
{% endblock %}
