{% extends "base.html" %}
{% include "nav.html" %}
{% block page_content %}
<section class="section">
    <div class="container">
        <h1 class="title">Welcome {{ current_user.personal_info }}</h1>
        <h4 class="subtitle">สถานะการจ้าง {{ current_user.personal_info.employment.title }}</h4>
        <table class="table is-fullwidth">
            <thead>
                <th>วันที่ขออนุมัติลา</th>
                <th>ประเภทการลา</th>
                <th>วันที่เริ่มลา</th>
                <th>วันที่สิ้นสุดลา</th>
                <th>เหตุผลในการลา</th>
                <th>รวม(วัน)</th>
                <th>สถานะการอนุมัติ</th>
            </thead>
            <tbody>
            {% for request in leaves %}
                <tr>
                    <td>{{ request.created_at|localdatetime }}</td>
                    <td>{{ request.quota.leave_type }}</td>
                    <td>{{ request.start_datetime|localdatetime }}</td>
                    <td>{{ request.end_datetime|localdatetime }}</td>
                    <td>{{ request.reason }}</td>
                    <td>{{ request.duration }}</td>
                    <td></td>
                    <td><a class="button is-danger">ยกเลิกการลาครั้งนี้</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="button is-rounded is-info is-light" href="{{ url_for('staff.show_leave_info') }}">กลับหน้าการลา</a>
    </div>
</section>
{% endblock %}