{% extends "base.html" %}
{% include "nav.html" %}

{% block page_content %}
<section class="section" id="app">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">เพิ่มข้อมูลการปฏิบัติงาน</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <div class="box">
                    <form method="post" enctype="multipart/form-data">
                        <div class="box">
                            <div class="field is-horizontal">
                                <div>
                                    <label class="label">ระบุวันที่ </label>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-two-thirds is-offset-2">
                                <label class="label">รายชื่อบุคลากร</label>
                                <table class="table is-striped" id="shiftScheduleTable">
                                    <thead>
                                    <th>เลือก</th>
                                    <th>สังกัด</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <input type="submit" value="submit" class="button is-primary"/>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('staff.shift_schedule') }}" class="button is-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){});
</script>
{% endblock %}