{% extends "base.html" %}
{% include "staff/nav.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block page_content %}
<section class="section" id="app">
    <div class="columns">
        <div class="column">
            <h1 class="title">สรุปข้อมูลบุคลากร</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">Department</p>
                <ul class="menu-list">
                    {% for dept in depts %}
                    <li>
                        <a href="{{ url_for('staff.summary_index', curr_dept_id=dept.id, tab=tab) }}"
                           {% if dept.id == curr_dept_id %}
                           class="is-active"
                           {% endif %}
                        >
                            {{ dept.name }}
                        </a>
                    </li>
                    <li>
                        <ul class="menu-list">
                            {% for child in dept.children %}
                            <li>
                                <a href="{{ url_for('staff.summary_index', curr_dept_id=child.id, tab=tab) }}"
                                    {% if child.id == curr_dept_id %}
                                    class="is-active"
                                    {% endif %}
                                >
                                    {{ child.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="container has-text-centered">
                <div class="tabs is-boxed is-centered">
                    <ul>
                        <li {% if tab =="all" %} class="is-active" {% endif %}>
                            <a href="{{ url_for('staff.summary_index', tab='all', curr_dept_id=curr_dept_id,
                                                                                fiscal_year=fiscal_year) }}">
                                ทั้งหมด
                            </a>
                        </li>
                        <li {% if tab =="login" %} class="is-active" {% endif %}>
                            <a href="{{ url_for('staff.summary_index', tab='login', curr_dept_id=curr_dept_id, fiscal_year=fiscal_year) }}">
                                แสกนเข้าทำงาน
                            </a>
                        </li>
                        <li {% if tab =="leave" %} class="is-active" {% endif %}>
                            <a href="{{ url_for('staff.summary_index', tab='leave', curr_dept_id=curr_dept_id,
                                                                                fiscal_year=fiscal_year) }}">
                                วันลา
                            </a>
                        </li>
                        <li {% if tab =="wfh" %} class="is-active" {% endif %}>
                            <a href="{{ url_for('staff.summary_index', tab='wfh', curr_dept_id=curr_dept_id,
                                                                                fiscal_year=fiscal_year) }}">
                                WFH
                            </a>
                        </li>
                        <li {% if tab =="smr" %} class="is-active" {% endif %}>
                            <a href="{{ url_for('staff.summary_index', tab='smr', curr_dept_id=curr_dept_id,
                                                                                fiscal_year=fiscal_year) }}">
                                อบรม
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</section>
{% if tab == "login" %}
<section class="section">
    <div class="container">
        <p>คลิกเพื่อข้ามไปวันที่ที่ต้องการตรวจสอบ</p>
        <div class="field">
            <div class="control has-icons-left">
                <input class="input" name="datePicker" id="datePicker">
                <span class="icon is-small is-left">
            <i class="far fa-calendar-alt"></i>
        </span>
            </div>
        </div>
        <table class="table is-fullwidth is-striped" id="timeTable">
            <thead>
            <th>ชื่อ</th>
            <th>เข้างาน</th>
            <th>QR Code หมดอายุ</th>
            <th>ออกงาน</th>
            <th>QR Code หมดอายุ</th>
            <th>พิกัดละติจูด</th>
            <th>พิกัดลองจิจูด</th>
            <th>ตำแหน่งที่สร้าง QR Code</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js" integrity="sha512-vTlIpCig7Yl48kFM3fyxWwW7t+cf+U7Bi22g/o2D4hbGKXnN//6hNZYtIZKSmXQJ5BTdr1jMBz6BUZV030LmuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    moment.locale('th');
    let apiUrl = "{{ url_for('staff.get_login_records', dept_id=curr_dept_id) }}";
    $(function() {
        let table = $('#timeTable').DataTable({
            ajax: "{{ url_for('staff.get_login_records') }}",
            dataSrc: "data",
            columns: [
                { data: 'staff_name' },
                {
                    data: 'start',
                    render: function(data, type, row) {
                        if (data !== '') {
                            let d = moment(data)
                            return d.format('lll')
                        } else {
                            return '-'
                        }
                    }
                },
                { data: 'start_expired' },
                {
                    data: 'end',
                    render: function(data, type, row) {
                        if (data !== '') {
                            let d = moment(data)
                            return d.format('lll')
                        } else {
                            return '-'
                        }
                    }
                },
                { data: 'end_expired' },
                { data: 'lat' },
                { data: 'lon' },
                { data: 'location' }
            ],
        });
        $('#calendar').fullCalendar({
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            header: {
                left: 'title',
            },
            locale: 'th',
            events: {{ url_for("staff.send_summary_data", tab=tab, curr_dept_id=curr_dept_id)|tojson|safe }},
            displayEventEnd: true,
            timeFormat: 'H(:mm)',
            eventClick: function(calEvent, jsEvent, view) {
                table.ajax.url(apiUrl + '&date=' + calEvent.start.format('L')).load()
                $('#datePicker').data('daterangepicker').setStartDate(calEvent.start);
            }
        });
        $('#prev_btn').on('click', function() {
            $('#calendar').fullCalendar('prev');
        });
        $('#next_btn').on('click', function() {
            $('#calendar').fullCalendar('next');
        });
        $('#datePicker').daterangepicker({
                singleDatePicker: true,
                startDate: moment()
            }, function(start, end, label) {
                $('#calendar').data('fullCalendar').gotoDate(start);
                table.ajax.url(apiUrl + '&date=' + start.format('L')).load()
            }
        );
        table.ajax.url(apiUrl + '&date=' + moment().format('L')).load()
    });
</script>
{% endblock %}