{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
{% endblock head %}
{% include "nav.html" %}
{% block page_content %}
<section class="section" id="app">
    <div class="container">
        <h1 class="title">Welcome {{ current_user.personal_info }}</h1>
        <h4 class="subtitle">ตารางแสดงการเข้าออกงานประจำเดือน</h4>
        <div id="loginCalendar"></div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="{{ url_for('static', filename='js/scheduler.min.js') }}"></script>
    <script>
        $(function() {
            $('#loginCalendar').fullCalendar({
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                header: {
                    left: 'title',
                },
                events: '/staff/api/time-report',
                eventLimit: true,
                displayEventTime: true,
                displayEventEnd: true,
                timeFormat: 'H(:mm)',
                minTime: '08:00:00',
                maxTime: '23:00:00',
            });
            $('#prev_btn').on('click', function() {
                $('#loginCalendar').fullCalendar('prev');
            });
            $('#next_btn').on('click', function() {
                $('#loginCalendar').fullCalendar('next');
            });
        });
    </script>
{% endblock %}
