{% extends "base.html" %}
{% include "staff/nav.html" %}
{% block page_content %}
<section class="section" id="app">
    {% include "messages.html" %}
        {% if current_user.wfh_requesters %}
        <div class="notification is-light is-info">
            *****ท่านจะได้พิจารณาและอนุมัติ WFH โดย
            <strong>
                {% for approver in approvers %}
                    {{ loop.index }}. {{ approver.account.personal_info.fullname }}
                {% endfor %}
            </strong>
            หากข้อมูลผู้บังคับบัญชาไม่ถูกต้อง กรุณาติดต่อ HR เพื่อทำการแก้ไขก่อนส่งคำขอ
        </div>
        {% endif %}
        <div class="columns">
            <div class="column">
                <h4 class="title has-text-centered">รายการขออนุมัติ Work From Home</h4>
                <h1 class="subtitle has-text-centered">สำหรับบุคลากร</h1>
                <div class="buttons is-centered">
                    <a href="{{ url_for('staff.request_work_from_home') }}" class="button is-success">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>ขออนุญาตทำงานที่บ้าน</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        MENU
                    </p>
                    <ul class="menu-list">
                        <li><a {% if category=="pending" %} class="is-active" {% endif %} href="{{ url_for('staff.show_work_from_home', category='pending') }}">รายการที่รออนุมัติ</a></li>
                        <li><a {% if category=="approved" %} class="is-active" {% endif %} href="{{ url_for('staff.show_work_from_home', category='approved') }}">รายการที่อนุมัติแล้ว</a></li>
                        <li><a {% if category=="rejected" %} class="is-active" {% endif %} href="{{ url_for('staff.show_work_from_home', category='rejected') }}">รายการที่ไม่ได้รับการอนุมัติ</a></li>
                        <li><a href="{{ url_for('staff.show_work_from_home_others_records') }}">ประวัติและรายการยกเลิก</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <table class="table is-fullwidth is-striped" id="wfhTable">
                    <thead>
                    <th>วันเริ่มต้น</th>
                    <th>วันสิ้นสุด</th>
                    <th>เรื่อง</th>
                    <th>การอนุมัติ</th>
                    <th>เปลี่ยนแปลง</th>
                    </thead>
                    <tbody>
                    {% for records in wfh_list|sort(attribute='start_datetime') %}
                        <tr>
                            <td>
                                {{ records.start_datetime|localdatetime }}
                            </td>
                            <td>
                                {{ records.end_datetime|localdatetime }}
                            </td>
                            <td>
                                {{ records.detail }}
                            </td>
                            <td>
                                <div class="field is-grouped is-grouped-multiline">
                                    <a class="control" href="{{ url_for('staff.show_wfh_approval', request_id=records.id) }}">
                                        <span class="tags has-addons">
                                            <span class="tag is-dark">อนุมัติ</span>
                                            <span class="tag is-info">{{ records.get_approved|length }}</span>
                                        </span>
                                    </a>
                                    <a class="control" href="{{ url_for('staff.show_wfh_approval', request_id=records.id) }}">
                                        <span class="tags has-addons">
                                            <span class="tag is-dark">ไม่อนุมัติ</span>
                                            <span class="tag is-danger">{{ records.get_unapproved|length }}</span>
                                        </span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="field has-addons">
                                <div class="control">
                                    {% if not records.get_approved and not records.get_unapproved %}
                                    <a class="button"
                                       href="{{ url_for('staff.edit_request_work_from_home', request_id=records['id']) }}"
                                    >
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt has-text-dark"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="control">
                                    {% if not records.get_unapproved and not records.get_approved %}
                                    <a class="button" @click="confirmWfhDelete({{ records['id'] }})">
                                        <span class="icon">
                                            <i class="fas fa-trash has-text-danger"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if is_approver %}
        <hr>
            <h1 class="title has-text-danger has-text-centered is-size-4">สำหรับหัวหน้าส่วนงาน/ผู้บริหาร</h1>
        <div class="columns">
            <div class="column">
                <div class="has-text-centered">
                    <a href="{{ url_for('staff.show_wfh_requests_for_approval') }}"
                       class="button is-light">
                        <span class="icon">
                           <i class="fas fa-users"></i>
                        </span>
                        <span>ข้อมูลการขออนุมัติทำงานที่บ้านของบุคลากรในสังกัด</span>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    new Vue({
        el: '#app',
        delimiters: ['<%', '%>'],
        methods: {
            confirmWfhDelete(request_id) {
                this.$buefy.dialog.confirm({
                    title: 'ยกเลิกคำขอที่' + request_id,
                    message: 'แน่ใจหรือไม่ที่จะ<b>ยกเลิก</b>รายการนี้ หากยกเลิกแล้วจะไม่สามารถแก้ไขได้',
                    confirmText: 'ยืนยันยกเลิกรายการ',
                    type: 'is-danger',
                    hasIcon: true,
                    onConfirm: () => window.location.href = "/staff/wfh/request/" + request_id + "/cancel"
                })
            }
        }
    });
    $(document).ready(function () {
        $('#wfhTable').DataTable();
        $('#wfhApprovedTable').DataTable();
        $('#wfhUnApprovedTable').DataTable();
    });
</script>
{% endblock %}