{% extends "base.html" %}
{% include "staff/nav.html" %}
{% block page_content %}
<section class="section" id="app">
    {% include "messages.html" %}
    <div class="container">
        <h4 class="title has-text-centered">ประวัติการขออนุญาตทำงานที่บ้าน</h4>
        <h1 class="subtitle has-text-centered">สำหรับบุคลากร</h1>
        <div class="columns">
            <div class="column">
                <table class="table is-fullwidth is-striped" id="wfhHistoryTable">
                    <thead>
                    <th>วันเริ่มต้น</th>
                    <th>วันสิ้นสุด</th>
                    <th>เรื่อง</th>
                    <th>การอนุมัติ</th>
                    </thead>
                    <tbody>
                    {% for records in wfh_history|sort(attribute='start_datetime') %}
                    <tr>
                        <td>
                            {{ records.start_datetime|localdatetime }}
                        </td>
                        <td>
                            {{ records.end_datetime|localdatetime }}
                        </td>
                        <td>
                            {{ records.detail }}
                        </td>
                        <td>
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <a href="{{ url_for('staff.show_wfh_approval', request_id=records['id']) }}">
                                    <div class="tags has-addons">
                                            <span class="tag is-dark">อนุมัติ</span>
                                            <span class="tag is-success">{{ records.get_approved|length }}</span>
                                    </div>
                                    </a>
                                </div>
                                <div class="control">
                                    <a href="{{ url_for('staff.show_wfh_approval', request_id=records['id']) }}">
                                    <div class="tags has-addons">
                                            <span class="tag is-dark">ไม่อนุมัติ</span>
                                            <span class="tag is-danger">{{ records.get_unapproved|length }}</span>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <h4 class="title has-text-centered">ประวัติการยกเลิก</h4>
        <div class="columns">
            <div class="column">
                <table class="table is-striped is-fullwidth" id="wfhCancelledTable">
                    <thead>
                    <th>วันเริ่มต้น</th>
                    <th>วันสิ้นสุด</th>
                    <th>เรื่อง</th>
                    <th>วันที่ยกเลิก</th>
                    </thead>
                    <tbody>
                    {% for records in wfh_cancelled_list|sort(attribute='start_datetime') %}
                    <tr>
                        <td>
                            {{ records.start_datetime|localdatetime }}
                        </td>
                        <td>
                            {{ records.end_datetime|localdatetime }}
                        </td>
                        <td>
                            {{ records.detail }}
                        </td>
                        <td>
                            {{ records.cancelled_at|localdatetime }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('staff.show_work_from_home') }}" class="button is-light">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>กลับ</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#wfhHistoryTable').DataTable();
        $('#wfhCancelledTable').DataTable();
    });
</script>
{% endblock %}