{% extends "base.html" %}
{% include "nav.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.6.1/event-calendar.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block page_content %}
    <section class="section">
        <div class="container">
            {% include "messages.html" %}
            <div class="columns">
                <div class="column has-text-centered">
                    <h1 class="title">เพิ่มข้อมูลการปฏิบัติงานนอกเวลา</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third">
                    <div class="field">
                        <label class="label">Jump to...</label>
                        <div class="control">
                            <input name="date-picker" class="input"/>
                        </div>
                    </div>
                    <div id="ot-calendar"></div>
                </div>
                <div class="column">
                    <div class="field" id="slot-selector">
                        <div class="select">
                            <select name="slot-id" hx-trigger="change"
                                    hx-target="#shift-table"
                                    hx-indicator="closest div"
                                    hx-swap="innerHTML"
                                    hx-vals="js:{start: ec.getView()['currentStart'].toLocaleString()}"
                                    hx-get="{{ url_for('ot.show_ot_form_modal') }}">
                                <option>เลือกช่วงเวลาปฏิบัติงาน</option>
                                {% for slot in slots %}
                                    <option value="timeslot-{{ slot.id }}">{{ slot }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box" id="shift-table">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.6.1/event-calendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        let ec = new EventCalendar(document.getElementById('ot-calendar'), {
            view: 'listDay',
            locale: 'th-TH',
            datesSet: function (info) {
                htmx.ajax('GET', '/ot/announcements/{{ announcement_id }}/reset-slot-selector',
                    { swap: 'innerHTML', target: '#slot-selector'})
            },
            eventClick: function (event) {
                htmx.ajax('GET', '/ot/timeslots/' + event.event.id + '/ot-form-modal?start=' + event.event.start.toLocaleString(),
                    { swap: 'innerHTML', target: '#shift-table'})
            },
            eventSources: [
                { url: {{ url_for('ot.get_shifts', announcement_id=announcement_id)|tojson|safe }} }
            ]
        });
        function initSelect2js() {
            $('.js-example-basic-multiple').select2({
                width: "100%",
            })
        }
        document.addEventListener('initSelect2js', initSelect2js)
        document.addEventListener('clearSelection', ()=>{
            $('.js-example-basic-multiple').val(null).trigger('change')
        })
        document.addEventListener('refetchEvents', ()=>{
            ec.refetchEvents()
        })
        moment.locale('th')
        $(document).ready(()=> {
            $('input[name="date-picker"]').daterangepicker({
                singleDatePicker: true,
                startDate: moment(),
            });
        });
        $('input[name="date-picker"]').on('apply.daterangepicker', function(ev, picker) {
          let date = $(this).val();
          let _date = Date.parse(date.split('/').reverse().join('/'));
          ec.setOption('date', new Date(_date));
        });
    </script>
{% endblock %}



