{% extends "base.html" %}
{% include "nav.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock head %}
{% block page_content %}
    <section class="section" id="app">
        <div class="columns">
            <div class="column">
                <h1 class="title">ข้อมูลการทำงานล่วงเวลา</h1>
                <h1 class="subtitle">{{ staff.fullname }}</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label class="label">เลือกช่วงวันที่</label>
                        <input name="dates" class="input"/>
                    </div>
                </div>
                <table id="record-table" class="table is-fullwidth">
                    <thead>
                    <th>ID</th>
                    <th>Staff</th>
                    <th>Role</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Check-Ins</th>
                    <th>Check-Outs</th>
                    <th>Late Mins</th>
                    <th>Payment</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons is-centered">
                    <a class="button is-light" href="{{ url_for('ot.index') }}">
                         <span class="icon">
                             <i class="fa-solid fa-chevron-left"></i>
                         </span>
                        <span>กลับ</span>
                    </a>
                    <button id="load-table" class="button is-warning is-light" onclick="load_data()">
                         <span class="icon">
                             <i class="fa-solid fa-arrows-rotate"></i>
                         </span>
                        <span>โหลดข้อมูล</span>
                    </button>
                    <a id="load-table" class="button is-info is-light" onclick="download_data()">
                         <span class="icon">
                             <i class="fa-solid fa-download"></i>
                         </span>
                        <span>ดาวน์โหลดข้อมูล</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
    let baseURL = {{ url_for('ot.get_all_ot_records_table', announcement_id=announcement_id, staff_id=staff.id)|tojson|safe }}
    let datatable = new $('#record-table').DataTable({
        processing: true,
        ajax: {
            url: baseURL,
            data: {
                start: moment().toISOString(),
                end: moment().add(30, 'days').toISOString(),
            }
        },
        columns: [
            { data: 'id'},
            { data: 'staff' },
            { data: 'title'},
            {
                data: 'start',
                render: function(data, type) {
                    return moment(data).format('lll')
                }
            },
            {
                data: 'end',
                render: function(data, type) {
                    return moment(data).format('lll')
                }
            },
            {
                data: 'checkins',
            },
            {
                data: 'checkouts',
            },
            {
                data: 'late',
            },
            {
                data: 'payment',
            },
        ]
    })
    $('input[name="dates"]').daterangepicker({
        startDate: moment(),
        endDate: moment().add(30, 'days')
    });
    $('input[name="dates"]').on('apply.daterangepicker', function(event, picker) {
        datatable.ajax.url(baseURL + '?start=' + picker.startDate.toISOString()+'&end=' + picker.endDate.toISOString()).load()
    });
    function load_data() {
    }
    function download_data() {
        window.location = baseURL + '?download=yes&start=' + ec.view.currentStart.toISOString()+'&end=' + ec.view.currentEnd.toISOString()
    }
    </script>
{% endblock %}
