aiohappyeyeballs==2.6.1
aiohttp==3.14.1
aiosignal==1.4.0
alembic==1.11.0
aniso8601==9.0.1
annotated-types==0.7.0
APScheduler==3.6.3
arrow==1.2.3
async-timeout==4.0.2
attrs==22.2.0
bahttext==1.0.1
behave==1.2.6
blinker==1.9.0
boto3==1.35.72
botocore==1.35.72
cairocffi==1.7.0
CairoSVG==2.9.0
certifi==2026.6.17
cffi==2.0.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
cryptography==49.0.0
cssselect2==0.9.0
decorator==5.1.1
Deprecated==1.2.18
dnspython==2.6.1
email-validator==1.3.1
et-xmlfile==1.1.0
Flask==3.1.3
Flask-Admin==2.2.0
Flask-Cors==6.0.2
Flask-JWT-Extended==4.7.4
Flask-Login==0.6.3
Flask-Mail==0.9.1
flask-marshmallow==1.5.0
Flask-Migrate==4.0.4
Flask-Principal==0.4.0
Flask-QRcode==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.3
Flask-WeasyPrint==0.6
Flask-WTF==1.3.0
frozenlist==1.3.3
google-api-core==2.11.0
google-api-python-client==2.76.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
greenlet==3.1.1
gspread==5.7.2
gunicorn==23.0.0
gviz-api==1.10.0
html5lib==1.1
httplib2==0.19.0
idna==3.7
itsdangerous==2.2.0
jdcal==1.4.1
Jinja2==3.1.6
jmespath==1.0.1
line-bot-sdk==3.23.1
Mako==1.3.12
MarkupSafe==2.1.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
multidict==6.0.4
numpy==1.23.3
oauth2client==4.1.2
oauthlib==3.2.2
openpyxl==3.1.2
packaging==24.2
pandas==1.5.0
pdfrw==0.4
pillow==12.2.0
fonttools[woff]==4.63.0
propcache==0.3.1
protobuf==4.25.8
psycopg2-binary==2.9.10
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==2.21
pydantic==2.13.4
PyDrive==1.3.1
Pygments==2.20.0
pyHanko==0.20.0
pyhanko-certvalidator==0.23.0
PyJWT==2.13.0
pyparsing==2.4.7
Pyphen==0.9.5
PyQRCode==1.2.1
python-dateutil==2.8.2
python-dotenv==1.2.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.2
qrcode==6.1
reportlab==3.6.13
requests[socks]==2.34.2
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.10.4
six==1.16.0
SQLAlchemy==1.4.46
SQLAlchemy-Utils==0.39.0
pydyf==0.12.1
tinycss2==1.5.1
typing_extensions==4.14.1
typing-inspection==0.4.2
tzdata==2022.7
tzlocal==5.0.1
uharfbuzz==0.37.3
uritemplate==3.0.1
uritools==4.0.1
urllib3==2.7.0
WeasyPrint==69.0
webencodings==0.5.1
Werkzeug==3.1.6
wrapt==1.14.0
WTForms==2.3.3
WTForms-Alchemy==0.18.0
WTForms-Components==0.10.4
yarl==1.20.0
zipp==3.19.1
