{% extends "base.html" %}
{% include "procurement/nav.html" %}
{% block page_content %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">แก้ไขข้อมูลครุภัณฑ์</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="box">
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.category.label }}</label>
                            <div class="select is-fullwidth is-danger">
                                {{ form.category() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.procurement_no.label }}</label>
                            <div class="control">
                                {{ form.procurement_no(class="input is-danger") }}
                            </div>
                            <p class="help is-danger">Required</p>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.erp_code.label }}</label>
                            <div class="control">
                                {{ form.erp_code(class="input is-danger") }}
                            </div>
                            <p class="help is-danger">Required</p>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.document_no.label }}</label>
                            <div class="control">
                                {{ form.document_no(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.name.label }}</label>
                            <div class="control">
                                {{ form.name(class="input is-danger") }}
                            </div>
                            <p class="help is-danger">Required</p>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.available.label }}</label>
                            <div class="control">
                                {{ form.available(class="input is-danger") }}
                            </div>
                            <p class="help is-danger">Required</p>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.model.label }}</label>
                            <div class="control">
                                {{ form.model(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.size.label }}</label>
                            <div class="control">
                                {{ form.size(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.maker.label }}</label>
                            <div class="control">
                                {{ form.maker(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.guarantee.label }}</label>
                            <div class="control">
                                {{ form.guarantee(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.start_guarantee_date.label }}</label>
                            <div class="control">
                                {{ form.start_guarantee_date(class="input", value=default_date, readonly=True) }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.days.label }}</label>
                            <div class="control">
                                {{ form.days(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.serial_no.label }}</label>
                        <div class="control">
                            {{ form.serial_no(class="input is-danger") }}
                        </div>
                        <p class="help is-danger">Required</p>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.purchasing_type.label }}</label>
                            <div class="select is-fullwidth">
                                {{ form.purchasing_type() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.budget_year.label }}</label>
                            <div class="control">
                                {{ form.budget_year(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.price.label }}</label>
                            <div class="control">
                                {{ form.price(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.received_date.label }}</label>
                            <div class="control">
                                {{ form.received_date(class="input", readonly=True) }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.bought_by.label }}</label>
                            <div class="select is-fullwidth">
                                {{ form.bought_by() }}
                            </div>
                        </div>
                    </div><br>
                    <div class="field">
                        <img style='display:block; width:450px;height:350px;' id="preview">
                        <input type="file" accept="image/*" onchange="previewImage(event)">
                    </div>
                    <div class="field">
                        <label class="label">{{ form.comment.label }}</label>
                        <div class="control">
                            {{ form.comment(class="textarea") }}
                        </div>
                    </div><br>
                     <div class="columns">
                        <div class="column has-text-centered">
                            <h2 class="title is-3">ภาควิชาที่ซื้อและสถานที่ตั้ง</h2>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">{{ form.org.label }}</label>
                            <div class="select is-fullwidth">
                                {{ form.org() }}
                            </div>
                        </div>
                        <div class="field">
                                <label class="label">{{ form.location.label }}</label>
                                <div class="select is-fullwidth">
                                    {{ form.location() }}
                                </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.responsible_person.label }}</label>
                            <div class="control">
                                {{ form.responsible_person(class="input") }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="buttons">
                            <button class="button is-success" type="submit" value="submit">บันทึก</button>
                            <a href="{{ url_for('procurement.view_procurement') }}" class="button is-danger">ยกเลิก</a>
                        </div>
                    </div>
                    <hr>
                    </form>
                </div>
             </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>

        $('input[name="start_guarantee_date"]').daterangepicker({
            singleDatePicker: true,
            timePicker: false,
            locale: {
                format: 'YYYY-MM-DD'
            }
        });
        $('input[name="end_guarantee_date"]').daterangepicker({
            singleDatePicker: true,
            timePicker: false,
            locale: {
                format: 'YYYY-MM-DD'
            }
        });
        $('input[name="received_date"]').daterangepicker({
            singleDatePicker: true,
            timePicker: false,
            locale: {
                format: 'YYYY-MM-DD'
            }
        });
    </script>

    <script>
       const previewImage = e => {
          const reader = new FileReader();
          reader.readAsDataURL(e.target.files[0]);
          reader.onload = () => {
             const preview = document.getElementById('preview');
             preview.src = reader.result;
          };
       };
    </script>
{% endblock %}