{% extends "base.html" %}
{% block title %}Procurement Page{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css"
          media="print">
{% endblock head %}
{% include "procurement/nav.html" %}
{% block page_content %}
    <section class="section">
        {% include "messages.html" %}
        <div class="column has-text-centered">
            <img src="{{ url_for('static', filename='img/MUlogo72dpi.jpg') }}" width="100"/>
            <h1 class="title">Procurement</h1>
            <h2 class="subtitle">ระบบจัดการครุภัณฑ์</h2>
        </div>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="Find a repository">
            </div>
            <div class="control">
                <a class="button is-info">
                    Search
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third">
                <aside class="menu">
                    <p class="menu-label is-size-6">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                    </ul>
                    <p class="menu-label is-size-6">
                        จัดการทะเบียน
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('procurement.add_procurement') }}">ลงทะเบียนครุภัณฑ์</a></li>
                        <li><a href="{{ url_for('procurement.add_category_ref') }}">ตั้งค่าประเภทครุภัณฑ์</a></li>
                        <li><a href="{{ url_for('procurement.view_procurement') }}">จัดประเภทครุภัณฑ์</a></li>
                        <li><a href="{{ url_for('procurement.view_procurement') }}"> แก้ไขข้อมูลครุภัณฑ์</a></li>
                    </ul>
                    <p class="menu-label is-size-6">
                        รายงาน
                    </p>
                    <ul class="menu-list">
                        <li><a>ครุภัณฑ์ภายในภาค</a></li>
                        <li><a>สรุปค่าเสื่อมราคา</a></li>
                        <li><a>Print ทะเบียนทรัพย์สิน</a></li>
                        <li><a>ค่าเสื่อมแยกตามทรัพย์สิน</a></li>
                        <li><a>ครุภัณฑ์ไม่ตรงกับทะเบียน</a></li>
                        <li><a>ค้นหาครุภัณฑ์ไม่ตรงกับทะเบียน</a></li>
                    </ul>
                    <p class="menu-label is-size-6">
                        แจ้งครุภัณฑ์
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{ url_for('procurement.select_contact') }}">แจ้งซ่อม</a></li>
                        <li><a>รายงานบริการ</a></li>
                        <li><a>ค้นหารายการ</a></li>
                    </ul>
                    <p class="menu-label is-size-6">
                        ตั้งค่า
                    </p>
                    <ul class="menu-list">
                        <li><a>ตั้งรหัสห้อง</a></li>
                    </ul>
                </aside>
            </div>
            <div class="columns">
                <div class="column">
                    <p class="bd-notification is-info" id="room_calendar"><br>
                    <div class="has-text-centered">
                        <h5 class="subtitle is-6 has-text-grey">
                            All the features can ...
                        </h5>
                    </div>
                    <div class="columns pt-6">
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="has-text-centered">
                                  <span class="icon is-large">
                                    <i class="fas fa-user-circle fa-4x"></i>
                                  </span>
                                    </div>
                                    <br>
                                    <p class="title is-4">
                                        เพิ่มข้อมูล
                                    </p>
                                    <div class="content">
                                        การเพิ่มรายละเอียดข้อมูลและอัพโหลดไฟล์ของครุภัณฑ์
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{{ url_for('procurement.add_procurement') }}" class="card-footer-item">ลงทะเบียน</a>
                                </footer>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="has-text-centered">
                                  <span class="icon is-large">
                                    <i class="fas fa-search fa-4x"></i>
                                  </span>
                                    </div>
                                    <br>
                                    <p class="title is-4">
                                        ค้นหา
                                    </p>
                                    <div class="content">
                                        การค้นหาข้อมูลและไฟล์เอกสารของครุภัณฑ์
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{{ url_for('procurement.find_data') }}" class="card-footer-item">ค้นหา</a>
                                </footer>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="has-text-centered">
                                  <span class="icon is-large">
                                    <i class="fas fa-server fa-4x"></i>
                                  </span>
                                    </div>
                                    <br>
                                    <p class="title is-4">
                                        ข้อมูลครุภัณฑ์
                                    </p>
                                    <div class="content">
                                        การดูข้อมูลและไฟล์เอกสารของครุภัณฑ์ทั้งหมด
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{{ url_for('procurement.view_procurement') }}"
                                       class="card-footer-item">ดูข้อมูล</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script>
        $(function () {
            $('#room_calendar').fullCalendar({
                header: {
                    left: 'title',
                },
                events: '/room/api/events',
                eventLimit: true,
                eventClick: function (calEvent, jsEvent, view) {
                    window.location = '/room/events/' + calEvent.id;
                }
            });
        });
    </script>
{% endblock %}
