{% extends "base.html" %}
{% block title %}Procurement Information{% endblock %}
{% block page_content %}
    <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{{ url_for('procurement.index_borrow_detail') }}">
                    <span class="icon is-small">
                      <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                        <span>Home</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="#">
                    <span class="icon is-small">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                        <span>Procurement Details</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">All Procurement Information of IT Unit</h1>
                <h2 class="subtitle">ค้นหาโดยชื่อรายการ, รหัสครุภัณฑ์, รหัส ERP</h2>
            </div>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <table id="data" class="table is-striped" style="width:100%">
                        <thead>
                        <th>Name</th>
                        <th>Inventory Number/ERP</th>
                        <th>เลือก</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                searchDelay: 350,
                ajax: '{{ url_for("audio_visual.get_audio_visual_items_data") }}',
                serverSide: true,
                columns: [
                    {data: 'name'},
                    {data: 'erp_code'},
                    {data: 'borrow_computer'}

                ],
            });
        });
    </script>
{% endblock %}