{% extends "base.html" %}
{% block title %}Add New Farm Information{% endblock %}
{% include "food/nav.html" %}
{% block page_content %}
<section class="section">
<h1 class="title">เพิ่มข้อมูลแปลงเกษตร</h1>
<h3 class="subtitle">เจ้าของแปลง : {{ owner.firstname + ' ' +  owner.lastname }}</h3>
{% if errors %}
<div class="notification is-danger">
  <button class="delete"></button>
  {% for error in errors %}
  <p>{{ error }}</p>
  {% endfor %}
</div>
{% endif %}
<div class="columns">
  <form method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="column">
    <div class="control">
      <input class="input" type="hidden" name="owner_id" value="{{ owner.id }}">
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">บ้านเลขที่</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded">
            <input class="input" name="street_address" type="text"
            placeholder="" required>
          </div>
          <p class="help">อาจจะไม่ใช่ที่อยู่เดียวกันกับเจ้าของแปลง</p>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">หมู่</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" name="village" type="text" placeholder=""
            required>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
          <label class="label">จังหวัด</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control is-expanded">
            <div class="select is-rounded">
                <select name="province" data-bind="options: provinces,
                                    optionsText: 'name',
                                    optionsValue: 'id',
                                    value: province,
                                    optionsCaption: 'โปรดเลือกจังหวัด..'" required>
                </select>
            </div>
          </div>
          <div class="control is-expanded">
            <div class="select is-rounded">
              <select name="district" data-bind="options: local_districts,
                                  optionsText: 'name',
                                  optionsValue: 'id',
                                  value: district,
                                  optionsCaption: 'โปรดเลือกอำเภอ..'" required>
              </select>
            </div>
          </div>
          <div class="control is-expanded">
            <div class="select is-rounded">
              <select name="subdistrict" data-bind="options: local_subdistricts,
                                  optionsText: 'name',
                                  optionsValue: 'id',
                                  value: subdistrict,
                                  optionsCaption: 'โปรดเลือกตำบล..'" required>
              </select>
            </div>
          </div>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">รูปแบบการเกษตร</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select is-rounded">
              <select name="agritype" data-bind="options: agritypes,
                                  optionsText: 'name',
                                  optionsValue: 'id',
                                  value: agritype,
                                  optionsCaption: 'โปรดเลือกชนิดของการเกษตร..'"
                                  required>
              </select>
            </div>
          </div>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">เนื้อที่การเกษตรทั้งหมด</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" value=0 name="total_size" type="number" step="any"
            required>
          </div>
          <p class="help">ตัวอย่าง 10.3 เท่ากับ 10 ไร่ 3 งาน</p>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">เนื้อที่การเกษตรของตนเอง</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" value=0 name="total_owned_size" type="number"
            step="any">
          </div>
          <p class="help">*optional</p>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">เนื้อที่เช่าทำการเกษตร</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" value=0 name="total_leased_size" type="number"
            step="any">
          </div>
          <p class="help">*optional</p>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">ผลผลิตทางการเกษตร</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
              <div class="select is-multiple">
                  <select multiple name="selected_produce">
                    {% for prod in produce %}
                    <option value="{{ prod['ref'] }}">{{ prod['name'] }} {% if prod['breed'] %} ({{ prod['breed'] }}) {% endif %}</option>
                    {% endfor %}
                  </select>
              </div>
          </div>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->
    <div>
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-primary" type="submit" value="Submit">
          </div>
          <div class="control">
            <input class="button is-danger" type="reset" value="Reset">
          </div>
        </div> <!-- field -->
      </div> <!-- field-body -->
    </div> <!-- field-horizontal -->


  </div> <!-- column -->
  </form>
</div> <!-- columns -->
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  var viewModel = function() {
    var self = this;
    self.agritypes = {{ agritypes|tojson|safe }};
    self.provinces = {{ provinces|tojson|safe }};
    self.districts = {{ districts|tojson|safe }};
    self.subdistricts = {{ subdistricts|tojson|safe }};
    self.agritype = ko.observable();
    self.province = ko.observable(self.provinces[16].id);
    self.district = ko.observable();
    self.subdistrict = ko.observable();
    self.local_districts = ko.computed(function() {
        var tmp = [];
        $.each(self.districts, function(idx, d) {
            if (d.province_id === self.province()) {
                tmp.push(d);
            }
        });
        return tmp;
    });
    self.local_subdistricts = ko.computed(function() {
        var tmp = [];
        $.each(self.subdistricts, function(idx, d) {
            if (d.district_id === self.district()) {
                tmp.push(d);
            }
        });
        return tmp;
    });
  }
  var vm = new viewModel();
  ko.applyBindings(vm);
</script>
{% endblock %}
