{% extends "base.html" %}
{% block title %}MUMT Internal Information System{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% include "nav.html" %}
{% block page_content %}
    <section class="section" id="app">
        {% include "messages.html" %}
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-9">
                    <div class="columns is-vcentered is-mobile is-flex">
                        <div class="column has-text-left">
                            <h1 class="title">รายละเอียดขอรับบริการพัฒนา Software</h1>
                        </div>
                        <div class="column has-text-right is-narrow">
                            <!-- ใส่ข้อมูลสถานะตรงนี้ -->
                            <h5 class="title is-size-4">สถานะ : {{ detail.status }}</h5>
                        </div>
                    </div>
                    <h5 class="title is-size-4">ข้อมูลผู้แจ้ง</h5>
                    <div class="box">
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">วันที่ส่งคำขอ</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.created_date|localdatetime }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">ผู้ส่งคำขอ</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.created_by.fullname }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">สังกัด</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.created_by.personal_info.org }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="title is-size-4">ข้อมูลคำขอรับบริการ</h5>
                    <div class="box">
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">ประเภทคำขอ</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.type }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">ชื่อโครงการ/ระบบที่เกี่ยวข้อง</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">กระบวนการทำงาน</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.system or 'ไม่มีกระบวนการทำงาน' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">โครงการที่เกี่ยวข้อง</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.activity or 'ไม่มีโครงการที่เกี่ยวข้อง' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label has-text-left">
                                <label class="label">เหตุผลและความจำเป็น</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">เอกสารแนบ</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {% if file_url %}
                                            <a href="{{ file_url }}" target="_blank">{{ detail.file_name }}</a>
                                        {% else %}
                                            ไม่มีเอกสารแนบ
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">ข้อมูลที่ต้องการขอเพิ่มเติมจากผู้ส่งคำขอ</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.required_information or 'ไม่มีข้อมูลที่ต้องการเพิ่มติมจากผู้ส่งคำขอ' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">ข้อเสนอแนะจากหน่วย IT</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ detail.suggestion or 'ไม่มีข้อเสนอแนะจากหน่วย IT' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-left">นัดหมายเพิ่มเติมกับผู้ส่งคำขอ</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">วันนัดหมาย</label>
                                    <div class="control">
                                        {{ detail.appointment_date|localdatetime or 'ไม่มีวันนัดหมาย' }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">สถานที่</label>
                                    <div class="control">
                                        {{ detail.room or 'ไม่มีห้อง' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if detail.status == 'ยกเลิก' %}
                            <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label has-text-left">สาเหตุการยกเลิกคำขอ</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            {{ detail.reason or 'ไม่มีสาเหตุการยกเลิกคำขอ' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if detail.approver_id %}
                            <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label has-text-left">Update ล่าสุด</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        {{ detail.updated_date|localdatetime }} โดย {{ detail.approver.fullname }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <h5 class="title is-size-4">ข้อมูล Timeline</h5>
                    <div class="box">
                        {% if detail.status == 'อนุมัติ' or detail.status == 'ยกเลิก' %}
                            <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label has-text-left">Timeline</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <div class="control">
                                            {% if detail.timelines %}
                                                <table class="table is-fullwidth is-striped is-hoverable">
                                                    <thead>
                                                    <th>Sequence</th>
                                                    <th>Task</th>
                                                    <th>สถานะ</th>
                                                    <th>Phase</th>
                                                    <th>วันที่เริ่มต้น</th>
                                                    <th>วันที่คาดว่าจะแล้วเสร็จ</th>
                                                    <th>ผู้รับผิดชอบ</th>
                                                    </thead>
                                                    <tbody id="timelines">
                                                    {% for timeline in detail.timelines|sort(attribute='sequence') %}
                                                        <tr>
                                                            <td>{{ timeline.sequence }}</td>
                                                            <td>{{ timeline.task }}</td>
                                                            <td>
                                                                    <span {% if timeline.status == 'รอดำเนินการ' %}
                                                                        class="tag is-info is-light"
                                                                    {% elif timeline.status == 'กำลังดำเนินการ' %}
                                                                        class="tag is-warning is-light"
                                                                    {% elif timeline.status == 'เสร็จสิ้น' %}
                                                                        class="tag is-success is-light"
                                                                    {% else %}
                                                                        class="tag is-danger is-light"
                                                                    {% endif %}
                                                                    >
                                                                            {{ timeline.status }}
                                                                    </span>
                                                            </td>
                                                            <td>{{ timeline.phase }}</td>
                                                            <td>{{ timeline.start.strftime('%d/%m/%Y') }}</td>
                                                            <td>{{ timeline.estimate.strftime('%d/%m/%Y') }}</td>
                                                            <td>{{ timeline.admin.fullname }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                ไม่มีข้อมูล Timeline
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            ยังไม่มีข้อมูล Timeline
                        {% endif %}
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <a href="{{ url_for('software_request.index') }}" class="button">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}