{% extends "base.html" %}
{% block title %}Add/Edit KPI{% endblock %}
{% include "kpi/nav.html" %}
{% block page_content %}
<section class="section">
<h1 class="title">ข้อมูลตัวชี้วัด no. {{ kpi.id }}</h1>
<form method="post">
    <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="field">
                        <label class="label">ชื่อตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="name" value="{{kpi.name or ''}}"
                                placeholder="KPI name"/>
                        </div>
                        <p class="help">ตัวอย่าง จำนวนบัณฑิตที่สอบผ่านใบประกอบวิชาชีพ</p>
                    </div>
                    <div class="field">
                        <label class="label">เลขอ้างอิงตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="refno" value="{{kpi.refno or ''}}"
                                placeholder="KPI ref. no."/>
                        </div>
                        <p class="help">ตัวอย่าง 1.2</p>
                    </div>
                    <div class="field">
                        <label class="label">ความถี่ในการเก็บข้อมูลตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="frequency" value="{{kpi.frequency or ''}}"
                                placeholder="KPI frequency" />
                        </div>
                        <p class="help">ความถี่นับเป็นจำนวนวัน</p>
                    </div>
                    <div class="field">
                        <label class="label">หน่วยของข้อมูล</label>
                        <div class="control">
                            <input class="input" type="text" name="unit" value="{{kpi.unit or ''}}"
                                placeholder="KPI unit" />
                        </div>
                        <p class="help">ร้อยละ ชั่วโมง จำนวนนับเป็นต้น</p>
                    </div>
                    <div class="field">
                        <label class="label">แหล่งของข้อมูล</label>
                        <div class="control">
                            <textarea class="textarea" type="text" name="source"
                                placeholder="KPI data sources">{{kpi.source or ''}}</textarea>
                        </div>
                        <p class="help">ร้อยละ ชั่วโมง จำนวนนับเป็นต้น</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="field">
                        <label class="label">ข้อมูลพร้อมใช้งานหรือไม่</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="available"
                                       {% if kpi.available %} checked {% endif %} value=true>
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="available"
                                       {% if not kpi.available %} checked {% endif %} value=false>
                                No
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">ความพร้อมใช้ของข้อมูล (availability)</label>
                        <div class="control">
                            <textarea class="textarea" type="text" name="availability"
                                placeholder="KPI data availability">{{kpi.availability or ''}}</textarea>
                        </div>
                        <p class="help">เช่น เก็บโดยอัตโนมัติ หรือ ต้องใช้กระบวนการที่ซับซ้อน เป็นตัน</p>
                    </div>
                    <div class="field">
                        <label class="label">นิยาม สูตรการคิดตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="formula" value="{{kpi.formula or ''}}"
                                   placeholder="KPI definition" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">หมายเหตุหรือสมมติฐาน</label>
                        <div class="control">
                            <textarea class="textarea" type="text" name="note"
                              placeholder="KPI note or assumption">{{kpi.note or ''}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">KPI Targets</div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <label class="label">เป้าหมาย</label>
                        <div class="control">
                            <input class="input" type="text" name="target" value="{{kpi.target or ''}}"
                                   placeholder="KPI target"></input>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">หลักการ ที่มาของเป้าหมาย</label>
                        <div class="control">
                            <textarea class="textarea" type="text" name="target_source"
                              placeholder="KPI rationale">{{kpi.target_source or ''}}</textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">ผู้รับผิดชอบในการทำให้บรรลุเป้าหมาย</label>
                        <div class="control">
                            <input class="input" type="text" name="target_account" value="{{kpi.target_account or ''}}"
                                   placeholder="KPI target accountable" pattern="\w+\.\w{3}"></input>
                        </div>
                        <p class="help">เช่น likit.pre</p>
                    </div>
                    <div class="field">
                        <label class="label">ผู้ประสานงานในการติดตามเป้าหมาย และรายงาน</label>
                        <div class="control">
                            <input class="input" type="text" name="target_reporter" value="{{kpi.target_reporter or ''}}"
                                   placeholder="KPI target tracking and reporting" pattern="\w+\.\w{3}"></input>
                        </div>
                        <p class="help">เช่น likit.pre</p>
                    </div>
                    <div class="field">
                        <label class="label">ผู้รับผิดชอบในการตั้งเป้าหมาย</label>
                        <div class="control">
                            <input class="input" type="text" name="target_setter" value="{{kpi.target_setter or ''}}"
                                   placeholder="KPI target setting" pattern="\w+\.\w{3}"></input>
                        </div>
                        <p class="help">เช่น likit.pre</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">Reporting the KPI</div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <label class="label">ผู้รับผิดชอบในการรายงานตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="account" value="{{kpi.account or ''}}"
                                placeholder="Accountable person(s)" pattern="\w+\.\w{3}"></input>
                        </div>
                        <p class="help">เช่น likit.pre</p>
                    </div>
                    <div class="field">
                        <label class="label">ผู้ประสานงานในการรายงานตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="reporter" value="{{kpi.reporter or ''}}"
                                placeholder="Responsible person(s)" pattern="\w+\.\w{3}"></input>
                        </div>
                        <p class="help">เช่น likit.pre</p>
                    </div>
                    <div class="field">
                        <label class="label">Link แสดงผลข้อมูล</label>
                        <div class="control">
                            <input class="input" type="text" name="reportlink" value="{{kpi.reportlink or ''}}"
                                placeholder=""></input>
                        </div>
                        <p class="help">เช่น /service/eqamembers</p>
                    </div>
                    <div class="field">
                        <label class="label">ที่ปรึกษา</label>
                        <div class="control">
                            <input class="input" type="text" name="consult" value="{{kpi.consult or ''}}"
                                placeholder="Consultant(s)" pattern="\w+\.\w{3}"></input>
                        </div>
                        <p class="help">เช่น likit.pre</p>
                    </div>
                    <div class="field">
                        <label class="label">ผู้รับรายงาน</label>
                        <div class="control">
                            <input class="input" type="text" name="informed" value="{{kpi.informed or ''}}"
                                placeholder="Informed person(s)" pattern="\w+\.\w{3}"></input>
                        </div>
                        <p class="help">เช่น likit.pre</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">KPI Performance</div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <label class="label">ผู้รับผิดชอบประสิทธิภาพตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="pfm_account" value="{{kpi.pfm_account or ''}}"
                                   placeholder="A performance accountable person" pattern="\w+\.\w{3}"></input>
                            <p class="help">เช่น likit.pre</p>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <label class="label">ผู้ประสานงานประสิทธิภาพตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="pfm_responsible" value="{{kpi.pfm_responsible or ''}}"
                                   placeholder="A performance responsible person" pattern="\w+\.\w{3}"></input>
                            <p class="help">เช่น likit.pre</p>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <label class="label">ที่ปรึกษาด้านประสิทธิภาพตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="pfm_consult" value="{{kpi.pfm_consult or ''}}"
                                   placeholder="A performance consultant" pattern="\w+\.\w{3}"></input>
                            <p class="help">เช่น likit.pre</p>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <label class="label">ผู้รับรายงานประสิทธิภาพตัวชี้วัด</label>
                        <div class="control">
                            <input class="input" type="text" name="pfm_informed" value="{{kpi.pfm_informed or ''}}"
                                   placeholder="An performance informed person" pattern="\w+\.\w{3}"></input>
                            <p class="help">เช่น likit.pre</p>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <div class="control">
                            <label class="label">แก้ไขโดย</label>
                            <input class="input is-danger" id="updater" name="updated_by" value=""
                                pattern="\w+\.\w{3}" required placeholder="Updated by"></input>
                            <p class="help">เช่น likit.pre</p>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit" value="Submit">Submit</button>
                        </div>
                        <div class="control">
                            <a href="#" class="button is-text">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
</script>
</section>
{% endblock %}