<div class="card subform-card mb-4" id="{{ fields.name }}">
    <header class="card-header">
        <p class="card-header-title">{{ fields.label }}</p>
    </header>
    <div class="card-content">
        {% for field in fields %}
            {% if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
                {% if field.type == 'FieldList' %}
                    <table class="table is-fullwidth ">
                        <thead>
                        {% for subform in field %}
                            {% if loop.first %}
                                {% for _field in subform %}
                                    {% if _field.type != 'CSRFTokenField' %}
                                        <th style="border: none">{{ _field.label.text }}</th>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </thead>
                        <tbody>
                        {% for subform in field %}
                            <tr>
                                {% for _field in subform %}
                                    {% if _field.type != 'CSRFTokenField' %}
                                        <td style="border: none">{{ _field() }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="field">
                        <label class="label">{{ field.label }}</label>
                        <div class="control">
                            {{ field() }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <button id="{{ fields.name }}" type="button" class="button is-danger is-rounded is-small remove-subform"
                hx-target=".subform-card"
                hx-swap="innerHTML"
        >
            ลบ
        </button>
    </div>
</div>
<script>
    function toggleTable() {
        const anyChecked = $('table tbody tr input[type="checkbox"]:checked').length > 0;
        if (!anyChecked) {
            $('table tbody tr input[type="checkbox"]').attr('required', true);
        } else {
            $('table tbody tr input[type="checkbox"]').removeAttr('required');
        }

        $('table tbody tr').each(function () {
            const row = $(this);
            const checkbox = row.find('input[type="checkbox"]');
            const textInputs = row.find('input[type="text"]');

            if (checkbox.is(':checked')) {
                textInputs.prop('disabled', false).attr('required', true);
            } else {
                textInputs.prop('disabled', true).val('').removeAttr('required');
            }
        });

        $('table tbody tr input[type="checkbox"]').on('change', function () {
            const anyChecked = $('table tbody tr input[type="checkbox"]:checked').length > 0;
            if (!anyChecked) {
                $('table tbody tr input[type="checkbox"]').attr('required', true);
            } else {
                $('table tbody tr input[type="checkbox"]').removeAttr('required');
            }

            const row = $(this).closest('tr');
            const checked = $(this).is(':checked');

            row.find('input[type="text"]').each(function () {
                if (checked) {
                    $(this).prop('disabled', false);
                } else {
                    $(this).prop('disabled', true).val('');
                }
            });

        });
    }

    function addRequiredField(subform) {
        const testMethodInput = subform.find('input[name$="test_method"]');
        const cleanTypeInput = subform.find('input[name$="clean_type"]');
        const dilutionInput = subform.find('input[name$="dilution"]');
        const surfaceTypeInput = subform.find('input[name$="surface_type"]');
        const qualitativeTestInput = subform.find('input[name$="qualitative_test"]');
        const quantitativeTestInput = subform.find('input[name$="quantitative_test"]');

        const checkedCount = testMethodInput.filter(':checked').length;
        testMethodInput.prop('required', checkedCount === 0);

        testMethodInput.on('change', function () {
            const checkedCount = testMethodInput.filter(':checked').length;
            testMethodInput.prop('required', checkedCount === 0);
        });

        cleanTypeInput.prop('required', true);
        dilutionInput.prop('required', true);
        surfaceTypeInput.prop('required', true);

        const qualitativeTestChecked = qualitativeTestInput.is(':checked');
        const quantitativeTestChecked = quantitativeTestInput.is(':checked');

        if (qualitativeTestChecked || quantitativeTestChecked) {
            qualitativeTestInput.prop('required', false);
            quantitativeTestInput.prop('required', false);
        } else {
            qualitativeTestInput.prop('required', true);
            quantitativeTestInput.prop('required', true);
        }

        qualitativeTestInput.on('change', function () {
            const qualitativeTestChecked = qualitativeTestInput.is(':checked');
            const quantitativeTestChecked = quantitativeTestInput.is(':checked');
            if (qualitativeTestChecked || quantitativeTestChecked) {
                qualitativeTestInput.prop('required', false);
                quantitativeTestInput.prop('required', false);
            } else {
                qualitativeTestInput.prop('required', true);
                quantitativeTestInput.prop('required', true);
            }
        });

        quantitativeTestInput.on('change', function () {
            const qualitativeTestChecked = qualitativeTestInput.is(':checked');
            const quantitativeTestChecked = quantitativeTestInput.is(':checked');
            if (qualitativeTestChecked || quantitativeTestChecked) {
                qualitativeTestInput.prop('required', false);
                quantitativeTestInput.prop('required', false);
            } else {
                qualitativeTestInput.prop('required', true);
                quantitativeTestInput.prop('required', true);
            }
        });
    }

    function showSurfaceTypeOtherInput(subform) {
        const surfaceTypeField = subform.find('input[type="radio"][name$="surface_type"]:checked').val();
        const surfaceTypeOtherInput = subform.find('input[name$="surface_type_other"]');
        const surfaceTypeOtherField = surfaceTypeOtherInput.closest('.field');

        if (surfaceTypeField && surfaceTypeField.includes('อื่นๆ โปรดระบุ')) {
            surfaceTypeOtherField.show();
            surfaceTypeOtherInput.prop('required', true);
        } else {
            surfaceTypeOtherField.hide();
            surfaceTypeOtherInput.val('');
        }
    }

    $('.subform-card').each(function () {
        const subform = $(this);
        toggleTable();
        addRequiredField(subform);
        showSurfaceTypeOtherInput(subform);
        subform.find('input[type="radio"][name$="surface_type"]').change(function () {
            showSurfaceTypeOtherInput(subform);
        });
    });
</script>