<div class="card subform-card mb-4" id="{{ fields.name }}">
    <header class="card-header">
        <p class="card-header-title">{{ fields.label }}</p>
    </header>
    <div class="card-content">
        {% for field in fields %}
            {% if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
                {% if field.type == 'FieldList' %}
                    <table class="table is-fullwidth ">
                        <thead>
                        {% for subform in field %}
                            {% if loop.first %}
                                {% for _field in subform %}
                                    {% if _field.type != 'CSRFTokenField' %}
                                        <th style="border: none">
                                            {{ _field.label.text }}
                                            {% if _field.label.text != 'อัตราส่วนเจือจางผลิตภัณฑ์' and _field.label.text != 'ต่อน้ำ' %}
                                                <span class="has-text-danger">*</span>
                                            {% endif %}
                                        </th>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </thead>
                        <tbody>
                        {% for subform in field %}
                            <tr>
                                {% for _field in subform %}
                                    {% if _field.type != 'CSRFTokenField' %}
                                        <td style="border: none">{{ _field() }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="field">
                        <label class="label">
                            {{ field.label }}
                            <span class="has-text-danger">*</span>
                        </label>
                        <div class="control">
                            {{ field() }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>