{% extends "base.html" %}
{% block title %}MUMT-MIS: KPI Dashboard{% endblock %}
{% include "kpi/dashboard/nav.html" %}
{% block page_content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter has-text-centered">
                    {% include 'messages.html' %}
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <nav class="panel is-primary">
                        <p class="panel-heading">KPI Dashboard</p>
                        {% for d in dashboard %}
                            {% if d.is_kpi %}
                            <a href="{{ d.url }}" target="_blank" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <span>{{ d.name }}</span>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </nav>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <nav class="panel is-primary">
                        <p class="panel-heading">Dashboard งานประจำ</p>
                        {% for d in dashboard %}
                            <a href="{{ d.url }}" target="_blank" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <span>{{ d.name }}</span>
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
