{% extends "base.html" %}
{% block page_content %}
{% include "comhealth/nav.html" %}
<section class="section" id="app">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <nav class="breadcrumb has-bullet-separator is-centered" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{{ url_for('comhealth.index') }}">Services</a></li>
                        <li><a href="{{ url_for('comhealth.display_service_customers', service_id=service.id) }}">รายชื่อผู้รับบริการ</a></li>
                        <li><a href="{{ url_for('comhealth.edit_service', service_id=service.id) }}" aria-current="page">รายการทดสอบที่ให้บริการ</a></li>
                        <li class="is-active"><a href="#" aria-current="page">ราคา</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2 has-text-centered">
                <h1 class="title">รายการทดสอบ</h1>
                <h1 class="subtitle">{{ service.location }}</h1>
                <h1>
                    <span class="icon">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                    <span>
                        {{ service.date }}
                    </span>
                </h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            <span>Profile</span>&nbsp;
                        </p>
                    </div>
                    <div class="card-content">
                        {% for profile in service.profiles %}
                        <p class="notification is-light"><strong>{{ profile.name }}</strong> [ราคาชุด {{ profile.quote }} บาท]</p>
                        <table class="table is-striped">
                            <thead>
                            <th>รหัส</th>
                            <th>ชื่อ</th>
                            <th>รายละเอียด</th>
                            <th>รหัสกรมบัญชีกลาง</th>
                            <th>ราคาตั้งต้น</th>
                            <th>ราคานำเสนอ</th>
                            </thead>
                            <tbody>
                            {% for t in profile.test_items %}
                            <tr {% if t.test.default_price != t.price %} bgcolor="#f4a460" {% endif %}>
                                <td>{{ t.test.code }}</td>
                                <td>{{ t.test.name }}</td>
                                <td>{{ t.test.desc }}</td>
                                <td>{{ t.test.gov_code or '' }}</td>
                                <td>{{ t.test.default_price }}</td>
                                <td>{{ t.price }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            <span>Group</span>&nbsp;
                        </p>
                    </div>
                    <div class="card-content">
                        {% for group in service.groups %}
                        <p class="notification is-light"><strong>{{ group.name }}</strong></p>
                        <table class="table is-striped">
                            <thead>
                            <th>รหัส</th>
                            <th>ชื่อ</th>
                            <th>รายละเอียด</th>
                            <th>รหัสกรมบัญชีกลาง</th>
                            <th>ราคาตั้งต้น</th>
                            <th>ราคานำเสนอ</th>
                            </thead>
                            <tbody>
                            {% for t in group.test_items %}
                            <tr {% if t.test.default_price != t.price %} bgcolor="#f4a460" {% endif %}>
                                <td>{{ t.test.code }}</td>
                                <td>{{ t.test.name }}</td>
                                <td>{{ t.test.desc }}</td>
                                <td>{{ t.test.gov_code or '' }}</td>
                                <td>{{ t.test.default_price }}</td>
                                <td>{{ t.price }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
