{% extends "admin/master.html" %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-body">
        ไฟล์ Excel ควรมี Sheet เดียวประกอบไปด้วยสองคอลัมน์คือ รหัสของชนิดพนักงานและชื่อของชนิดพนักงาน
    </div>
</div>
<form action="{{ url_for('employment_type.upload') }}"
      method=post enctype=multipart/form-data>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="inputFile">Select Excel file</label>
        <input type="file" id="inputFile" name="file">
    </div>
    <input type="submit" value="Upload" class="btn btn-default"/>
</form>
{% endblock %}