{% extends "base.html" %}
{% block page_content %}
{% include "comhealth/nav.html" %}
<section class="section" id="app">
    <div class="container has-text-centered">
        <h1 class="title">รายการสรุปใบเสร็จรับเงิน</h1>
        <h1 class="title is-4">{{ service.location }}</h1>
        <h1 class="subtitle">วันที่ {{ service.date }}</h1>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label>วันออกตรวจ (ค.ศ.)</label>
            <input type="text" id="scheduledate" placeholder="01/12/2025" name="scheduledate">
             <input type="submit" value="Submit">

        <hr>
        <table class="table is-fullwidth is-striped">
            <thead>
                <th>จำนวนใบเสร็จ</th>
                <th>จ่ายด้วย QR</th>
                <th>จ่ายบัตรเครดิต</th>
                <th>จ่ายด้วยเงินสด</th>
                <th>จำนวนเงินรวม</th>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ count_receipts }}</td>
                        <td>{{ totals_paid_QR }}</td>
                        <td>{{ totals_paid_card }}</td>
                        <td>{{ totals_paid_cash }}</td>
                        <td>{{ totals_paid_amount }}</td>
                    </tr>
            </tbody>
        </table>
        <a class="button is-info"
           href="{{ url_for('comhealth.download_receipts_all_summary',service_id=service.id, summary_type='all',schedule_date_thaiform=schedule_date_thaiform)}}">
            <span class="icon">
                <i class="fas fa-receipt"></i>
            </span>
            <span>Excel ใบเสร็จรับเงินทั้งหมด</span>
        </a>
        <a class="button is-success"
           href="{{ url_for('comhealth.download_receipts_all_summary',service_id=service.id, summary_type='income',schedule_date_thaiform=schedule_date_thaiform)}}">
            <span class="icon">
                <i class="fas fa-receipt"></i>
            </span>
            <span>Excel ใบเสร็จรับเงินที่ได้รับ</span>
        </a>
        <a class="button is-danger"
           href="{{ url_for('comhealth.download_receipts_all_summary',service_id=service.id, summary_type='cancel',schedule_date_thaiform=schedule_date_thaiform)}}">
            <span class="icon">
                <i class="fas fa-receipt"></i>
            </span>
            <span>Excel ใบเสร็จรับเงินที่ยกเลิก</span>
        </a>
        </form>
    </div>
</section>
{% endblock %}
