{% extends "base.html" %}
{% include "comhealth/nav.html" %}
{% block page_content %}
<section class="section" id="app">
    <div class="container">
        <div class="column is-two-thirds is-offset-2">
            <input type="text" v-model="query" class="input is-large is-rounded"
                           placeholder="ค้นหาสถานที่ออกตรวจ">
        </div>
    <div class="columns">
        <div class="column">
            <b-table :data="fltServices" :paginated="true" :per-page="10" default-sort="date" default-sort-direction="dsc">
                <template slot-scope="props">
                    <b-table-column field="id" label="ID" numeric>
                        <% props.row.id %>
                    </b-table-column>
                    <b-table-column field="date" label="Date" centered>
                        <% moment(props.row.date).format('ll') %>
                    </b-table-column>
                    <b-table-column field="location" label="Location" sortable>
                        <% props.row.location %>
                    </b-table-column>
                    <b-table-column field="records" label="Registered Customers" sortable numeric centered>
                        <% props.row.registered %>
                    </b-table-column>
                    <b-table-column field="" label="Checked In Customers" sortable numeric centered>
                        <% props.row.checkedin %>
                    </b-table-column>
                    <b-table-column field="" label="Detail">
                        <a class="button is-rounded is-light" v-bind:href="'/comhealth/services/'+props.row.id+'/finance/records'">
                            <span class="icon">
                                <i class="fas fa-list-ol"></i>
                            </span>
                            <span>Records</span>
                        </a>
                    </b-table-column>
                    <b-table-column field="" label="Summary">
                        <a class="button is-rounded is-light" v-bind:href="'/comhealth/services/'+props.row.id+'/finance/summary'">
                            <span class="icon">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span>Summary</span>
                        </a>
                    </b-table-column>
                </template>
            </b-table>
        </div>
    </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            delimiters: ['<%', '%>'],
            data() {
                return {
                    services: {{ services|tojson|safe }},
                    query: '',
                }
            },
            computed: {
                fltServices: function () {
                    var self = this;
                    return self.services.filter(function (item) {
                        if (self.query !== "") {
                            var match = item.location
                                .toString()
                                .toLowerCase()
                                .indexOf(self.query.toLowerCase()) >= 0;
                            return match;
                        } else {
                            return self.services;
                        }
                    })
                }
            }
        });
    </script>
{% endblock %}
