{% extends "base.html" %}
{% block title %}MUMT-MIS: Community Health Information System{% endblock %}
{% include "comhealth/nav.html" %}
{% block page_content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="container has-text-centered">
                <a href="{{ url_for('comhealth.index') }}">
                <div class="box">
                    <span class="icon is-large">
                        <i class="fas fa-user-clock fa-4x"></i>
                    </span><br><br>
                    <span class="is-size-4">ลงทะเบียนรับบริการ</span>
                </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="container has-text-centered">
                <a href="{{ url_for('comhealth.health_record_landing') }}">
                    <div class="box">
                    <span class="icon is-large">
                        <i class="fas fa-notes-medical fa-4x"></i>
                    </span><br><br>
                        <span class="is-size-4">ประวัติสุขภาพ</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="container has-text-centered">
                <a href="{{ url_for('comhealth.finance_landing') }}">
                <div class="box">
                    <span class="icon is-large">
                        <i class="fas fa-hand-holding-usd fa-4x"></i>
                    </span><br><br>
                    <span class="is-size-4">การเงิน</span>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
