{% extends "comhealth/tests.html" %}
{% block subpage_content %}
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li><a href="/comhealth/tests">Profile</a></li>
                    <li class="is-active"><a href="/comhealth/test/groups">Group</a></li>
                    <li><a href="/comhealth/test/tests">Test</a></li>
                </ul>
            </div>
        </nav>
    </div>
    </section>
    <section class="section" id="app">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="has-text-left">
                        <strong>Total Group</strong>&nbsp;<span class="tag is-success">
                        <% groups.length %>
                    </span>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-right">
                        <a class="button is-rounded is-link"
                            href="{{ url_for('comhealth.add_test_group') }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                            <span>Add Test Group</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <b-table :data="groups" :paginated="true" :per-page="10" default-sort="name">
                        <template slot-scope="props">
                            <b-table-column field="id" label="ID" numeric>
                                <% props.row.id %>
                            </b-table-column>
                            <b-table-column field="name" label="Name" sortable>
                                <% props.row.name %>
                            </b-table-column>
                            <b-table-column field="desc" label="Description" sortable>
                                <% props.row.desc %>
                            </b-table-column>
                            <b-table-column field="" label="Detail" sortable>
                                <a class="button is-rounded is-light" v-bind:href="'/comhealth/test/groups/'+props.row.id">
                                    <span class="icon">
                                        <i class="far fa-eye"></i>
                                    </span>&nbsp;
                                    <span>View</span>
                                </a>
                            </b-table-column>
                            <b-table-column field="" label="Tests" sortable>
                                <a class="button is-rounded is-light" v-bind:href="'/comhealth/test/groups/'+props.row.id">
                                    <!--<% props.row.test_items.length %>-->
                                </a>
                            </b-table-column>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            delimiters: ['<%', '%>'],
            data() {
                return {
                    groups: {{ groups|tojson|safe }},
                    query: '',
                }
            },
            computed: {
            }
        });
    </script>
{% endblock %}
