{% extends "base.html" %}
{% block page_content %}
    <section class="hero is-info is-small">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                          </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item"
                               href="/comhealth">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span>Home</span>
                            </a>
                            <a class="navbar-item is-active"
                               href="/comhealth/tests">
                                <span>Tests</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="{{ url_for('static', filename='img/flask-2.png') }}" width="100">
                <h3 class="title">Tests Manager</h3>
            </div>
        </div>
    {% block subpage_content %}
    {% endblock %}
{% endblock %}
