{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        .is-full-height {
            height: 100%;
        }
    </style>
{% endblock %}
{% block page_content %}
    {% include "service_admin/admin_nav.html" %}
    <div class="section" id="request">
        {% include 'messages.html' %}
        <div class="container">
            <div class="columns is-flex is-align-items-stretch">
                <div class="column">
                    <h3 class="title is-size-3 has-text-centered">อนุมัติและตรวจสอบใบเสนอราคา</h3>
                </div>
                <div class="column is-one-quarter"></div>
            </div>
            <div class="columns is-flex is-align-items-stretch">
                <div class="column">
                    <div class="box is-full-height">
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เลขที่</p>
                            <div style="margin-left: 1.75rem;">
                                {{ quotation.quotation_no }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">วันที่</p>
                            <div style="margin-left: 1.75rem;">
                                {{ quotation.created_at.strftime('%d/%m/%Y') }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เรื่อง</p>
                            <div style="margin-left: 1.75rem;">
                                ใบเสนอราคาค่าบิรการตรวจวิเคราะห์ทางห้องปฏิบัติการ
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เรียน</p>
                            <div style="margin-left: 1.75rem;">
                                {{ quotation.name }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">ที่อยู่</p>
                            <div style="margin-left: 1.75rem;">
                                {{ quotation.address }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เลขประจำตัวผู้เสียภาษีอากร</p>
                            <div style="margin-left: 1.75rem;">
                                {{ quotation.taxpayer_identification_no or '-' }}<br>
                            </div>
                        </div>
                        <table class="table is-fullwidth mt-4">
                            <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>รายการ</th>
                                <th>จำนวน</th>
                                <th>ราคา</th>
                                <th>จำนวนเงิน</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in quotation.quotation_items|sort(attribute='sequence') %}
                                <tr>
                                    <td>{{ item.sequence }}</td>
                                    <td>{{ item.item }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        {{ "{:,.2f}".format(item.unit_price) }}
                                    </td>
                                    <td>
                                        {{ "{:,.2f}".format(item.total_price) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        <div class="has-text-right">
                            <p><strong>รวมเป็นเงิน : </strong>
                                {{ "{:,.2f}".format(quotation.subtotal()) }}
                            </p>
                            <p>
                                <strong>ส่วนลด : </strong>
                                {{ "{:,.2f}".format(quotation.discount()) }}
                            </p>
                            <p><strong>รวมเป็นเงินทั้งสิ้น : </strong>{{ "{:,.2f}".format(quotation.grand_total()) }}</p>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="box">
                        <aside class="menu">
                            <p class="menu-label">
                                งานบริการ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    {% for s_lab in sub_lab %}
                                        {{ s_lab.sub_lab }}
                                    {% endfor %}
                                </li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                วันที่อนุมัติ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    {% if quotation.approved_at %}
                                         <span class="icon">
                                             <i class="fas fa-clock"></i>
                                         </span>
                                        {{ quotation.approved_at.strftime('%d/%m/%Y') }}
                                    {% else %}
                                        ยังไม่ดำเนินการอนุมัติ
                                    {% endif %}
                                </li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                สถานะ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <span class="tag
                                        {% if quotation.status == 'อยู่ระหว่างการจัดทำใบเสนอราคา' %}
                                            is-light
                                        {% elif quotation.status == 'รออนุมัติใบเสนอราคาโดยหัวหน้าห้องปฏิบัติการ' %}
                                            is-info
                                        {% elif quotation.status == 'รอยืนยันใบเสนอราคาจากลูกค้า' %}
                                            is-warning
                                        {% elif quotation.status == 'ลูกค้าไม่อนุมัติใบเสนอราคา' %}
                                            is-danger
                                        {% else %}
                                           is-success
                                        {% endif %}
                                    ">
                                        {{ quotation.status }}
                                    </span>
                                </li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                การดำเนินการ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <form id="approval-form" method="post">
                                        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
                                        <a class="button is-success is-rounded is-fullwidth mb-2"
                                           @click="warn({{ quotation_id }})"
                                        >
                                            <span class="icon">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span>อนุมัติ</span>
                                        </a>
                                    </form>
                                </li>
                                <li>
                                    <a class="button is-rounded is-outlined is-small is-fullwidth mb-2"
                                       @click="printQuotation()"
                                    >
                                        <span class="icon"><i class="fas fa-print"></i></span>
                                        <span>พิมพ์ใบเสนอราคา</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="button is-info is-outlined is-rounded is-small is-fullwidth"
                                       href="{{ url_for('service_admin.export_quotation_pdf', quotation_id=quotation_id) }}"
                                    >
                                        <span class="icon"><i class="fas fa-download"></i></span>
                                        <span>ดาวน์โหลด PDF</span>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-two-thirds is-offset-2 has-text-centered">
            <div class="buttons is-centered">
                <a class="button is-light" href="{{ url_for('service_admin.quotation_index', tab=tab) }}">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>ย้อนกลับ</span>
                </a>
            </div>
        </div>
    </div>
    </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#request",
            delimiters: ['<%', '%>'],
            methods: {
                printQuotation: function () {
                    printJS({{ url_for('service_admin.export_quotation_pdf', quotation_id=quotation_id)|tojson|safe }});
                },
                warn: function(quotation_id) {
                    var tab = '{{ tab }}'
                    this.$buefy.dialog.confirm({
                        message: 'ท่านต้องการอนุมัติใบเสนอราคารายการนี้หรือไม่?',
                        confirmText: 'ยืนยัน',
                        cancelText: 'ยกเลิก',
                        onConfirm: () => {
                            const form = document.getElementById('approval-form');
                            form.action = `/service_admin/quotation/supervisor/approve/${quotation_id}?tab=${tab}`;
                            form.submit();
                        },
                        type: 'is-success'
                    });
                }
            },
        });
    </script>
{% endblock %}