{% extends "base.html" %}
{% block title %}Create Customer Account{% endblock %}
{% include "service_admin/admin_nav.html" %}
{% block head %}
    {{ super() }}
    <link href="https://fastly.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block page_content %}
    <section class="section">
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                {% include 'messages.html' %}
                <div class="box">
                    {% if customer_id %}
                        <h1 class="title has-text-centered">แก้ไขข้อมูล</h1>
                    {% else %}
                        <h1 class="title has-text-centered">สร้างลูกค้า</h1>
                    {% endif %}
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="field">
                            <label class="label">
                                ประเภท
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="select">
                                {{ form.type(onchange="updateLabel()") }}
                            </div>
                        </div>
                        <div class="field">
                            <label id="cus-name-label" class="label">
                                ชื่อ-นามสกุล/ชื่อบริษัท/ชื่อหน่วยงาน
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.cus_name(class="input", placeholder='Name') }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">
                                {{ form.taxpayer_identification_no.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.taxpayer_identification_no(class="input", placeholder='XXX-XXXX-XXXX-XX-X',
                                    oninput="this.value = this.value.replace(/[^0-9\-]/g, '')") }}
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-list-ol"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">
                                {{ form.phone_number.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.phone_number(class='input', placeholder='08X-XXX-XXXX',
                                    oninput="this.value = this.value.replace(/[^0-9\-]/g, '')") }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.fax_no.label }}</label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.fax_no(class='input', placeholder='02-XXX-XXXX',
                                    oninput="this.value = this.value.replace(/[^0-9\-]/g, '')") }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-fax"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">
                                {{ form.email.label }}
                                <span class="has-text-danger">*</span>
                            </label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.email(class="input", placeholder='ex. example@example.com') }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="buttons is-centered">
                                <a href="{{ url_for('service_admin.view_customer') }}" class="button">ยกเลิก</a>
                                <button class="button is-success" type="submit" value="submit">บันทึก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
{% block scripts %}
    {{ super() }}
    <script src="https://fastly.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(() => {
            $('.js-example-basic-single').select2({
                width: '100%',
                tags: true
            });
        });
    </script>
    <script>
        function updateLabel() {
            const typeSelect = document.querySelector('[name="type"]');
            const label = document.getElementById("cus-name-label");
            if (typeSelect.value === "1") {
                label.innerHTML = '<label class="label">ชื่อ-นามสกุล<span class="has-text-danger ml-1">*</span></label>';
            } else if (typeSelect.value === "2") {
                label.innerHTML = '<label class="label">ชื่อบริษัท<span class="has-text-danger ml-1">*</span></label>';
            } else if (typeSelect.value === "2") {
                label.innerHTML = '<label class="label">ชื่อหน่วยงาน<span class="has-text-danger ml-1">*</span></label>';
            } else  {
                label.innerHTML = '<label class="label">ชื่อ-นามสกุล/ชื่อบริษัท/ชื่อหน่วยงาน<span class="has-text-danger ml-1">*</span></label>'
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            updateLabel();
        });
    </script>
{% endblock %}