{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block page_content %}
    {% include"service_admin/admin_nav.html" %}
    <section class="section">
        {% include 'messages.html' %}
        <div class="columns is-centered">
            {% include 'service_admin/menu.html' %}
             <div class="column is-9">
                <div class="column is-11">
                    <h1 class="title has-text-centered">รายการใบเสนอราคา</h1>
                </div>
                <div class="tabs is-boxed is-centered">
                    <ul>
                        {% if is_supervisor %}
                            <li {% if tab == 'pending_approval' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('service_admin.quotation_index', tab='pending_approval', menu='quotation') }}">
                                    <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                    <span>รายการรอการอนุมัติ</span>
                                </a>
                            </li>
                        {% else %}
                            <li {% if tab == 'draft' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('service_admin.quotation_index', tab='draft', menu='quotation') }}">
                                    <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                    <span>แบบร่างใบเสนอราคา</span>
                                </a>
                            </li>
                            <li {% if tab == 'pending_supervisor_approval' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('service_admin.quotation_index', tab='pending_supervisor_approval',
                                    menu='quotation') }}">
                                    <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                    <span>รอการตรวจสอบจากหัวหน้า</span>
                                </a>
                            </li>
                        {% endif %}
                        <li {% if tab == 'awaiting_customer' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('service_admin.quotation_index', tab='awaiting_customer',
                                menu='quotation') }}">
                                <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                <span>รอลูกค้ายืนยัน</span>
                            </a>
                        </li>
                        <li {% if tab == 'confirmed' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('service_admin.quotation_index', tab='confirmed', menu='quotation') }}">
                                <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                <span>ยืนยันแล้ว</span>
                            </a>
                        </li>
                        <li {% if tab == 'reject' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('service_admin.quotation_index', tab='reject', menu='quotation') }}">
                                <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                <span>ใบเสนอราคาถูกปฏิเสธ</span>
                            </a>
                        </li>
                        <li {% if tab == 'all' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('service_admin.quotation_index', tab='all', menu='quotation') }}">
                                <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                <span>ทั้งหมด</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <table id='quotations' class="table is-fullwidth">
                    <thead>
                    <th>เลขใบเสนอราคา</th>
                    <th>วัน-เวลาทีออกใบ</th>
                    <th>ลูกค้า</th>
                    <th>เลขใบคำขอรับบริการ</th>
                    <th>ราคา</th>
                    <th>สถานะ</th>
                    <th>ผู้ออก</th>
                    <th></th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('lll');
            $('#quotations').DataTable({
                ajax: {
                    url: {{ url_for('service_admin.get_quotations', tab=tab)|tojson|safe}},
                },
                order: [[0, 'desc']],
                columns: [
                    {data: 'quotation_no'},
                    {
                        data: 'created_at',
                        render: function (data) {
                            if (data !== null) {
                                let d = moment(data)
                                return d.format('lll')
                            } else {
                                return ''
                            }
                        }
                    },
                    {data: 'customer'},
                    {data: 'request_no'},
                    {
                        data: 'total_price',
                        render: function (data) {
                            if (data !== null) {
                                return data + ' ' + 'บาท'
                            } else {
                                return ''
                            }
                        }
                    },
                    {data: 'status_for_admin'},
                    {data: 'creator'},
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            var tab = '{{ tab }}';
                            if (tab == 'draft') {
                                var url = '/service_admin/admin/quotation/add/' + data + '?tab=' + '{{ tab }}';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-light is-rounded is-warning" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-pen"></i></span>' +
                                    '<span>Edit</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else if (tab == 'pending_approval') {
                                var url = '/service_admin/quotation/supervisor/approve/' + data + '?tab=' + '{{ tab }}';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-light is-rounded is-warning" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-pen"></i></span>' +
                                    '<span>รายละเอียด</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else if (tab == 'all') {
                                if (row.status == 'อยู่ระหว่างการจัดทำใบเสนอราคา') {
                                    var url = '/service_admin/admin/quotation/add/' + data + '?tab=' + '{{ tab }}';
                                    return '<div class="field has-addons">' +
                                        '<div class="control">' +
                                        '<a class="button is-small is-light is-rounded is-warning" ' + 'href=' + url + '>' +
                                        '<span class="icon"><i class="fas fa-pen"></i></span>' +
                                        '<span>Edit</span>' +
                                        '</a>' +
                                        '</div>' +
                                        '</div>'
                                } else if (row.status == 'รออนุมัติใบเสนอราคาโดยหัวหน้าห้องปฏิบัติการ') {
                                    var url = '/service_admin/quotation/supervisor/approve/' + data + '?tab=' + '{{ tab }}';
                                    return '<div class="field has-addons">' +
                                        '<div class="control">' +
                                        '<a class="button is-small is-light is-rounded is-warning" ' + 'href=' + url + '>' +
                                        '<span class="icon"><i class="fas fa-pen"></i></span>' +
                                        '<span>รายละเอียด</span>' +
                                        '</a>' +
                                        '</div>' +
                                        '</div>'
                                } else {
                                    var url = '/service_admin/quotation/view/' + data + '?tab=' + '{{ tab }}';
                                    return '<div class="field has-addons">' +
                                        '<div class="control">' +
                                        '<a class="button is-small is-light is-rounded is-info" ' + 'href=' + url + '>' +
                                        '<span class="icon"><i class="fas fa-eye"></i></span>' +
                                        '<span>Preview</span>' +
                                        '</a>' +
                                        '</div>' +
                                        '</div>'
                                }
                            } else {
                                var url = '/service_admin/quotation/view/' + data + '?tab=' + '{{ tab }}';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-light is-rounded is-info" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-eye"></i></span>' +
                                    '<span>Preview</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            }
                        }
                    },
                ]
            });
        });
    </script>
{% endblock %}