{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .status-horizontal {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.8rem;
        }

        .filter-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 120px;
            height: 100px;
            padding: 0.75rem 0.5rem;
            text-align: center;
            gap: 0.4rem
        }

        .filter-btn .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            font-size: 1.8rem;
            position: relative;
        }

        .filter-btn .tag {
            position: absolute;
            top: -5px;
            right: 12px;
            transform: scale(0.9);
        }
    </style>
{% endblock %}
{% block page_content %}
    {% include"service_admin/admin_nav.html" %}
    <section class="section">
        {% include 'messages.html' %}
        <div class="columns is-centered">
            {% include 'service_admin/menu.html' %}
            <div class="column is-9">
                <div class="column is-11">
                    <h1 class="title has-text-centered">รายการคำขอรับบริการ</h1>
                </div>
                <div class="column">
                    <div class="menu">
                        <ul class="menu-list status-horizontal">
                            {% for key, group in status_groups.items() %}
                                <li>
                                    <a class="filter-btn has-text-centered" id="{{ group.id }}">
                                        <span class="icon is-large" style="display:block; font-size:1.6rem">
                                            {{ group.icon | safe }}
                                        </span>
                                        {% if group.count %}
                                            <span class="tag is-danger is-rounded is-size-7 mt-1">{{ group.count }}</span>
                                        {% endif %}
                                        <span class="is-size-7 mt-1" style="display:block;">{{ group.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <hr>
                <table id='requests' class="table is-fullwidth">
                    <thead>
                    <th>เลขใบคำร้องขอ</th>
                    <th>วัน-เวลาทีส่ง</th>
                    <th>ผู้ส่ง</th>
                    <th>สถานะ</th>
                    <th>ใบเสนอราคา</th>
                    <th>นัดหมายส่งตัวอย่าง</th>
                    <th>รายการทดสอบ</th>
                    <th>ใบแจ้งหนี้</th>
                    <th>รายงานผลการทดสอบ</th>
                    <th>รายละเอียด</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('lll');
            const table = $('#requests').DataTable({
                ajax: {
                    url: {{ url_for('service_admin.get_requests')|tojson|safe}},
                },
                order: [[1, 'desc']],
                scrollX: true,
                autoWidth: false,
                columns: [
                    {data: 'request_no'},
                    {
                        data: 'created_at',
                        render: function (data) {
                            if (data !== '') {
                                let d = moment(data)
                                return d.format('lll')
                            } else {
                                return '-'
                            }
                        }
                    },
                    {
                        data: 'sender',
                        render: function (data) {
                            if (data !== null) {
                                return data
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            var color = row.admin_status_color
                            var status = row.admin_status
                            if (data !== null) {
                                return `<span class="tag ${color}">${status}</span>`;
                            } else {
                                return `<span class="tag is-info">ร่างใบคำขอรับบริการ</span>`;
                            }
                        }
                    },
                    {
                        data: 'quotation_status_for_admin',
                        render: function (data, type, row) {
                            var admin = '{{ admin }}';
                            var supervisor = '{{ supervisor }}';
                            if (admin == 'True' && row.status_id == 2) {
                                var url = '/service_admin/quotation/generate?request_id=' + row.id + '&tab=draft' + '&menu=quotation';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-rounded is-info" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-file-signature"></i></span>' +
                                    '<span>ออกใบเสนอราคา</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else if (admin == 'True'  && row.status_id == 3) {
                                var url = '/service_admin/admin/quotation/add/' + data.id + '?tab=draft' + '&menu=quotation';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-light is-rounded is-warning" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-pen"></i></span>' +
                                    '<span>แก้ไข</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else if (supervisor == 'True' && row.status_id == 4) {
                                var url = '/service_admin/quotation/supervisor/approve/' + data.id + '?tab=pending_approval&menu=quotation';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-light is-rounded is-warning" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-pen"></i></span>' +
                                    '<span>อนุมัติราคา</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else if (data.status == 'รอลูกค้าอนุมัติใบเสนอราคา' || data.status == 'ลูกค้าอนุมัติใบเสนอราคา') {
                                var url = '/service_admin/quotation/view/' + data.id + '?menu=quotation';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-outlined is-rounded is-link" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-file-invoice"></i></span>' +
                                    '<span>ใบเสนอราคา</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else if (data.status == 'ลูกค้าไม่อนุมัติใบเสนอราคา'){
                                return 'เหตุผลที่ลูกค้าไม่อนุมัติ เนื่องจาก' + data.reason;
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'sample_appointment_status_for_admin',
                        render: function (data, type, row) {
                            if (data.id !== null && data.status != 'รอรับตัวอย่าง') {
                                return `<span class="tag ${data.color}">
                                            <span class="icon">${data.icon}</span>
                                            <span>${data.status}</span>
                                        </span>`;
                            } else if (data.status == 'รอรับตัวอย่าง') {
                                var sample_url = '/service_admin/sample/verification/add/' + data.id + '?menu=sample';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-warning is-rounded" ' + 'href=' + sample_url + '>' +
                                    '<span class="icon">' +
                                    '<i class="fas fa-clipboard-check"></i>' +
                                    '</span>' +
                                    '<span>ดำเนินการและยืนยันรับตัวอย่าง</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            }
                                else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'test_item_status',
                        render: function (data, type, row) {
                            if (data.status !== null) {
                                return `<span class="tag ${data.color}">
                                            <span class="icon">${data.icon}</span>
                                            <span>${data.status}</span>
                                        </span>`;
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'invoice_status_for_admin',
                        render: function (data, type, row) {
                            if (data.id !== null) {
                                var url = '/service_admin/invoice/view/' + data.id + '?menu=invoice';
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-outlined is-rounded is-link" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-file-invoice-dollar"></i></span>' +
                                    '<span>ใบแจ้งหนี้</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'files',
                        render: function (data, type, row) {
                            if (data !== null) {
                                 return data
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'id',
                        render: function (data) {
                            var url = '/service_admin/request/view/' + data + '?menu=' + '{{ menu }}';
                            return '<div class="field has-addons">' +
                                '<div class="control">' +
                                '<a class="button is-small is-light is-rounded is-info" ' + 'href=' + url + '>' +
                                '<span class="icon"><i class="fas fa-eye"></i></span>' +
                                '<span>รายละเอียด</span>' +
                                '</a>' +
                                '</div>' +
                                '</div>'
                        }
                    }
                ]
            });

            function applyFilter(status_id) {
                $.fn.dataTable.ext.search = [];
                if (status_id && status_id.length) {
                    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                        const row = table.row(dataIndex).data();
                        return row && status_id.includes(row.status_id);
                    });
                }
                table.draw();
            }

             $(document).on('click', '.filter-btn', function () {
                const ids = JSON.parse($(this).attr('id'));
                applyFilter(ids);
            });

            $(document).on('click', '.filter-reset', function () {
                applyFilter(null);
            });
        });
    </script>
{% endblock %}