{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block page_content %}
{% include"service_admin/admin_nav.html" %}
<section class="section">
    <div class="container" id="app">
        {% include 'messages.html' %}
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">รายการนัดหมายส่งและทดสอบตัวอย่าง</h1>
                <table id='samples' class="table is-fullwidth">
                    <thead>
                        <th>เลขใบคำร้องขอ</th>
                        <th>วัน-เวลาทีส่งตัวอย่าง</th>
                        <th>วัน-เวลาทีรับตัวอย่าง</th>
                        <th>สถานที่</th>
                        <th>ผู้ส่ง</th>
                        <th>สถานะ</th>
                        <th>การส่งตัวอย่าง</th>
                        <th></th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('lll');
            $('#samples').DataTable({
                ajax: {
                    url: {{ url_for('service_admin.get_sample_appointments')|tojson|safe}},
                },
                order: [[0, 'desc']],
                columns: [
                    { data : 'request_no' },
                    {
                        data : 'appointment_date',
                        render: function(data) {
                            if (data !== null) {
                                let d = moment(data)
                                return d.format('lll')
                            } else {
                                return '-'
                            }
                        }
                    },
                    {
                        data : 'received_date',
                        render: function(data) {
                            if (data !== null) {
                                let d = moment(data)
                                return d.format('lll')
                            } else {
                                return ''
                            }
                        }
                    },
                    { data : 'location' },
                    { data : 'sender' },
                    {
                        data: 'status',
                        render: function (data) {
                            if (data !== null) {
                                return data
                            }
                            else {
                                return 'ยังไม่ส่งตัวอย่าง'
                            }
                        }
                    },
                    { data : 'ship_type' },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            if (row.status == 'รอรับตัวอย่าง')
                            {
                                var url = '/service_admin/appointment/add/' + data;
                                return '<div class="field has-addons">' +
                                            '<div class="control">' +
                                                '<a class="button is-small is-link is-rounded" ' + 'href=' + url + '>' +
                                                    '<span class="icon">' +
                                                        '<i class="fas fa-check"></i>' +
                                                    '</span>' +
                                                    '<span>ยืนยันการรับตัวอย่าง</span>' +
                                                '</a>' +
                                            '</div>' +
                                        '</div>'
                            } else if (row.status == 'ได้รับตัวอย่าง/รอดำเนินการทดสอบ') {
                                return '<div class="field has-addons">' +
                                            '<div class="control">' +
                                                '<a class="button is-small is-warning is-rounded" onclick="vm.warn(' + data + ')">' +
                                                    '<span class="icon">' +
                                                        '<i class="fas fa-edit"></i>' +
                                                    '</span>' +
                                                    '<span>เริ่มทดสอบ</span>' +
                                                '</a>' +
                                            '</div>' +
                                        '</div>'
                            } else if (row.status=='กำลังดำเนินการทดสอบ') {
                                return '<div class="field has-addons">' +
                                            '<div class="control">' +
                                                '<a class="button is-small is-success is-rounded" onclick="vm.confirm(' + data + ')">' +
                                                    '<span class="icon">' +
                                                        '<i class="fas fa-check"></i>' +
                                                    '</span>' +
                                                    '<span>ยืนยันการทดสอบ</span>' +
                                                '</a>' +
                                            '</div>' +
                                        '</div>'
                            }  else if (row.status=='ดำเนินการทดสอบเสร็จสิ้น') {
                                var url = '/service_admin/invoice/index';
                                return '<div class="field has-addons">' +
                                            '<div class="control">' +
                                                '<a class="button is-small is-info is-outlined is-rounded" ' + 'href=' + url + '>' +
                                                    '<span class="icon">' +
                                                        '<i class="fas fa-file-download"></i>' +
                                                    '</span>' +
                                                    '<span>ออกใบเสอนราคา</span>' +
                                                '</a>' +
                                            '</div>' +
                                        '</div>'
                            } else {
                                return ''
                            }
                        }
                    }
                ]
            });
        });
        vm = new Vue({
            el: '#app',
            methods: {
                warn: function(sample_id) {
                    this.$buefy.dialog.confirm({
                        message: 'ต้องการเริ่มการทดสอบรายการนี้หรือไม่',
                        onConfirm: () => {
                            const url = `/service_admin/sample/process/${sample_id}`;
                            window.location.href = url;
                        },
                        type: 'is-success'
                    });
                },
                confirm: function(sample_id) {
                    this.$buefy.dialog.confirm({
                        message: 'ต้องการยืนยันการทดสอบรายการนี้หรือไม่',
                        onConfirm: () => {
                            const url = `/service_admin/sample/confirm/${sample_id}`;
                            window.location.href = url;
                        },
                        type: 'is-success'
                    });
                }
            }
        })
    </script>
{% endblock %}