{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        .is-full-height {
            height: 100%;
        }

        .menu-list li {
            font-size: 0.85rem;
            font-weight: 400;
            color: #4a4a4a;
        }

        .content ul {
            margin-top: 0.25rem;
        }
    </style>
{% endblock %}
{% block page_content %}
    {% include "service_admin/admin_nav.html" %}
    <div class="section" id="request">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{{ url_for('service_admin.request_index') }}">
                    <span class="icon is-small">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                        <span>หน้าหลัก/รายการคำขอรับบริการ</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="#">
                    <span class="icon is-small">
                        <i class="fas fa-file-pdf" aria-hidden="true"></i>
                    </span>
                        <span>ใบคำขอรับบริการ</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="columns is-flex is-align-items-stretch">
                <div class="column">
                    <h3 class="title is-size-3 has-text-centered">ใบคำขอรับบริการ</h3>
                </div>
                <div class="column is-one-quarter"></div>
            </div>
            <div class="columns is-flex is-align-items-stretch">
                <div class="column">
                    <div class="box">
                        <h1 class="title is-4">ใบคำขอรับบริการ <em>{{ service_request.request_no }}</em></h1>
                        <div class="mb-4">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">
                                <span class="icon"><i class="fas fa-flask"></i></span> งานบริการ
                            </p>
                            <div style="margin-left: 1.75rem;">
                                {% for s_lab in sub_lab %}
                                    {{ s_lab.sub_lab }}
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">
                                <span class="icon"><i class="fas fa-user"></i></span> ข้อมูลผู้ส่งตรวจ
                            </p>
                            <div style="margin-left: 1.75rem;">
                                <p>ผู้ส่ง : {{ service_request.customer.customer_info.cus_name }}</p>
                                <p>ที่อยู่ : {{ service_request.document_address.address }}</p>
                                <p>เบอร์โทรศัพท์ : {{ service_request.customer.customer_info.phone_number }}</p>
                                <p>อีเมล : {{ service_request.customer.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">
                                <span class="icon"><i class="fas fa-clipboard-list"></i></span> ข้อมูลผลิตภัณฑ์
                            </p>
                            <div class="content" style="margin-left: 1.75rem;">
                                <ul class="ml-4">
                                    {% for data in datas %}
                                        <li>{{ data }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">
                                <span class="icon"><i class="fas fa-file-alt"></i></span> ใบรายงานผล
                            </p>
                            <div class="content" style="margin-left: 1.75rem;">
                                <ul>
                                    {% if service_request.thai_language %}
                                        <li>ใบรายงานผลภาษาไทย</li>
                                    {% elif service_request.eng_language %}
                                        <li>ใบรายงานผลภาษาอังกฤษ</li>
                                    {% elif service_request.thai_copy_language %}
                                        <li>สำเนาใบรายงานผลภาษาไทย</li>
                                    {% elif service_request.eng_copy_language %}
                                        <li>สำเนาใบรายงานผลภาษาอังกฤษ</li>
                                    {% else %}
                                        <li>ไม่ได้เลือกภาษาของใบรายงานผล</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="box">
                        <aside class="menu">
                            <p class="menu-label">
                                ข้อมูลลูกค้า
                            </p>
                            <ul class="menu-list">
                                <li>ชื่อ : {{ service_request.customer.customer_info.cus_name }}</li>
                                <li>วันที่ขอ : {{ service_request.created_at.strftime('%d/%m/%Y') }}</li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                สถานะคำขอ
                            </p>
                            <ul class="menu-list">
                                <li><span class="tag is-primary is-light">{{ service_request.status }}</span></li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                การดำเนินการ
                            </p>
                            <ul class="menu-list">
                                {% if service_request.status == 'อยู่ระหว่างการจัดทำใบเสนอราคา' or service_request.status == 'รอลูกค้าส่งคำขอใบเสนอราคา' %}
                                    <li>
                                        <a class="button is-success is-rounded is-small is-fullwidth mb-2"
                                           href="{{ url_for('service_admin.generate_quotation',
                                            request_id=service_request.id) }}"
                                        >
                                            <span class="icon">
                                                <i class="fas fa-file-invoice"></i>
                                            </span>
                                            <span>ออกใบเสนอราคา</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="button is-info is-outlined is-rounded is-small is-fullwidth"
                                       href="{{ url_for('service_admin.export_request_pdf', request_id=service_request.id) }}"
                                    >
                                        <span class="icon"><i class="fas fa-download"></i></span>
                                        <span>ดาวน์โหลด PDF</span>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}