<section class="hero is-info is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        Faculty of Medical Technology, Mahidol University
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                      </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{{ url_for('vehicle.index') }}">
                            จองยานพาหนะ
                        </a>
                        <a class="navbar-item" href="{{ url_for('room.index') }}">
                            จองห้องประชุม
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-4">ระบบจองห้องและยานพาหนะ</h1>
        </div>
    </div>
</section>
