{% extends "base.html" %}
{% block title %}Add New Event{% endblock %}
{% include "scheduler/nav.html" %}
{% block page_content %}
<section class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4 has-text-centered">
            <h1 class="title">New Reservation</h1>
            <form method="post" action="{{ url_for('room.room_list') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="field">
                    <p class="control has-icons-right">
                        <input class="input" type="text" name="room_number" placeholder="ค้นหาห้องหมายเลขห้อง">
                        <span class="icon is-right">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-right">
                        <input class="input" type="text" name="users" placeholder="ค้นหาห้องตามจำนวนคน">
                        <span class="icon is-right">
                            <i class="fas fa-users"></i>
                        </span>
                    </p>
                </div>
                <button type="submit" class="button is-rounded is-success">
                    <strong>Go</strong></button>
            </form>
            <p>
                <a href="{{ url_for('room.room_list') }}">ดูรายการห้องทั้งหมด</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}

