<div class="modal is-active animate__animated" id="current-idp-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">ข้อมูล IDP</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <table class="table is-fullwidth is-bordered">
                <thead>
                    <th>สมรรถนะ/ทักษะ ที่ต้องได้รับการพัฒนา</th>
                    <th>พฤติกรรม/ผลลัพธ์ ที่คาดหวัง</th>
                    <th>วิธีการพัฒนา(70 : 20 : 10)</th>
                    <th>รายละเอียด</th>
                    <th>ระยะเวลา (เริ่มต้น-สิ้นสุด)</th>
                    <th>งบประมาณ</th>
                </thead>
                <tbody>
                {% for item in idp.idp_item|sort(attribute="learning_type_id") %}
                    <tr>
                        <td>
                            {{ item.plan }}
                        </td>
                        <td>
                            {{ item.goal }}
                        </td>
                        <td>
                            {{ item.learning_type }}
                        </td>
                        <td>
                            {{ item.learning_plan }}
                        </td>
                        <td>
                            {{ item.start }} - {{ item.end }}
                        </td>
                        <td>
                            {% if item.budget %}
                                {{ item.budget }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</div>
<script>
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#current-idp-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#current-idp-modal'), 'is-active')
    })
</script>
