{% extends "base.html" %}
{% include "PA/nav.html" %}

{% block page_content %}
    <section class="section" id="app">
        <div class="container">
            {% include "messages.html" %}
             {% if for_self == 'false' %}
             <div class="columns">
                <div class="column is-half is-offset-3 has-text-centered">
                       <div class="notification is-info is-light">
                        <h1 class="subtitle">
                            ผู้รับการประเมิน {{ scoresheet.pa.staff.personal_info.fullname }}<br>
                            รอบ {{ scoresheet.pa.round.desc }}: {{ scoresheet.pa.round }}
                        </h1>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="columns">
                <div class="column has-text-centered">
                    <h1 class="title">ประเมินผลงาน(Performance)</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% if for_self == 'false' %}
                    <div>
                        <p>
                            การประเมินผลงาน (Performance) : ให้ผู้บังคับบัญชาชั้นต้นพิจารณาให้คะแนนผลการดำเนินงาน
                        ตามข้อตกลงการปฏิบัติงานเบื้องต้นก่อนให้คณะกรรมการประเมินผลการปฏิบัติงานพิจารณาประเมิน
                        </p>
                    </div>
                    {% elif for_self == 'true' and scoresheet.is_final %}
                        <p class="notification is-light is-success">
                        <span class="icon">
                            <i class="fa-solid fa-circle-info"></i>
                        </span>
                        ท่านได้ดำเนินการส่งคะแนนประเมินตนเองให้คณะกรรมการเรียบร้อยแล้ว
                        ดังนั้นจะไม่สามารถแก้ไขคะแนนได้
                        </p>
                    {% endif %}
                </div>
            </div>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="columns">
                    <div class="column">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                            <th>หมวด</th>
                            <th>ข้อตกลงการปฏิบัติงาน <p class="help is-info">โครงการ/กระบวนการที่เกี่ยวข้อง</p><p class="help is-success">ตัวชี้วัดและเป้าหมาย</p></th>
                            <th>%</th>
                            <th>เกณฑ์ตามตัวชี้วัด</th>
                            <th>ผลการดำเนินการ</th>
                            {% if for_self == 'false' %}
                            <th>คะแนนประเมินตนเอง</th>
                            <th>คะแนนผู้บังคับบัญชาขั้นต้น</th>
                            {% endif %}
                            <th>กรอกคะแนน<br>(0-10)</th>
                            </thead>
                            <tbody>
                            {% for s in scoresheet.score_sheet_items|sort(attribute='item.category_id') %}
                                <tr>
                                    <td style="width: 5%">
                                        <p class="help">{{ s.item.category }}</p>
                                    </td>
                                    <td style="width: 35%">
                                        <p><strong>{{ s.item }}</strong></p>
                                        {% if s.item.strategy_activity %}
                                        <p class="help is-info">{{ s.item.process }}</p>
                                        {% endif %}
                                        {% if s.item.process %}
                                        <p class="help is-info">{{ s.item.process }}</p>
                                        {% endif %}
                                        <p class="help is-success">{{ s.kpi_item }} (เก็บข้อมูลจาก: {{ s.kpi_item.kpi.source }})</p>
                                    </td>
                                    <td style="width: 2%">
                                        {{ s.item.percentage }}
                                    </td>
                                    <td style="width: 18%">
                                    <ul>
                                        <p class="help">{{ s.kpi_item.kpi.type }}</p>
                                        {% for kpi in s.kpi_item.kpi.pa_kpi_items %}
                                            <li><span class="icon"><i class="fa-solid fa-star has-text-light"></i></span>
                                                <small>{{ kpi.goal }} ({{ kpi.level }} คะแนน)</small></li>
                                        {% endfor %}
                                    </ul>
                                    </td>
                                    <td style="width: 28%">
                                        {{ s.item.report }}
                                    </td>
                                    {% if for_self == 'false' %}
                                    <td style="width: 2%">
                                        {{ self_scoresheet.get_score_sheet_item(s.item_id, s.kpi_item.id).score }}
                                    </td>
                                    <td style="width: 2%">
                                        <div class="field is-grouped">
                                            {% if head_scoresheet %}
                                            {{ head_scoresheet.get_score_sheet_item(s.item_id, s.kpi_item.id).score }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% endif %}
                                    <td style="width: 7%">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" required name="pa-item-{{ s.id }}"  type="number"
                                                       {% if scoresheet.is_final %} readonly {% endif %}
                                                       value="{{ s.score }}" step="0.5" min="0" max="10" id="score"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <progress class="progress" value="100" max="100"></progress>
                        <h1 class="subtitle has-text-centered">ประเมินสมรรถนะหลัก(Core Competency)</h1>
                        <div class="column ">
                            <div class="box">
                                <table class="table is-fullwidth">
                            <thead>
                            <div class="subtitle has-text-centered">เกณฑ์การประเมิน</div>
                            </thead>
                            <tr>
                                <td>คะแนนเต็ม 10 - 9 <br>แสดงพฤติกรรมแทบทุกครั้ง/สม่ำเสมอ </td>
                                <td>คะแนนเต็ม 8 - 6 <br>แสดงพฤติกรรมบ่อยครั้ง/เกือบสม่ำเสมอ</td>
                                <td>คะแนนเต็ม 5 - 3 <br>แสดงพฤติกรรมเป็นบางครั้ง</td>
                                <td>คะแนนเต็ม 2 - 0 <br>ไม่เคย/แทบจะไม่เคยแสดงพฤติกรรม</td>
                            </tr>
                        </table>
                            </div>
                        </div>
                        <table class="table is-fullwidth">
                            <thead>
                            <th>หัวข้อ</th>
                            <th>คะแนนเต็ม</th>
                            {% if for_self == 'false' %}
                            <th>คะแนนประเมินตนเอง</th>
                            <th>คะแนนผู้บังคับบัญชาขั้นต้น</th>
                            {% endif %}
                            <th>กรอกคะแนน<br>(0-10)</th>
                            </thead>
                            {% for item in core_competency_items %}
                                <tr>
                                    <td>
                                        <label class="label">{{ item.topic }}</label>
                                        <p class="help">{{ item.desc }}</p>
                                    </td>
                                    <td style="width: 8%">{{ item.score }}</td>
                                    {% if for_self == 'false' %}
                                    <td style="width: 8%">{{ self_scoresheet.get_core_competency_score_item(comp_item_id=item.id).score }}</td>
                                    <td style="width: 8%">
                                        {% if head_scoresheet %}
                                        {{ head_scoresheet.get_core_competency_score_item(comp_item_id=item.id).score }}
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                    <td style="width: 10%">
                                        <div class="field">
                                            <input class="input" type="number"
                                                   name="core-{{ item.id }}"
                                                    {% if scoresheet.is_final %} readonly {% endif %} max="10"
                                                   value="{{ scoresheet.get_core_competency_score_item(comp_item_id=item.id).score }}">
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% if scoresheet.is_final == False %}
                <div class="columns">
                    <div class="column">
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <a href="{{ next_url or url_for('pa.all_performance', scoresheet_id=scoresheet.id) }}"
                                   class="button is-light">กลับ</a>
                            </div>
                            <div class="control">
                                <input type="submit" value="บันทึก" class="button is-success"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        {% if scoresheet.updated_at %}
                        <div class="buttons is-centered">
                            <a  onclick="return confirm('กรุณาบันทึกคะแนน(ปุ่มเขียว)ก่อนคลิก OK หากบันทึกเรียบร้อยแล้วคลิก OK เพื่อดำเนินการส่งคะแนนต่อไป')"
                                    href="{{ url_for('pa.confirm_score', scoresheet_id=scoresheet.id, for_self=for_self, next_url=next_url) }}"
                                id="confirmButton")
                               class="button is-info">
                                <span class="icon">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </span>
                                <span>ยืนยันคะแนน</span>
                            </a>
                        </div>
                        {% endif %}
                        <p class="notification is-danger is-light has-text-danger">
                            <span class="icon">
                                <i class="fa-solid fa-circle-info"></i>
                            </span>
                            <span>กด บันทึก ทุกครั้ง ก่อนยืนยันคะแนน<br>
                                ท่านไม่สามารถแก้ไขคะแนนได้หลังจากยืนยันคะแนนแล้ว
                            </span>
                        </p>
                    </div>
                </div>
                {% else %}
                {% if for_self == 'true' %}
                    {% if not scoresheet.pa.submitted_at %}
                        <div class="columns">
                            <div class="column">
                                <div class="buttons is-centered">
                                    <a href="{{ url_for('pa.create_request', pa_id=scoresheet.pa_id) }}"
                                       class="button is-info">
                                        <span class="icon">
                                            <i class="fa-solid fa-magnifying-glass-chart"></i>
                                        </span>
                                        <span>
                                            ส่งคำขอ 'ขอรับการประเมิน'
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="columns">
                    <div class="column">
                        <div class="buttons is-centered">
                            <a href="{{ next_url or url_for('pa.all_performance', scoresheet_id=scoresheet.id) }}"
                               class="button is-light">กลับ</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        let isEmpty = false
        let checkInput=function(){
            console.log(isEmpty)
            isEmpty = false
           $(':input[type=number]').each(function(){
              if($(this).val() ===''){
                 isEmpty = true
                  return false
              }
           })
            if(isEmpty){
                $('#confirmButton').hide()
            }
            else{
                $('#confirmButton').show()
            }
        }
        $(document).ready(function (){
            $(':input').change(checkInput)
            checkInput()
        }
        )
    </script>
{% endblock %}
