{% extends "base.html" %}
{% include "PA/nav.html" %}
{% block page_content %}
<section class="section">
    <div class="container" id="app">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('pa.index') }}">หน้าหลัก</a></li>
                <li><a href="{{ url_for('pa.all_request') }}">รายการคำร้อง</a></li>
                <li class="is-active"><a href="#" aria-current="page">ประเมินผล</a></li>
                <li><a href="{{ url_for('pa.all_pa_score') }}" aria-current="page">คะแนน</a></li>
            </ul>
        </nav>
        <div class="columns">
            <div class="column has-text-left">
                <h1 class="title">การประเมินผลการปฏิบัติงาน สำหรับประธานกรรมการ</h1>
                <h1 class="subtitle">การประเมินผลงาน (Performance) : ให้ผู้บังคับบัญชาชั้นต้นพิจารณาให้คะแนนผลการดำเนินงาน
                    ตามข้อตกลงการปฏิบัติงานเบื้องต้นก่อนให้คณะกรรมการประเมินผลการปฏิบัติงานพิจารณาประเมิน</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="notification is-info is-light">
                    <span>
                        * ขั้นตอนประเมินผลงาน<br>
                        1. เลือก <span class="icon"><i class="fa-solid fa-magnifying-glass-chart"></i></span>
                        <span>ประเมิน</span> เพื่อดำเนินการประเมินสำหรับผู้บังคับบัญชาชั้นต้น<br><br>
                        2. เลือก <span class="icon"><i class="fa-solid fa-user-plus"></i></span><span>กรรมการ</span>
                        เพื่อเลือกกลุ่มกรรมการที่จะประเมินผู้รับประเมินในรอบนั้นๆ<br><br>
                        3. เลือก <span class="icon"><i class="fa-solid fa-paper-plane"></i></span>
                        <span>ส่งแบบประเมิน</span> เพื่อส่งให้กลุ่มกรรมการดำเนินการประเมินต่อ
                    </span>
                </div>
            </div>
            <div class="column">
                <div class="notification is-info is-light">
                    <span>
                        4. เลือก <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                        <span>สรุปผล</span> เพื่อสรุปคะแนนประเมินจากคะแนนทั้งหมด<br><br>
                        5. เลือก <span class="icon"><i class="fa-solid fa-square-check"></i></span>
                        <span>ขอรับรองผล</span> เพื่อส่งขอรับรองคะแนนสรุปไปยังกลุ่มกรรมการ<br><br>
                        6. เลือก <span class="icon"><i class="fa-solid fa-users"></i></span>
                        <span>ส่งคะแนน</span> เพื่อส่งคะแนนสรุปที่ได้รับรองคะแนนแล้ว ไปยัง HR<br><br>
                        7. เลือก <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                        <span>แจ้งผล</span> เพื่อส่งผลการประเมินไปยังผู้รับการประเมิน
                    </span>
                </div>
            </div>
        </div>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column">
            <table class="table is-striped is-fullwidth" id="reqTable">
                <thead>
                <th>รอบการประเมิน</th>
                <th>ช่วง</th>
                <th>ผู้รับการประเมิน</th>
                <th>กลุ่มผู้ประเมิน</th>
                <th></th>
                </thead>
                <tbody>
                {% for pa in pa_list %}
                <tr>
                    <td>
                        {{ pa.round.desc }}
                    </td>
                    <td>
                        {{ pa.round }}
                    </td>
                    <td>
                        {{ pa.staff }}
                    </td>
                    <td>
                        {% for c in pa.committees %}
                            <a class="tag is-medium">
                            {{ c }}
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if pa.is_change_head_committee %}
                            มีการเปลี่ยนแปลงหัวหน้างานกรุณาติดต่อ HR
                        {% elif pa.is_submitted %}
                        <div class="field has-addons">
                            <div class="control">
                                <a href="{{ url_for('pa.create_scoresheet', pa_id=pa.id) }}"
                                   class="button is-dark is-outlined is-rounded is-small">
                                    {% if pa.is_final_head_scoresheet %}
                                    <span class="tag is-success is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-magnifying-glass-chart"></i>
                                        </span>
                                        <span>2. ประเมิน</span>
                                    </span>
                                    {% else %}
                                    <span class="icon">
                                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                                    </span>
                                    <span>1. ประเมิน</span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('pa.assign_committee', pa_id=pa.id) }}"
                                   class="button is-dark is-rounded is-outlined is-small">
                                    {% if pa.is_committee %}
                                    <span class="tag is-success is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-user-plus"></i>
                                        </span>
                                        <span>2. กรรมการ</span>
                                    </span>
                                    {% else %}
                                    <span class="is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-user-plus"></i>
                                        </span>
                                        <span>2. กรรมการ</span>
                                    </span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('pa.confirm_send_scoresheet_for_committee', pa_id=pa.id) }}"
                                   class="button is-dark is-outlined is-rounded is-small">
                                    {% if pa.is_confirm %}
                                    <span class="tag is-success is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-paper-plane"></i>
                                        </span>
                                        <span>3. ส่งแบบประเมิน</span>
                                    </span>
                                    {% else %}
                                    <span class="icon"><i class="fa-solid fa-paper-plane"></i></span>
                                    <span>3. ส่งแบบประเมิน</span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('pa.summary_scoresheet', pa_id=pa.id) }}"
                                   class="button is-dark is-outlined is-rounded is-small">
                                    {% if pa.is_final_consolidated_head_scoresheet %}
                                    <span class="tag is-success is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-chart-simple"></i>
                                        </span>
                                        <span>4. สรุปผล</span>
                                    </span>
                                    {% else %}
                                    <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                                    <span>4. สรุปผล</span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('pa.create_consensus_scoresheets', pa_id=pa.id) }}"
                                   class="button is-dark is-outlined is-rounded is-small">
                                    {% if pa.is_already_approved %}
                                    <span class="tag is-success is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-square-check"></i>
                                        </span>
                                        <span>5. ขอรับรองผล</span>
                                    </span>
                                    {% else %}
                                    <span class="icon">
                                        <i class="fa-solid fa-square-check"></i>
                                    </span>
                                    <span>5. ขอรับรองผล</span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('pa.send_consensus_scoresheets_to_hr', pa_id=pa.id) }}"
                                   class="button is-dark is-outlined is-rounded is-small">
                                    {% if pa.is_send_hr %}
                                    <span class="tag is-success is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-users"></i>
                                        </span>
                                        <span>6. ส่งคะแนนHR</span>
                                    </span>
                                    {% else %}
                                    <span class="icon">
                                        <i class="fa-solid fa-users"></i>
                                    </span>
                                    <span>6. ส่งคะแนนHR</span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('pa.send_evaluation_comment', pa_id=pa.id) }}"
                                   class="button is-dark is-outlined is-rounded is-small">
                                    {% if pa.is_inform %}
                                    <span class="tag is-success is-light">
                                        <span class="icon">
                                            <i class="fa-solid fa-envelope"></i>
                                        </span>
                                        <span>7. แจ้งผล</span>
                                    </span>
                                    {% else %}
                                    <span class="icon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <span>7. แจ้งผล</span>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        {% else %}
                            {% if pa.is_approved %}
                                ยังไม่ได้ส่งคำขอรับการประเมิน อาจอยู่ในขั้นตอนรายงานผลการดำเนินการ
                            {% else %}
                                ยังไม่ได้รับรอง PA อาจอยู่ในขั้นตอนการบันทึกภาระงาน หรือรอการอนุมัติคำขอรับรอง
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons is-centered">
                    <a href="{{ url_for('pa.index') }}"
                       class="button is-light">
                        <span class="icon">
                            <i class="fa-solid fa-chevron-left"></i>
                        </span>
                        <span>หน้าหลัก</span>
                    </a>
                    <b-dropdown hoverable aria-role="list">
                        <button class="button is-info" slot="trigger">
                            <span>ปีงบอื่นๆ</span>
                            <b-icon icon="menu-down"></b-icon>
                        </button>
                        {% for fy in end_round_year|sort(attribute='fy', reverse=True) %}
                        <b-dropdown-item aria-role="listitem" href="
                            {{ url_for('pa.all_approved_others_year', end_round_year=fy) }}">
                            รอบ {{ fy+543 }}</b-dropdown-item>
                        {% endfor %}
                    </b-dropdown>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <table class="table is-striped is-fullwidth" id="paTable">
                    <thead>
                    <th>รอบการประเมิน</th>
                    <th>ผู้รับการประเมิน</th>
                    <th>จัดทำ PA</th>
                    <th>ประเมินตนเอง</th>
                    <th>ส่งขอรับการประเมิน</th>
                    <th>การประเมินของกรรมการ</th>
                    <th>ส่งคะแนนให้ HR</th>
                    </thead>
                    <tbody>
                    {% for pa in pa_query %}
                        {% if not pa.staff.is_retired %}
                    <tr>
                        <td style="width: 5%">
                            {{ pa.round.desc }} ({{ pa.round }})
                        </td>
                        <td style="width: 13%">
                            {{ pa.staff.personal_info.fullname }}
                        </td>
                        <td>
                            {% for r in pa.requests|sort(attribute='submitted_at') %}
                                {% if r.for_ == 'ขอรับรอง' %}
                                ส่ง: {{ r.submitted_at|localdatetime }} {{ r.status }}:{{ r.responded_at|localdatetime }}<br>
                                {% endif %}
                            {% endfor %}
                            {% if pa.approved_at %}
                                    <span class="tag is-success is-light is-rounded">
                                        <span class="icon">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <span>รับรองPAแล้ว</span>
                                    </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for scoresheet in pa.pa_score_sheet %}
                                {% if scoresheet.staff_id %}
                                    {% if scoresheet.is_final %}
                                    <span class="tag is-success is-light is-rounded">
                                        <span class="icon">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <span>ประเมินตนเองแล้ว</span>
                                    </span>
                                    {% else %}
                                        {{ scoresheet.updated_at|localdatetime or '' }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for r in pa.requests|sort(attribute='submitted_at') %}
                                {% if r.for_ == 'ขอรับการประเมิน' %}
                                ส่ง: {{ r.submitted_at|localdatetime }} {{ r.status }}:{{ r.responded_at|localdatetime }}<br>
                                {% endif %}
                            {% endfor %}
                            {% if pa.submitted_at %}
                                    <span class="tag is-success is-light is-rounded">
                                        <span class="icon">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <span>ส่งขอรับการประเมินแล้ว</span>
                                    </span>
                            {% endif %}
                        </td>
                        <td style="width: 13%">
                            {% for s in pa.pa_score_sheet|sort(attribute='id') %}
                                {% if not s.staff_id %}
                                    {% if s.committee %}
                                        {% if s.is_consolidated %}
                                            สรุปคะแนน
                                        {% else %}
                                            {{ s.committee.staff.fullname }}
                                            <span class="is-size-7">({{ s.committee.role }})</span>
                                        {% endif %}
                                    {% endif %}
                                    {% if s.is_final %}
                                        <span class="tag is-success is-light is-rounded">
                                            <span class="icon">
                                                <i class="fas fa-check-circle"></i>
                                            </span>
                                            <span>ยืนยันคะแนนแล้ว</span>
                                        </span>
                                        <br>
                                    {% else %}
                                        <span class="tag is-warning is-rounded">
                                            <span class="icon">
                                                <i class="fas fa-hourglass"></i>
                                            </span>
                                            <span>รอดำเนินการ</span>
                                        </span>
                                        <br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for s in pa.pa_score_sheet %}
                                {% for a in s.approved_score_sheet %}
                                    {% if not a.approved_at %}
                                        <span class="is-size-6">{{ a.committee.staff.fullname }}</span>
                                        <span class="is-size-7">:ยังไม่อนุมัติคะแนนสรุป <br></span>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if pa.evaluated_at %}
                                    <span class="tag is-success is-rounded">
                                        <span class="icon">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <span>ส่งคะแนนแล้ว</span>
                                    </span>
                            {% endif %}
                        </td>
                    </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
        new Vue({
        el: '#app',
        });
        $(document).ready(function(){
            $('#reqTable').DataTable({
                "pageLength": 50
            });
            $('#paTable').DataTable({
                "pageLength": 10,
                order: [[0, 'desc'], [5, 'asc']]
            });
        });
    </script>
{% endblock %}