<div class="modal is-active animate__animated" id="idp-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">เพิ่ม IDP</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <form hx-post="{{ url_for('pa.idp_details', idp_id=idp_id) }}">
                        {{ form.hidden_tag() }}
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">สมรรถนะ/ทักษะ ที่ต้องได้รับการพัฒนา</label>
                    <div class="control">
                        {{ form.plan(class="input", required=True) }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">พฤติกรรม/ผลลัพธ์ ที่คาดหวัง</label>
                    <div class="control">
                        {{ form.goal(class="input", required=True) }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">วิธีการพัฒนา(70 : 20 : 10)</label>
                    <div class="select">{{ form.learning_type( style="width:100%" ) }}</div>
                </div>
                <div class="field">
                    <label class="label">รายละเอียดการพัฒนา</label>
                    <div class="control">
                        {{ form.learning_plan(class="input", required=True) }}
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <label class="label">ระยะเวลา เริ่มต้น</label>
                        <div class="control">
                            {{ form.start(class="input") }}
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">สิ้นสุด</label>
                        <div class="control">
                            {{ form.end(class="input") }}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">งบประมาณ</label>
                    <div class="control">
                        {{ form.budget(class="input") }}
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-outlined" id="cancel-btn">Cancel</button>
                <button class="button is-success" id="save-btn" type="submit">Save</button>
            </footer>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $(document).ready(() => {
        $('#dates').daterangepicker({
            timePicker: false,
            showDropdowns: true,
            linkedCalendars: false,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
    });
</script>
<script>
    window.document.getElementById("cancel-btn").addEventListener("click", function (event) {
        event.preventDefault()
        htmx.removeClass(htmx.find('#idp-modal'), 'is-active')
    })
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#idp-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#idp-modal'), 'is-active')
    })
</script>
