{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}
{% block page_content %}
    <section class="section" id="app">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('receipt_printing.landing') }}">หน้าหลัก</a></li>
                    <li class="is-active"><a href="#" aria-current="page">รายงานการรับเงินประจำวัน</a></li>
                </ul>
            </nav>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="field-body">
                            <div class="field">
                                <label class="label">{{ form.created_datetime.label }}</label>
                                <div class="control">
                                    {{ form.created_datetime(class="input") }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label"></label><br>
                                <div class="control">
                                    <input class="button is-success" type="submit" value="ค้นหาข้อมูล">
                                    <a class="button is-info"
                                            {% if created_datetime %}
                                       href="{{ url_for('receipt_printing.download_daily_payment_report', created_datetime=created_datetime.strftime('%Y-%m-%d')) }}"
                                            {% else %}
                                       href="{{ url_for('receipt_printing.daily_payment_report') }}"
                                            {% endif %}
                                    >
                                        <span class="icon">
                                            <i class="fas fa-download"></i>
                                        </span>
                                        <span>Download</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="columns">
                <table id="receipt_data" class="table is-fullwidth is-striped">
                    <thead>
                    <th>เล่มที่</th>
                    <th>เลขที่</th>
                    <th>รายการ</th>
                    <th>วันที่</th>
                    <th>ช่องทางการชำระเงิน</th>
                    <th>เลขที่บัตรเครดิต</th>
                    <th>เลขที่เช็ค</th>
                    <th>ชื่อผู้ชำระเงิน</th>
                    <th>ผู้รับเงิน/ผู้บันทึก</th>
                    <th>ตำแหน่ง</th>
                    <th>หมายเหตุ</th>
                    </thead>
                    {#                <thead>#}
                    {#                    <th>เล่มที่</th>#}
                    {#                    <th>เลขที่</th>#}
                    {#                    <th>ช่องทางการชำระเงิน</th>#}
                    {#                    <th>เลขที่บัตรเครดิต</th>#}
                    {#                    <th>เลขที่เช็ค</th>#}
                    {#                    <th>รายการ</th>#}
                    {#                    <th>ชื่อผู้ชำระเงิน</th>#}
                    {#                    <th>ผู้รับเงิน/ผู้บันทึก</th>#}
                    {#                    <th>ตำแหน่ง</th>#}
                    {#                    <th>หมายเหตุ</th>#}
                    {#                    </thead>#}
                    <tbody>
                    {% for r in record %}
                        <tr>
                            <td>{{ r.book_number }}</td>
                            <td>{{ r.number }}</td>
                            <td>{{ r.item_list }}</td>
                            <td>{{ r.created_datetime|localdatetime }}</td>
                            <td>{{ r.payment_method }}</td>
                            <td>{{ r.card_number }}</td>
                            <td>{{ r.cheque_number }}</td>
                            <td>{{ r.received_from }}</td>
                            <td>{{ r.issuer.personal_info.fullname }}</td>
                            <td>{{ r.issuer.personal_info.position }}</td>
                            <td>{{ r.comment or '' }}</td>
                        </tr>
                    {% endfor %}
{#                    {% for c in record_comhealth %}#}
{#                        {% if c.book_number and c.code != "None" %}#}
{#                        <tr>#}
{#                            <td>{{ c.book_number }}</td>#}
{#                            <td>{{ c.code }}</td>#}
{#                            <td>{{ c.created_datetime|localdatetime }}</td>#}
{#                            <td>{{ c.created_datetime|localdatetime }}</td>#}
{#                            <td>{{ c.payment_method }}</td>#}
{#                            <td>{{ c.card_number }}</td>#}
{#                            <td>{{ '' }}</td>#}
{#                            <td>{{ c.issued_for }}</td>#}
{#                            <td>{{ c.issuer.staff.personal_info.fullname }}</td>#}
{#                            <td>{{ c.issuer.staff.personal_info.position }}</td>#}
{#                            <td>{{ c.comment }}</td>#}
{#                        </tr>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
                    </tbody>
                </table>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="buttons is-left">
                        <a class="button is-light"
                           href="{{ url_for('receipt_printing.landing') }}">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>กลับ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[name="created_datetime"]').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD-MM-YYYY'
                }
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#receipt_data').DataTable({})
        });
    </script>
{% endblock %}
