{% extends "base.html" %}
{% block page_content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column box is-half is-offset-one-quarter">
                    {% include "messages.html" %}
                    <div class="has-text-centered">
                        <h2 class="title is-size-2">ใบเสร็จรับเงิน</h2>
                        <h3 class="title is-size-3"></h3>
                        <h1 class="help-inline">กรุณาตรวจสอบรายละเอียดเพื่อการออกใบเสร็จรับเงิน</h1>
                    </div>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        {% for i in form.items %}
                            <div class="field">
                                <label class="label">รายการ</label>
                                <div class="control">
                                    {{ i.item(class="input") }}
                                </div>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">ราคา</label>
                                    <div class="control">
                                        {{ i.price(class="input", placeholder="฿") }}
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">หมายเหตุรายการ</label>
                                <div class="control">
                                    {{ i.comment(class="input") }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="field">
                            <label class="label">รายการ</label>
                            <div class="control">
                                <input class="input" id="items-3-item" name="items-3-item" type="text" value="">
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">ราคา</label>
                                <div class="control">
                                    <input class="input" id="items-3-price" name="items-3-price" placeholder="฿"
                                           step="any" type="number" value="">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">หมายเหตุรายการ</label>
                            <div class="control">
                                <textarea class="input" id="items-3-comment" name="items-3-comment"></textarea>
                            </div>
                        </div>

                        <a href="javascript:void(0)" ; id="add-item" ; title="Add item field">
                            <button class="button is-info add-item">เพิ่มรายการ</button>
                        </a>

                        <div class="field-body">
                            <div class="field">
                                <label class="label">ช่องทางการชำระเงิน</label>
                                <div class="select is-fullwidth">
                                    {{ form.payment_method(class="input") }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">จำนวนเงิน</label>
                                <div class="control">
                                    {{ form.paid_amount(class="input") }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.card_number.label }}</label>
                            <div class="control">
                                {{ form.card_number(class="input", id="card-no") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">เช็คเลขที่</label>
                            <div class="control">
                                {{ form.cheque_number(class="input", id="cheque-no") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ช่องทางการชำระเงินอื่นๆ</label>
                            <div class="control">
                                {{ form.other_payment_method(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ได้รับเงินจาก</label>
                            <div class="control">
                                {{ form.received_from(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">หมายเหตุรายละเอียด</label>
                            <div class="control">
                                {{ form.comment(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ที่อยู่ในใบเสร็จรับเงิน</label>
                            <div class="control">
                                {{ form.address(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ผู้ออกใบเสร็จ</label>
                            <div class="select">
                                {{ form.issuer() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ผู้รับเงิน</label>
                            <div class="select">
                                {{ form.cashier() }}
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-centered"><br><br>
                            <div class="buttons">
                                <button class="button is-success" type="submit" value="submit">Submit</button>
                                <a href="{{ url_for('receipt_printing.landing') }}" class="button is-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            var max_input_fields = 10;#}
    {#            var add_input = $('.add-item');#}
    {#            var input_ = $('.input');#}
    {#            var new_input = '<div><input type="text" name="field[]" value=""/><a href="javascript:void(0);" ' +#}
    {#                'class="remove-input" title="Remove input"></a></div>';#}
    {#            var add_input_count = 1;#}
    {#            $(add_input).click(function () {#}
    {#                if (add_input_count < max_input_fields) {#}
    {#                    add_input_count++;#}
    {#                    $(input_).append(new_input);#}
    {#                }#}
    {#            });#}
    {#            $(input_).on('click', '.remove-input', function (e) {#}
    {#                e.preventDefault();#}
    {#                $(this).parent('div').remove();#}
    {#                add_input_count--;#}
    {#            });#}
    {#        });#}
    {#    </script>#}
        <script>
            $(document).ready(()=>{
                $('#card-no').hide()
                $('#cheque-no').hide()
                $('#other_payment_method').hide()
                $('#payment_method').change(e=>{
                    if ($('#payment_method').val() !== null) {
                    $('#card-no').show()
                } else {
                        $('#card-no').hide()
                    }
                })
                if ($('#payment_method').val() === null) {
                    $('#card-no').show()
                }
            })
        </script>
{% endblock %}
