{% extends "base.html" %}
{% block page_content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column box is-half is-offset-one-quarter">
                    {% include "messages.html" %}
                    <div class="has-text-centered">
                        <h2 class="title is-size-2">ใบเสร็จรับเงิน</h2>
                        <h3 class="title is-size-3"></h3>
                        <h1 class="help-inline">กรุณาตรวจสอบรายละเอียดเพื่อการออกใบเสร็จรับเงิน</h1>
                    </div>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <p>
                        <div class="field">
                            <label class="label">ที่อยู่ในใบเสร็จรับเงิน</label>
                            <div class="control">
                                {{ form.address(class="textarea") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ได้รับเงินจาก</label>
                            <div class="control">
                                {{ form.received_from(class="input") }}
                            </div>
                        </div>
                            {% for i in form.items %}
                                <div class="field">
                                    <label class="label">รายการ</label>
                                    <div class="control">
                                        {{ i.item(class="input") }}
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <label class="label">จำนวนเงิน</label>
                                        <div class="control">
                                            {{ i.price(class="input", placeholder="฿") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">หมายเหตุ</label>
                                    <div class="control">
                                        {{ i.comment(class="input") }}
                                    </div>
                                </div>
                            {% endfor %}
                        </p>
                        <div id="items"></div><br>
                        <button type="button" hx-post="{{ url_for('receipt_printing.list_add_items') }}"
                                hx-target="#items" hx-swap="beforeend">เพิ่มรายการ
                        </button>
                        <button type="button" hx-post="{{ url_for('receipt_printing.delete_items') }}"
                                hx-target="#items" hx-swap="outerHTML swap:1s" hx-delete="/contact/1"
                                hx-confirm="Are you sure to delete?">ลบรายการ
                        </button>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">ช่องทางการชำระเงิน</label>
                                <div class="select is-fullwidth">
                                    {{ form.payment_method(class="input") }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">จำนวนเงิน</label>
                                <div class="control">
                                    {{ form.paid_amount(class="input") }}
                                </div>
                            </div>
                        </div>
                        <div class="field" id="card-no">
                            <label class="label">{{ form.card_number.label }}</label>
                            <div class="control">
                                {{ form.card_number(class="input", id="card-no") }}
                            </div>
                        </div>
                        <div class="field" id="cheque-no">
                            <label class="label">เช็คเลขที่</label>
                            <div class="control">
                                {{ form.cheque_number(class="input", id="cheque-no") }}
                            </div>
                        </div>
                        <div class="field" id="other_payment_method">
                            <label class="label">ช่องทางการชำระเงินอื่นๆ</label>
                            <div class="control">
                                {{ form.other_payment_method(class="input", id="other_payment_method") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">หมายเหตุรายละเอียด</label>
                            <div class="control">
                                {{ form.comment(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ผู้ออกใบเสร็จ</label>
                            <div class="select">
                                {{ form.issuer() }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ผู้รับเงิน</label>
                            <div class="select">
                                {{ form.cashier() }}
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-centered"><br><br>
                            <div class="buttons">
                                <button class="button is-success" type="submit" value="submit">Submit</button>
                                <a href="{{ url_for('receipt_printing.landing') }}" class="button is-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(() => {
            $('#card-no').hide()
            $('#cheque-no').hide()
            $('#other_payment_method').hide()
            $('#payment_method').change(e => {
                $('#card-no').hide()
                $('#cheque-no').hide()
                $('#other_payment_method').hide()
                if ($('#payment_method').val() === "บัตรเครดิต") {
                    $('#card-no').show()
                } else {
                    $('#card-no').hide()
                }
                if ($('#payment_method').val() === "เช็คสั่งจ่าย") {
                    $('#cheque-no').show()
                } else {
                    $('#cheque-no').hide()
                }
                if ($('#payment_method').val() === "อื่นๆ") {
                    $('#other_payment_method').show()
                } else {
                    $('#other_payment_method').hide()
                }
            })
        })
    </script>
{% endblock %}
