{% extends "base.html" %}
{% block page_content %}
    <section class="section" id="app">
        <div class="container box" id="receipt">
            <div class="columns">
                <div class="column has-text-centered">
                    <h3 class="title is-size-3">ใบเสร็จรับเงินรูปแบบอิเล็กทรอนิกส์ / e-Receipt</h3>
            <div class="pdf-toolbar">
               <div id="navigation_controls">
                  <button class="pdf-toolbar-button" id="previous">Previous</button>
                  <input class="pdf-input" id="current_page" value="1" type="number"/>
                  <button class="pdf-toolbar-button" id="next">Next</button>
                </div>

               <div id="zoom_controls">
                 <button class="pdf-toolbar-button" id="zoom_in">+</button>
                 <button class="pdf-toolbar-button" id="zoom_out">-</button>
                </div>
            </div>
            <div id = "canvas_container">
               <canvas id = "pdf_renderer"> </canvas>
            </div>
                    </div>
            </div>
            <hr>
        </div>
    </section>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            delimiters: ['<%', '%>'],
            data() {
                return {
                    print_number: {{ receipt.print_number }},

                }
            },
            methods: {
                printReceipt: function () {
                    printJS({{url_for('receipt_printing.export_receipt_pdf', receipt_id=receipt.id)|tojson|safe}});
                }
            },
        });
    </script>
    <script>
        var defaultState = {
        pdf: null,
        currentPage: 1,
        zoom: 2
    }

    // GET OUR PDF FILE
    pdfjsLib.getDocument({{ url_for('receipt_printing.export_receipt_pdf', receipt_id=receipt.id)|tojson|safe}}).then((pdf) => {

        defaultState.pdf = pdf;
        render();

    });

    // RENDER PDF DOCUMENT
    function render() {
        defaultState.pdf.getPage(defaultState.currentPage).then((page) => {

            var canvas = document.getElementById("pdf_renderer");
            var ctx = canvas.getContext('2d');

            var viewport = page.getViewport(defaultState.zoom);

            canvas.width = viewport.width;
            canvas.height = viewport.height;

            page.render({
                canvasContext: ctx,
                viewport: viewport
            });
        });
    }

    // FUNCTION GO TO PREVIOUS SITE
    document.getElementById('previous').addEventListener('click', (e) => {
        if (defaultState.pdf == null || defaultState.currentPage == 1)
            return;
        defaultState.currentPage -= 1;
        document.getElementById("current_page").value = defaultState.currentPage;
        render();
    });

    // FUNCTION GO TO PREVIOUS NEXT
    document.getElementById('next').addEventListener('click', (e) => {
        if (defaultState.pdf == null || defaultState.currentPage > defaultState.pdf._pdfInfo.numPages)
            return;
        defaultState.currentPage += 1;
        document.getElementById("current_page").value = defaultState.currentPage;
        render();
    });

    // FUNCTION GO TO CUSTUM SITE
    document.getElementById('current_page').addEventListener('keypress', (e) => {
        if (defaultState.pdf == null) return;

        var code = (e.keyCode ? e.keyCode : e.which);

        if (code == 13) { // ON CLICK ENTER GO TO SITE TYPED IN TEXT-BOX
            var desiredPage =
                document.getElementById('current_page').valueAsNumber;

            if (desiredPage >= 1 && desiredPage <= defaultState.pdf._pdfInfo.numPages) {
                defaultState.currentPage = desiredPage;
                document.getElementById("current_page").value = desiredPage;
                render();
            }
        }
    });

    // FUNCTION FOR ZOOM IN
    document.getElementById('zoom_in').addEventListener('click', (e) => {
        if (defaultState.pdf == null) return;
        defaultState.zoom += 0.5;
        render();
    });

    // FUNCTION FOR ZOOM OUT
    document.getElementById('zoom_out').addEventListener('click', (e) => {
        if (defaultState.pdf == null) return;
        defaultState.zoom -= 0.5;
        render();
    });
    </script>

{% endblock %}
