{% extends "base.html" %}

{% include "meeting_planner/nav.html" %}
{% block page_content %}
<section class="section">
<div class="container">
    <div class="columns">
        <div class="column is-one-third is-offset-4">
            {% include "messages.html" %}
            <nav class="panel is-info">
                <p class="panel-heading">Meeting</p>
                <a class="panel-block"
                   href="{{ url_for('meeting_planner.create_meeting') }}">
                    <span class="panel-icon">
                        <i class="fa-solid fa-users"></i>
                    </span>
                    <span class="is-size-5">
                        สร้างการประชุมใหม่
                    </span>
                </a>
                <a class="panel-block"
                   href="{{ url_for('meeting_planner.list_meetings') }}">
                    <span class="panel-icon">
                        <i class="fa-solid fa-users"></i>
                    </span>
                    <span class="is-size-5">
                        การประชุมที่รับผิดชอบนัดหมาย
                    </span>
                </a>
                 <a class="panel-block"
                   href="{{ url_for('meeting_planner.list_poll') }}">
                    <span class="panel-icon">
                        <i class="fa-solid fa-users"></i>
                    </span>
                    <span class="is-size-5">สร้างโพลสำรวจวันประชุม
                    </span>
               </a>
            </nav>
        </div>
    </div>
</div>
</section>
{% endblock %}
