{% extends "base.html" %}
{% block title %}MUMT Internal Information System{% endblock %}
{% include "nav.html" %}
{% block page_content %}
    <section class="section">
        <div class="container">
            <h1 class="title" style="text-align: center">Poll Invitations</h1>
            {% include 'messages.html' %}
            <div class="columns">
                <div class="column">
                    <div id="vote-detail-modal"></div>
                    <table id="poll" class="table is-fullwidth">
                        <thead>
                        <th>ชื่อรายการ</th>
                        <th>เริ่มสำรวจ</th>
                        <th>ปิดสำรวจ</th>
                        <th>สถานะ</th>
                        <th>ผลสำรวจ</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for item in poll %}
                            <tr>
                            <td>
                                {{ item.poll_name }}
                            </td>
                            <td>
                                {{ item.start_vote.strftime('วันที่ %d/%m/%Y  เวลา %H:%M') }}
                            </td>
                            <td>
                                {{ item.close_vote.strftime('วันที่ %d/%m/%Y  เวลา %H:%M') }}
                            </td>
                            <td>
                                {% if date_time_now|localdatetime < item.start_vote|localdatetime and
                                           date_time_now|localdatetime < item.close_vote|localdatetime %}
                                    <span class="tag is-info is-rounded">ยังไม่เปิดการสำรวจ</span>
                                {% elif date_time_now|localdatetime >= item.start_vote|localdatetime and
                                             date_time_now|localdatetime < item.close_vote|localdatetime %}
                                    <span class="tag is-success is-rounded">เปิดการสำรวจแล้ว</span>
                                {% elif date_time_now|localdatetime > item.start_vote|localdatetime and
                                             date_time_now|localdatetime >= item.close_vote|localdatetime %}
                                    <span class="tag is-danger is-rounded">ปิดการสำรวจแล้ว</span>
                                {% else %}
                                    <span class="tag">ยังไม่มีการสำรวจ</span>
                                {% endif %}
                            </td>
                            <td>
                                <a hx-swap="innerHTML"
                                   hx-target="#vote-detail-modal"
                                   hx-get="{{ url_for('meeting_planner.show_vote', poll_id=item.id) }}">
                                    <span class="icon">
                                        <i class="fa-solid fa-eye"></i>
                                    </span>
                                </a>
                            </td>
                            <td>
                                <div class="buttons is-centered">
                                    {% if date_time_now|localdatetime < item.start_vote|localdatetime and
                                              date_time_now|localdatetime < item.close_vote|localdatetime %}
                                        <a class="button is-light tag" disabled>
                                            <span class="icon"><i class="fas fa-vote-yea"></i></span>
                                            <span>Vote</span>
                                        </a>
                                    {% elif date_time_now|localdatetime >= item.start_vote|localdatetime and
                                                date_time_now|localdatetime < item.close_vote|localdatetime %}
                                        <a class="button is-info is-light tag"
                                           href="{{ url_for('meeting_planner.add_vote',poll_id=item.id) }}">
                                            <span class="icon"><i class="fas fa-vote-yea"></i></span>
                                            <span>Vote</span>
                                        </a>
                                    {% elif date_time_now|localdatetime > item.start_vote|localdatetime and
                                                date_time_now|localdatetime >= item.close_vote|localdatetime %}
                                        <a class="button is-light tag" disabled>
                                            <span class="icon"><i class="fas fa-vote-yea"></i></span>
                                            <span>Vote</span>
                                        </a>
                                    {% else %}
                                        <a class="button is-light tag" disabled>
                                            <span class="icon"><i class="fas fa-vote-yea"></i></span>
                                            <span>Vote</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#poll').DataTable();
        });
    </script>
{% endblock %}