{% extends "base.html" %}

{% include "staff/nav.html" %}

{% block page_content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title has-text-centered">Meeting Invitations</h1>
                    <div class="tabs is-boxed">
                        <ul>
                            <li {% if cat == 'new' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('meeting_planner.list_invitations', cat='new') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-envelope"></i></span>
                                    <span>New</span>
                                </a>
                            </li>
                            <li {% if cat == 'pending' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('meeting_planner.list_invitations', cat='pending') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-hourglass-start"></i></span>
                                    <span>Pending</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <table class="table is-fullwidth">
                        <thead>
                        <th></th>
                        <th>ชื่อ</th>
                        <th>เริ่ม</th>
                        <th>สิ้นสุด</th>
                        <th>ห้อง</th>
                        <th></th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% if cat == 'new' %}
                            {% set invitations = current_user.new_invitations %}
                        {% else %}
                            {% set invitations = current_user.pending_invitations %}
                        {% endif %}
                        {% for i in invitations %}
                            {% if i.meeting.start >= now %}
                            <tr>
                                <td>
                                <span class="icon" id="left-icon-{{ i.id }}">
                                    {% if i.response == 'เข้าร่วม' %}
                                        <i class="fa-sharp fa-regular fa-circle-check has-text-success"></i>
                                    {% elif i.response == 'ไม่เข้าร่วม' %}
                                        <i class="fa-solid fa-hand has-text-danger"></i>
                                    {% else %}
                                        <i class="fa-solid fa-hourglass-start"></i>
                                    {% endif %}
                                </span>
                                </td>
                                <td>{{ i.meeting.title }}</td>
                                <td>{{ i.meeting.start.strftime('%d/%m/%Y %H:%M') }}</td>
                                <td>{{ i.meeting.end.strftime('%d/%m/%Y %H:%M') }}</td>
                                <td>{{ i.meeting.rooms }}</td>
                                <td>
                                    {{ i.meeting.participants|join(', ') }}
                                </td>
                                <td>
                                    <div class="field has-addons" id="target-{{ i.id }}">
                                        <div class="control">
                                            <a class="button is-rounded is-small is-success"
                                               hx-target="#left-icon-{{ i.id }}"
                                               hx-get="{{ url_for('meeting_planner.respond', invitation_id=i.id, next_url=request.url, response='เข้าร่วม', keep="true") }}">
                                                เข้าร่วม
                                            </a>
                                        </div>
                                        <div class="control">
                                            <a class="button is-rounded is-small is-danger"
                                               hx-target="#left-icon-{{ i.id }}"
                                               hx-get="{{ url_for('meeting_planner.respond', invitation_id=i.id, next_url=request.url, response='ไม่เข้าร่วม', keep="true") }}">
                                                ไม่เข้าร่วม
                                            </a>
                                        </div>
                                        <div class="control">
                                            <a class="button is-rounded is-small is-light"
                                               hx-target="#left-icon-{{ i.id }}"
                                               hx-get="{{ url_for('meeting_planner.respond', invitation_id=i.id, next_url=request.url, response='ไม่แน่ใจ', keep="true") }}">
                                                ไม่แน่ใจ
                                            </a>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div id="note-target-{{ i.id }}"></div>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="buttons is-centered">
                        <a href="{{ url_for('staff.index') }}" class="button is-light">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}