{% extends "base.html" %}
{% block title %}MUMT Internal Information System{% endblock %}
{% include "nav.html" %}
{% block page_content %}
    <section class="section">
        <div class="container">
            <h1 class="title">ผลโหวตวันประชุม</h1>
            {% include 'messages.html' %}
            <div class="columns">
                <div class="column">
                <h1>{{ poll.poll_name }}</h1>
                    <table id="meetings" class="table is-fullwidth">
                        <thead>
                        <th>ผลสำรวจ</th>
                        <th>รายชื่อผู้โหวต</th>
                        </thead>
                        <tbody>
                        {% for item in poll.poll_items %}
                            <tr>
                            <td>
                                {{ item.date_time|localdatetime }}
                            </td>
                            <td>
                                {{ item.voters|length }}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#meetings').DataTable();
        });
    </script>
{% endblock %}