<tr>
    <td style="width: 10%">
        {{ form.no(class='input') }}
    </td>
    <td>
        {{ form.detail(class='textarea') }}
        <hr>
        <label class="label">วันครบกำหนด</label>
        {{ form.deadline(class='input') }}
        <hr>
        <label class="label">ผู้รับผิดชอบ</label>
        {{ form.admins(class='js-example-basic-multiple', multiple='multiple') }}
    </td>
    <td style="width: 10%">
        <a class="button is-success is-outlined"
           {% if task_id %}
               hx-post="{{ url_for('meeting_planner.edit_task_form', task_id=task_id) }}"
           {% else %}
                hx-post="{{ url_for('meeting_planner.add_task_form', topic_id=topic_id) }}"
           {% endif %}
           hx-include="closest tr">
            <span class="icon"><i class="fas fa-save"></i></span>
        </a>
    </td>
</tr>
