{% extends "base.html" %}
{% block title %}Category Page{% endblock %}
{% include "purchase_tracker/nav.html" %}
{% block page_content %}
<section class="section">
    <nav class="panel">
        <p class="panel-heading">
            กิจกรรมใหม่
        </p>
        {% for PurchaseTrackerActivity in activity %}
        <a>{{ PurchaseTrackerActivity.Activity }}</a>
        {% endfor %}
    </nav>
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">เพิ่มกิจกรรมใหม่</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="box">
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">{{ form.activity.label }}</label>
                        <div class="control">
                            {{ form.activity(class="input is-info") }}
                        </div>
                    </div>
                    <br>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="buttons">
                            <button class="button is-success" type="submit" value="submit">บันทึก</button>
                            <a href="{{ url_for('purchase_tracker.update_status', account_id=account_id) }}" class="button is-danger">ยกเลิก</a>
                        </div>
                    </div>
                    <hr>
                    </form>
                </div>
             </div>
        </div>
    </div>
</section>
{% endblock %}
