{% extends "base.html" %}
{% block title %}Information{% endblock %}
{% include "nav.html" %}
{% block page_content %}
 <div class="container">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="{{ url_for('static', filename='img/logo-MU_black-white-2-1.png') }}"/>
            </a>
            <a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('purchase_tracker.index') }}" class="navbar-item ">
                    Home
                </a>
                <a href="{{ url_for('purchase_tracker.supplies') }}" class="navbar-item ">
                    All Information
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link ">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <hr class="navbar-divider"/>
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
 </div>
 <header class="section">
     {% include "messages.html" %}
     <div class="columns">
         <div class="column has-text-centered">
             <h1 class="title"> Show Information</h1>
         </div>
     </div>
     <div class="columns">
         <div class="column is-two-thirds is-offset-2">
             <div class="card">
                 <div class="card-header">
                     <h1 class="card-header-title">
                         <span>
                             {{ tracker.creation_date }}
                         </span>
                     </h1>
                 </div>
                 <div class="card-content">
                     <table class="table is-striped is-bordered is-fullwidth">
                         <colgroup>
                             <col span="1" style="width: 25%;">
                             <col span="1" style="width: 75%;">
                         </colgroup>
                        {% if activities  %}
                            <div id="chart_div"></div>
                        {% endif %}
                         <tr>
                             <td><label class="label">Subject: เรื่อง</label></td>
                             <td>{{ tracker.subject }}</td>
                         </tr>
                         <tr>
                             <td><label class="label">Number: เลขที่</label></td>
                             <td>{{ tracker.number }}</td>
                         </tr>
                        <tr>
                             <td><label class="label">Coordinator: ผู้ประสานงาน</label></td>
                             <td>{{ tracker.staff.personal_info.fullname }}</td>
                         </tr>
                         <tr>
                             <td><label class="label">Description: รายละเอียด</label></td>
                             <td>{{ tracker.desc }}</td>
                         </tr>
                         <tr>
                             <td><label class="label">Comment: หมายเหตุ</label></td>
                             <td>{{ tracker.comment }}</td>
                         </tr>
                         <tr>
                             <td><label class="label">File: ไฟล์</label></td>
                             <td>
                                 {% if tracker.url %}
                                     <a href="{{ 'https://drive.google.com/uc?id=' + tracker.url }}"
                                        target="_blank">
                                         <span class="icon">
                                             <i class="far fa-file-pdf"></i>
                                         </span>
                                         <span>ไฟล์เอกสาร</span>
                                     </a>
                                 {% else %}
                                     -
                                 {% endif %}
                             </td>
                         </tr>
                         <tr>
                             <td><label class="label">Update: อัพเดตล่าสุด</label>
                             <td>
                             <table class="table is-fullwidth is-striped">
                                 <thead>
                                 <th>กิจกรรม</th>
                                 <th>ผู้รับผิดชอบ</th>
                                 <th>วันเริ่มต้น</th>
                                 <th>วันสิ้นสุด</th>
                                 </thead>
                                 <tbody>
                                 {% for tracker in tracker.records %}
                                    <tr>
                                        <td>{{ tracker.activity }}</td>
                                        <td>{{ tracker.staff }}</td>
                                        <td>{{ tracker.start_date }}</td>
                                        <td>{{ tracker.end_date }}</td>
                                        <td>
                                            <a href="{{ url_for('purchase_tracker.edit_update_status', account_id=account_id, status_id=tracker.id) }}"
                                                class="button is-small is-primary is-outlined">
                                                <span class="icon">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </span>
                                                <span>แก้ไข</span>
                                            </a>
                                            <a href="{{ url_for('purchase_tracker.delete_update_status', account_id=account_id, status_id=tracker.id) }}"
                                                class="button is-small is-danger is-outlined">
                                                <span class="icon">
                                                   <i class="far fa-trash-alt"></i>
                                                </span>
                                                <span>ลบ</span>
                                            </a>
                                        </td>
                                    </tr>
                                 {% endfor %}
                                 </tbody>
                                </table>
                                <div class="buttons is-centered">
                                    <a class="button is-info"
                                       href="#update">
                                        <span class="icon">
                                           <i class="fas fa-plus"></i>
                                        </span>
                                        <span>เพิ่มรายการกิจกรรม</span>
                                    </a>
                                    <a class="button is-warning"
                                       href="{{ url_for('purchase_tracker.update_status_info_download') }}">
                                        <span class="icon">
                                          <i class="fas fa-download"></i>
                                        </span>
                                        <span>Download</span>
                                    </a>
                                </div>
                             </td>
                         </tr>
                        </table>
                        <div class="columns" id="update">
                            <a name="#update"></a>
                            <div class="column is-one-third is-offset-4">
                                <form method="post">
                                    {{ form.hidden_tag() }}
                                    <h2 class="subtitle">Update Information {{ success }}
                                        <span class="icon">
                                            <i class="far fa-edit"></i>
                                        </span>
                                    </h2>
                                    <div class="field">
                                        <label class="label">{{ form.status.label }}</label>
                                        <div class="select is-fullwidth is-info">
                                            {{ form.status() }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">{{ form.activity.label }}</label>
                                        <div class="control">
                                            <div class="select is-fullwidth is-info">
                                            {{ form.activity() }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">{{ form.start_date.label }}</label>
                                        <div class="control">
                                            {{ form.start_date(class="input", value=default_date) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">{{ form.days.label }}</label>
                                        <div class="control">
                                            {{ form.days(class="input", value=1) }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">{{ form.comment.label }}</label>
                                        <div class="control">
                                            {{ form.comment(class="input") }}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="buttons ">
                                            <button class="button is-success" type="submit" value="submit">Submit
                                            </button>
                                            <a href="{{ url_for('purchase_tracker.supplies') }}"
                                               class="button is-danger">Back</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </header>
{% endblock page_content %}
{% block scripts %}
    {{ super() }}
    <script>
        $('#upload').change(function (e) {
            let fileName = e.target.files[0].name;
            $('#filename').text(fileName);
        });
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['gantt']});
        var _activities = {{ activities|tojson|safe }};
        var activities = [];
        _activities.forEach(a=>{
            activities.push([
                a[0],
                a[1],
                new Date(a[2]),
                new Date(a[3]),
                a[4],
                a[5],
                a[6]
            ])
        })
        console.log(activities)

        function daysToMilliseconds(days) {
            return days * 24 * 60 * 60 * 1000;
        }

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'ID')
            data.addColumn('string', 'Activity');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            data.addRows(activities);

            var options = {
                height: 600
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    </script>
{% endblock %}
