{% extends "base.html" %}
{% include "nav.html" %}

{% block page_content %}
    <section class="section">
        <h1 class="title">สรุปรายงานการแจ้งปัญหาหรือข้อร้องเรียน</h1>
        <div class="container">
            <div id="pie_chart"></div>
            <hr style="margin-bottom: 4em">
            <div id="calendar_new"></div>
            <div id="calendar_pending"></div>
            <div id="calendar_progress"></div>
            <div id="calendar_success"></div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["calendar"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "{{ url_for('comp_tracker.get_new_record_complaint') }}",
                dataType: "json",
                async: false
            }).responseText;
            var dataTable = new google.visualization.DataTable(jsonData);

            var chart = new google.visualization.Calendar(document.getElementById('calendar_new'));

            var options = {
                title: 'ยังไม่ดำเนินการ',
                height: 450, calendar: { cellSize: 20 }
            };

            chart.draw(dataTable, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["calendar"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "{{ url_for('comp_tracker.get_pending_record_complaint') }}",
                dataType: "json",
                async: false
            }).responseText;
            var dataTable = new google.visualization.DataTable(jsonData);

            var chart = new google.visualization.Calendar(document.getElementById('calendar_pending'));

            var options = {
                title: 'รอดำเนินการ',
                height: 450, calendar: { cellSize: 20 }
            };

            chart.draw(dataTable, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["calendar"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "{{ url_for('comp_tracker.get_progress_record_complaint') }}",
                dataType: "json",
                async: false
            }).responseText;
            var dataTable = new google.visualization.DataTable(jsonData);

            var chart = new google.visualization.Calendar(document.getElementById('calendar_progress'));

            var options = {
                title: 'อยู่ระหว่างดำเนินการ',
                height: 450, calendar: { cellSize: 20 }
            };

            chart.draw(dataTable, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["calendar"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "{{ url_for('comp_tracker.get_success_record_complaint') }}",
                dataType: "json",
                async: false
            }).responseText;
            var dataTable = new google.visualization.DataTable(jsonData);

            var chart = new google.visualization.Calendar(document.getElementById('calendar_success'));

            var options = {
                title: 'ดำเนินการแล้ว',
                height: 450, calendar: { cellSize: 20 }
            };

            chart.draw(dataTable, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "{{ url_for('comp_tracker.get_pie_chart_for_record_complaint') }}",
                dataType: "json",
                async: false,
            }).responseText;
            var data = new google.visualization.DataTable(jsonData)

            var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));

            var status_colors = {}

            var colors = [];

            for (var i = 0; i < data.getNumberOfRows(); i++) {
                var status = data.getValue(i, 0);
                if (status == 'รับเรื่อง/รอดำเนินการ') {
                    status_colors[status] = '#45afd6';
                } else if (status == 'อยู่ระหว่างดำเนินการ') {
                    status_colors[status] = '#ff8c00'
                } else if (status == 'ดำเนินการเสร็จสิ้น') {
                    status_colors[status] = '#21a30a'
                } else {
                    status_colors['ยังไม่ดำเนินการ'] = '#d90b0b'
                }
                colors.push({color: status_colors[status]});
            }

            var options = {
                title: 'แผนภาพสรุปรายงานการแจ้งปัญหาหรือข้อร้องเรียน',
                is3D: true,
                height: 450,
                slices: colors
            };

            chart.draw(data, options);
        }
    </script>
{% endblock %}