{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://fastly.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block page_content %}
{% include "nav.html" %}
<section class="section">
    <div class="container">
        {% include 'messages.html' %}
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">รายการแจ้งปัญหาหรือข้อร้องเรียน</h1>
                {% if record.closed_at %}
                    <h1 class="subtitle has-text-centered">ปิดเมื่อ {{ record.closed_at|localdatetime }}</h1>
                {% endif %}
                <h5 class="title is-size-4">รายละเอียดข้อมูลฝ่ายผู้แจ้ง</h5>
                <div class="card" style="background-color: white">
                    <div class="card-header">
                        <div class="card-header-title">
                            รายละเอียดข้อมูล
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="field">
                            <label class="label">หมวด</label>
                            <div class="control">
                                {{ record.topic.category }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">หัวข้อ</label>
                            <div class="control">
                                {{ record.topic.topic }}
                            </div>
                        </div>
                        {% if record.subtopic %}
                            <div class="field">
                                <label class="label">พันธกิจ/หัวข้อย่อย</label>
                                <div class="control">
                                    {{ record.subtopic }}
                                </div>
                            </div>
                        {% elif record.room or record.rooms %}
                            <div class="field">
                                <label class="label">ห้อง</label>
                                <div class="control">
                                    {% if record.room %}
                                        {{ record.room }}
                                    {% else %}
                                        {% for room in record.rooms %}
                                            {{ room }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% elif record.procurement_location %}
                            <div class="field">
                                <label class="label">สถานที่ตั้งครุภัณฑ์ปัจจุบัน</label>
                                <div class="control">
                                    {{ record.procurement_location }}
                                </div>
                            </div>
                        {% endif %}
                        {% if record.procurements %}
                            <div class="field">
                                <label class="label">รายละเอียดครุภัณฑ์</label>
                                <table class="table is-striped is-fullwidth">
                                    <thed>
                                    </thed>
                                    <tbody>
                                    {% for procurement in record.procurements %}
                                        <tr>
                                            <td><label class="label">ชื่อครุภัณฑ์</label></td>
                                            <td>{{ procurement.name }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">หมวดหมู่/ประเภท</label></td>
                                            <td>{{ procurement.category }}</td>
                                        </tr>
                                        {% for record in procurement.records %}
                                            <tr>
                                                <td><label class="label">สถานที่</label></td>
                                                <td>{{ record.location or 'ไม่ระบุ' }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><label class="label">เลขครุภัณฑ์</label></td>
                                            <td>{{ procurement.procurement_no }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">เอกสารสั่งซื้อเลขที่</label></td>
                                            <td>{{ procurement.document_no }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">Inventory Number/ERP</label></td>
                                            <td>{{ procurement.erp_code }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">ผู้ใช้งานหลัก</label></td>
                                            {% if procurement.computer_info %}
                                                <td>{{ procurement.computer_info.user.fullname }}</td>
                                            {% else %}
                                                <td>ไม่ระบุ</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td><label class="label">ภาควิชา/หน่วยงาน</label></td>
                                            <td>{{ procurement.org }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">ปีงบประมาณ</label></td>
                                            <td>{{ procurement.budget_year }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">วันที่เริ่มประกัน</label></td>
                                            <td>{{ procurement.start_guarantee_date }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">วันที่สิ้นสุดประกัน</label></td>
                                            <td>{{ procurement.end_guarantee_date }}</td>
                                        </tr>
                                        <tr>
                                            <td><label class="label">สภาพของสินทรัพย์</label></td>
                                            <td>{{ procurement.available }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        <div class="field">
                            <label class="label">รายละเอียด</label>
                            <div class="control">
                                {{ record.desc }}
                            </div>
                        </div>
                        {% if record.file_name %}
                            <div class="field">
                                <label class="label">ไฟล์หลักฐาน</label>
                                <div class="control">
                                    <a class="button is-link is-outlined" href="{{ file_url }}">คลิกเพื่อดู</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="field">
                            <label class="label">ช่องทางรับเรื่อง</label>
                            <div class="control">
                                {{ record.channel_receive }}
                            </div>
                        </div>
                        {% if record.fl_name %}
                            <div class="field">
                                <label class="label">ข้อมูลติดต่อผู้แจ้ง</label>
                            </div>
                            <div class="card">
                                <div class="card-content">
                                    <p style="margin-bottom: .6em">
                                        <b>ชื่อ-นามสกุล :</b>
                                        {{ record.fl_name }}
                                    </p>
                                    <p style="margin-bottom: .6em">
                                        <b>เบอร์โทรศัพท์ :</b>
                                        {% if record.telephone %}
                                            {{ record.telephone }}
                                        {% else %}
                                            {{ 'ไม่มีข้อมูลเบอร์โทรศัทพ์' }}
                                        {% endif %}
                                    </p>
                                    <p style="margin-bottom: .6em">
                                        <b>อีเมล :</b>
                                        {% if record.email %}
                                            {{ record.email }}
                                        {% else %}
                                            {{ 'ไม่มีข้อมูลอีเมล' }}
                                        {% endif %}
                                    </p>
                                    <span class="icon"><i class="fas fa-info-circle"></i></span>
                                    <span>
                                        {% if record.is_contact %}
                                            <b>ต้องการให้ติดต่อกลับ</b>
                                        {% else %}
                                            <b>ไม่ต้องการให้ติดต่อกลับ</b>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        {% elif record.complainant %}
                            <div class="field">
                                <label class="label">ชื่อผู้แจ้ง</label>
                                <div class="control">
                                    {{ record.complainant.fullname }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <h5 class="title is-size-4" style="margin-top: 1em">รายละเอียดข้อมูลฝ่าย Admin/ผู้เกี่ยวข้อง</h5>
                <div class="card" style="background-color: white">
                    <div class="card-header">
                        <div class="card-header-title">
                            รายละเอียดข้อมูล
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="field">
                            <label class="label">ประเภท</label>
                            <div class="control">
                                {{ record.type or 'ไม่ระบุ' }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">tags</label>
                            <div class="control">
                                {% if record.tags %}
                                    {% for tag in record.tags %}
                                        <span class="tag is-rounded is-info">
                                            {{ tag }}
                                        </span>
                                    {% endfor %}
                                {% else %}
                                    <span class="tag is-rounded">
                                        ไม่ระบุ
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ระดับความรุนแรง</label>
                            <div class="control">
                                {{ record.priority or 'ไม่ระบุ' }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">สถานะ</label>
                            <div class="control">
                                {% if record.status %}
                                    <span class="tag {{ record.status.color }}">
                                        {{ record.status }}
                                    </span>
                                {% else %}
                                    <span class="tag is-danger">
                                        ยังไม่ดำเนินการ
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">วันที่คาดว่าจะเสร็จ</label>
                            <div class="control">
                                {{ record.deadine|localdatetime or 'ไม่ระบุ' }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">รายชื่อผู้รับผิดชอบ</label>
                            <div class="control">
                                 <table class="table is-striped">
                                     <thead>
                                        <th>ชื่อ-นามสกุล</th>
                                     </thead>
                                     <tbody>
                                        {% for a in record.topic.admins|sort(attribute='is_supervisor', reverse=True) %}
                                            <tr>
                                                <td>{{ a.admin.fullname }}</td>
                                                {% if a.is_supervisor %}
                                                    (หัวหน้า)
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                     </tbody>
                                 </table>
                            </div>
                        </div>
                        {% if record.investigators or record.coordinators %}
                            <div class="field">
                                <label class="label">รายชื่อผํู้เกี่ยวข้อง</label>
                                <div class="control">
                                    <table class="table is-striped">
                                        <thead>
                                            <th>ชื่อ-นามสกุล</th>
                                            <th>สิทธิ Admin</th>
                                        </thead>
                                        <tbody>
                                            {% for investigator in record.investigators %}
                                                <tr>
                                                    <td>
                                                        {{ investigator.admin }}
                                                    </td>
                                                    <td>
                                                        <span class="tag is-light is-success">
                                                            มีสิทธื
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            {% for c in record.coordinators %}
                                                <tr>
                                                    <td>
                                                        {{ c.coordinator.fullname }}
                                                    </td>
                                                    <td>
                                                        <span class="tag is-light is-danger">
                                                            ไม่มีมีสิทธื
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% if record.comments %}
                            <div class="field">
                                <label class="label">ความคิดเห็น/ข้อเสนอแนะ</label>
                                <div class="control">
                                    {% for comment in record.comments %}
                                        <article class="media">
                                            <div class="media-content">
                                                <div class="content">
                                                    <p>
                                                        <strong>{{ comment.reviewer.admin.fullname }}</strong>
                                                        - <small>{{ comment.comment_datetime|localdatetime }}</small>
                                                        <br>
                                                        {{ comment.review_comment }}
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if record.reports or record.coordinators %}
                    <h5 class="title is-size-4" style="margin-top: 1em">รายงานผลการดำเนินงานฝ่าย Admin/ผู้เกี่ยวข้อง</h5>
                    <div class="card" style="background-color: white">
                        <div class="card-header">
                            <div class="card-header-title">
                                รายงานผลการดำเนินงาน
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="field">
                                <div class="control">
                                    {% for report in record.reports %}
                                        <article class="media">
                                            <div class="media-content">
                                                <div class="content">
                                                    <p>
                                                        <strong>{{ report.reporter.admin.fullname }}</strong>
                                                        - <small>{{ report.report_datetime|localdatetime }}</small>
                                                        <br>
                                                        {{ report.report_comment }}
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                    {% endfor %}
                                    {% for c in record.coordinators %}
                                        {% if c.submitted_datetime %}
                                            <article class="media">
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p>
                                                            <strong>{{ c.coordinator.fullname }}</strong>
                                                            - <small>{{ c.submitted_datetime|localdatetime }}</small>
                                                            <br>
                                                            {{ c.note }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                 <div class="buttons mt-4 is-centered">
                     <a class="button is-light" href="{{ url_for('comp_tracker.admin_record_complaint_index', menu=menu) }}">
                         Back
                     </a>
                 </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}