{% extends "base.html" %}
{% block title %}MUMT Internal Information System{% endblock %}
{% include "academic_services/customer_nav.html" %}
{% block page_content %}
    <section class="section">
        <div class="container has-text-centered">
            <div class="box">
                <span class="icon is-large has-text-success">
                    <i class="fas fa-check-circle fa-3x"></i>
                </span>
                <h1 class="title is-3 mt-3">ยืนยันอีเมลสำเร็จ</h1>
                <p class="subtitle is-5">ขอบคุณที่ยืนยันอีเมล ระบบได้ยืนยันอีเมลของคุณเรียบร้อยแล้ว</p>
                <div class="notification is-info is-light mt-4">
                    คุณสามารถเข้าสู่ระบบและเริ่มใช้งานระบบได้ทันที หากพบปัญหาในการเข้าสู่ระบบ กรุณาติดต่อผู้ดูแลระบบ
                </div>
                <div class="buttons is-centered mt-5">
                    <a href='{{ url_for('academic_services.customer_index') }}' class="button is-link is-light">กลับหน้าหลัก</a>
                    <a href='{{ url_for('academic_services.customer_index') }}' class="button is-primary">เข้าสู่ระบบ</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}