{% extends "base.html" %}
{% block title %}Create Customer Account{% endblock %}
{% include "academic_services/customer_nav.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    <section class="section">
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                {% include 'messages.html' %}
                <div class="box">
                    <h1 class="title has-text-centered">สร้างบัญชี</h1>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="field">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">{{ form.customer_info.firstname.label }}</label>
                                    <div class="control has-icons-left is-expanded">
                                        {{ form.customer_info.firstname(class="input", placeholder='Firstname') }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">{{ form.customer_info.lastname.label }}</label>
                                    <div class="control has-icons-left is-expanded">
                                        {{ form.customer_info.lastname(class="input", placeholder='Lastname') }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.customer_info.phone_number.label }}</label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.customer_info.phone_number(class="input", placeholder='08X-XXX-XXXX') }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.email.label }}</label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.email(class="input", placeholder='ex. example@example.com') }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">รหัสผ่าน</label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.password(class="input", placeholder='Password') }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">ยืนยันรหัสผ่าน</label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.confirm_password(class="input", placeholder='Confirm password') }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <a href="https://mt.mahidol.ac.th/wp-content/uploads/home/main/privacy-policy/2023/PDPA-MUMT.pdf">
                                นโยบายการเก็บรวบรวมข้อมูลส่วนบุคคล
                            </a>
                        </div>
                        <div class="field">
                            <div class="buttons is-centered">
                                <button class="button is-success" type="submit" value="submit">Submit</button>
                                <a href="{{ url_for('academic_services.customer_index') }}" class="button is-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}