{% extends "base.html" %}
{% block title %}Create Customer Account{% endblock %}
{% include "academic_services/customer_nav.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    <section class="section-padding" id="hero" style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
        <div class="container" style="max-width: 1000px;">
            <div class="columns is-centered is-align-items-center pt-5" style="margin-bottom: 50px;">
                <div class="column is-6" >
                    <img src="{{ url_for('static', filename='img/science.png') }}" width=590/>
                </div>
                <div class="column is-7">
                    <div class="column">
                        {% include 'messages.html' %}
                        <div class="box">
                            <h1 class="title has-text-centered">สร้างบัญชีผู้ใช้ใหม่</h1>
                            <form method="post">
                                {{ form.hidden_tag() }}
                                <div class="field">
                                    <label class="label">{{ form.email.label }}</label>
                                    <div class="control has-icons-left is-expanded">
                                        {{ form.email(class="input", placeholder='ex. example@example.com') }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">รหัสผ่าน
                                        <i class="fas fa-info-circle ml-2 is-size-7 has-text-info"></i>
                                        <span class="is-size-7 ml-1 has-text-info">รหัสผ่านควรมีอย่างน้อย 8 ตัวอักษร</span>
                                    </label>
                                    <div class="control has-icons-left is-expanded">
                                        {{ form.password(class="input", placeholder='Password') }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">ยืนยันรหัสผ่าน</label>
                                    <div class="control has-icons-left is-expanded">
                                        {{ form.confirm_password(class="input", placeholder='Confirm password') }}
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="buttons is-centered">
                                        <a href="{{ url_for('academic_services.customer_index') }}" class="button">ยกเลิก</a>
                                        <button class="button is-success" type="submit" value="submit">ยืนยัน</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}