{% extends "base.html" %}
{% block title %}MUMT-MIS: Community Health Information System{% endblock %}
{% block page_content %}
{% include "academic_services/admin_nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <img src="{{ url_for('static', filename='img/MUlogo72dpi.jpg') }}" width="150"/>
                <h1 class="title is-size-2 has-text-link">ระบบงานบริการวิชาการ</h1>
                <h1 class="subtitle is-size-2 has-text-link">คณะเทคนิคการแพทย์ มหาวิทยาลัยมหิดล</h1>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="panel is-info">
                    <p class="panel-heading">งานบริการวิชาการ</p>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-vial"></i>
                        </span>
                        <span class="is-size-4">บริการตรวจวิเคราะห์ผลิตภัณฑ์ในการทำลายเชื้อแบคทีเรียและเชื้อรา</span>
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-vial"></i>
                        </span>
                        <span class="is-size-4">บริการตรวจวิเคราะห์ผลิตภัณฑ์ในการทำลายเชื้อไวรัส</span>
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-vial"></i>
                        </span>
                        <span class="is-size-4">บริการตรวจวิเคราะห์สิ่งตกค้างในผักและผลไม้</span>
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-vial"></i>
                        </span>
                        <span class="is-size-4">บริการตรวจวิเคราะห์ทางพิษวิทยา</span>
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-vial"></i>
                        </span>
                        <span class="is-size-4">บริการตรวจวิเคราะห์ทาง Proteomics</span>
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-vial"></i>
                        </span>
                        <span class="is-size-4">บริการตรวจวิเคราะห์ทาง Endotoxin</span>
                    </a>
                </div>
            </div>
{#            <div class="column">#}
{#                <div class="container has-text-centered">#}
{#                    <a>#}
{#                        <div class="box">#}
{#                            <span class="icon is-large">#}
{#                                <i class="fas fa-user-check fa-4x has-text-link"></i>#}
{#                            </span>#}
{#                            <br>#}
{#                            <br>#}
{#                            <span class="is-size-4 has-text-link">MUMT Staff</span>#}
{#                            <br>#}
{#                            <span class="is-size-4 has-text-link">(เจ้าหน้าที่คณะเทคนิคการแพทย์)</span>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="column">#}
{#                <div class="container has-text-centered">#}
{#                    <a href="{{ url_for('academic_services.customer_index') }}">#}
{#                        <div class="box">#}
{#                            <span class="icon is-large">#}
{#                                <i class="fas fa-users fa-4x has-text-link"></i>#}
{#                            </span>#}
{#                            <br>#}
{#                            <br>#}
{#                            <span class="is-size-4 has-text-link">Customer</span>#}
{#                            <br>#}
{#                            <span class="is-size-4 has-text-link">(ลูกค้า)</span>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</section>
{% endblock %}
