 {% extends "academic_services/service_base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block page_content %}
{% include"academic_services/customer_nav.html" %}
<section class="section">
    {% include 'messages.html' %}
        <div class="columns is-centered">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-11">
                    <h1 class="title has-text-centered">รายการใบแจ้งหนี้</h1>
                </div>
                <table id='invoices' class="table is-fullwidth">
                    <thead>
                        <th>เลขใบแจ้งหนี้</th>
                        <th>วัน-เวลาที่ออก</th>
                        <th>วันครบกำหนดชำระ</th>
                        <th>รายการ</th>
                        <th>ราคา</th>
                        <th>สถานะ</th>
                        <th></th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    {% if admin_id %} </div> {% endif %}
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('lll');
            $('#invoices').DataTable({
                ajax: {
                    url: {{ url_for('academic_services.get_invoices')|tojson|safe}},
                },
                order: [[1, 'desc']],
                columns: [
                    { data : 'invoice_no' },
                    {
                        data : 'mhesi_issuer_at',
                        render: function(data) {
                            if (data !== '') {
                                let d = moment(data)
                                return d.format('lll')
                            } else {
                                return '-'
                            }
                        }
                    },
                    {
                        data : 'due_date',
                        render: function(data) {
                            if (data !== '') {
                                let d = moment(data)
                                return d.format('ll')
                            } else {
                                return '-'
                            }
                        }
                    },
                    { data: 'product' },
                    { data: 'total_price' },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            var color = row.customer_status_color
                            var status = row.customer_status
                            if (data !== null) {
                                return `<span class="tag ${color}">${status}</span>`;
                            }
                            else {
                                return `<span class="tag is-info">ร่างใบแจ้งหนี้</span>`;
                            }
                        }
                    },
                    {
                        data: 'id',
                        render: function (data) {
                            var menu = '{{ menu }}'
                            var url = '/academic_services/invoice/view/' + data +'?menu=' + menu;
                            return '<div class="field has-addons">' +
                                        '<div class="control">' +
                                            '<a class="button is-small is-info is-light is-rounded" ' + 'href=' + url + '>' +
                                                '<span class="icon"><i class="fas fa-eye"></i></span>' +
                                                '<span>รายละเอียด</span>' +
                                            '</a>' +
                                        '</div>' +
                                    '</div>'
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}