{% extends "base.html" %}
{% include "academic_services/customer_nav.html" %}
{% block head %}
    {{ super() }}
    <link href="https://fastly.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet"/>
    <style>
        .toast {
            opacity: 1 !important;
            transition: none !important;
        }
    </style>
{% endblock %}
{% block page_content %}
    <section class="section">
        <div class="columns">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-9">
                    <h1 class="title has-text-centered">งานบริการตรวจวิเคราะห์</h1>
                </div>
                <div class="column is-9">
                    <div class="columns is-multiline">
                        {% for lab in labs %}
                            <div class="column is-one-third">
                                <a class="card"
                                   href="{{ url_for('academic_services.detail_lab_index', cat='form', code=lab.code) }}"
                                   style="border: none; box-shadow: none;"
                                >
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="{{ url_for('static', filename=lab.image) }}" alt="Logo"/>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <p class="title is-5">{{ lab.lab }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://fastly.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
    <script>
        function showToast() {
            toastr.success('บันทึกข้อมูลเรียบร้อยแล้ว กรุณาเลือกแล็บ');
        }

        document.addEventListener('DOMContentLoaded', () => {
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'customer_updated' %}
                            showToast({{ message|tojson }}, 7000);
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
    </script>
{% endblock %}