<div class="column is-3">
    <aside class="menu">
        <p class="menu-label">
            MENU
        </p>
        <ul class="menu-list">
            <li>
                <a {% if menu=="view" %} class="is-active" {% endif %} href="{{ url_for('academic_services.customer_account',
                    menu='view') }}">
                    ข้อมูลลูกค้า
                </a>
            </li>
            <li>
                <a {% if menu=='contact' %} class="is-active" {% endif %} href="{{ url_for('academic_services.customer_contact_index',
                        menu='contact', adder_id=current_user.customer_info.id) }}">
                    ข้อมูลผู้ประสานงานหลัก/งานรอง
                </a>
            </li>
            <li>
                <a {% if menu=='address' %} class="is-active" {% endif %} href="{{ url_for('academic_services.address_index',
                    menu='address', customer_id=current_user.customer_info.id) }}">
                    ข้อมูลที่อยู่
                </a>
            </li>
            <li>
                <a {% if menu=="new" %} class="is-active" {% endif %} href="{{ url_for('academic_services.lab_index',
                    menu='new') }}">
                    ส่งคำสั่งซื้อใหม่
                </a>
            </li>
             <li>
                <a {% if menu=='appointment' %} class="is-active" {% endif %}  href="{{ url_for('academic_services.sample_appointment_index',
                    menu='appointment', customer_id=current_user.customer_info.id) }}">
                    นัดหมายส่งตัวอย่าง
                </a>
            </li>
            <li>
                <a {% if menu=='quotation' %} class="is-active" {% endif %} href="{{ url_for('academic_services.quotation_index',
                    menu='quotation', customer_id=current_user.customer_info.id) }}">
                    ตรวจสอบ Quotation
                </a>
            </li>
            <li>
                <a {% if menu=='invoice' %} class="is-active" {% endif %} href="{{ url_for('academic_services.invoice_index',
                    menu='invoice', customer_id=current_user.customer_info.id) }}">
                    ตรวจสอบ Invoice
                </a>
            </li>
            <li>
                <a {% if menu=='payment' %} class="is-active" {% endif %} href="{{ url_for('academic_services.payment_index',
                    menu='payment', customer_id=current_user.customer_info.id) }}">
                    ส่งหลักฐานการชำระเงิน
                </a>
            </li>
            <li>
                <a {% if menu=="request" %} class="is-active" {% endif %} href="{{ url_for('academic_services.request_index',
                    menu='request', customer_id=current_user.customer_info.id) }}">
                    ประวัติคำสั่งซื้อ
                </a>
            </li>
            <li>
                <a {% if menu=='report' %} class="is-active" {% endif %} href="{{ url_for('academic_services.result_index',
                    menu='report', customer_id=current_user.customer_info.id) }}">
                    ดาวโหลดรายงานผล
                </a>
            </li>
            <li>
                <a {% if menu=="reset" %} class="is-active" {% endif %} href="{{ url_for('academic_services.edit_password',
                    menu='reset') }}">
                    แก้ไขรหัสผ่าน
                </a>
            </li>
        </ul>
    </aside>
</div>