<div class="column is-2">
    <aside class="menu">
        <p class="menu-label">
            MENU
        </p>
        <ul class="menu-list">
            <li>
                <a {% if menu=="new" %} class="is-active" {% endif %} href="{{ url_for('academic_services.lab_index',
                    menu='new') }}">
                    <span class="icon"><i class="fas fa-paper-plane"></i></span>
                    <span>ส่งคำขอรับบริการ</span>
                </a>
            </li>
            <li>
                <a {% if menu=="request" %} class="is-active" {% endif %} href="{{ url_for('academic_services.request_index',
                    menu='request') }}">
                    <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                    <span>รายการคำขอรับบริการ</span>
                </a>
            </li>
            <li>
                <a {% if menu=='quotation' %} class="is-active" {% endif %} href="{{ url_for('academic_services.quotation_index',
                    menu='quotation') }}">
                    <span class="icon"><i class="fas fa-file-invoice"></i></span>
                    <span>ใบเสนอราคา</span>
                </a>
            </li>
            <li>
                <a {% if menu=='sample' %} class="is-active" {% endif %}  href="{{ url_for('academic_services.sample_index',
                    menu='sample') }}">
                    <span class="icon"><i class="fas fa-truck"></i></span>
                    <span>นัดหมายส่งตัวอย่าง</span>
                </a>
            </li>
            <li>
                <a {% if menu=='invoice' %} class="is-active" {% endif %} href="{{ url_for('academic_services.invoice_index',
                    menu='invoice') }}">
                    <span class="icon"><i class="fas fa-file-invoice-dollar"></i></span>
                    <span>ใบแจ้งหนี้</span>
                </a>
            </li>
            <li>
                <a {% if menu=='receipt' %} class="is-active" {% endif %} href="{{ url_for('academic_services.receipt_index',
                    menu='receipt') }}"
                >
                    <span class="icon"><i class="fas fa-receipt"></i></span>
                    <span>ใบเสร็จรับเงิน</span>
                </a>
            </li>
            <li>
                <a {% if menu=='report' %} class="is-active" {% endif %} href="{{ url_for('academic_services.result_index',
                    menu='report') }}">
                    <span class="icon"><i class="fas fa-file-alt"></i></span>
                    <span>รายงานผลการทดสอบ</span>
                </a>
            </li>
        </ul>
    </aside>
</div>