{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block page_content %}
{% include"academic_services/customer_nav.html" %}
<section class="section">
    {% include 'messages.html' %}
        <div class="columns">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-9">
                    <h1 class="title has-text-centered">หลักฐานการชำระเงิน</h1>
                </div>
                <table id='requests' class="table is-fullwidth">
                    <thead>
                        <th>วันที่ชำระเงิน</th>
                        <th>ชื่อผลิตภัณฑ์</th>
                        <th>ราคา</th>
                        <th>สถานะ</th>
                        <th>หลักฐานการชำระเงิน</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr>
                                <td>{{ request.payment.paid_at|localdatetime or '' }}</td>
                                <td>
                                    {% for data in request.data %}
                                        {% for d in data[1] %}
                                            {% if d[0] == 'ชื่อผลิตภัณฑ์' %}
                                                {{ d[1] }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                                <td>{{ request.payment.amount_paid or '' }}</td>
                                <td>{{ request.payment.status  or 'รอการชำระเงิน' }}</td>
                                <td>
                                    {% if request.file_url %}
                                        <div class="field has-addons">
                                            <div class="control">
                                                <a class="button is-small is-link is-outlined is-rounded" href="{{ request.file_url }}">คลิกเพื่อดู</a>
                                            </div>
                                        </div>
                                    {% else %}
                                        ยังไม่แนบหลักฐาน
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not request.payment.bill %}
                                        <div id="payment-form"></div>
                                        <div class="field">
                                            <div class="control">
                                                <a class="button is-small is-warning is-rounded"
                                                   href="{{ url_for('academic_services.add_payment', payment_id=request.payment_id) }}">
                                                    <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                                    <spa>อัพเดตหลักฐาน</spa>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% if admin_id %} </div> {% endif %}
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#requests').DataTable({
            });
        });
    </script>
{% endblock %}