{% extends "base.html" %}
{% block page_content %}
    <style>
        .field {
            text-indent: 2em;
            margin-bottom: 0.75em;
        }
    </style>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">นโยบายการเก็บรวบรวมข้อมูลส่วนบุคคล</h1>
            <h1 class="subtitle has-text-centered">คณะเทคนิคการแพทย์ มหาวิทยาลัยมหิดล</h1>
            <div class="has-text-right mb-3">
                <a class="button is-small is-link is-outlined is-rounded" href="/static/file/PDPA-MUMT.pdf" download>
                    <span class="icon is-small"><i class="fas fa-download"></i></span>
                    <span>ดาวน์โหลดเอกสาร PDF</span>
                </a>
            </div>
            <div class="box">
                <div style="height: 400px; overflow-y: scroll; border: 1px solid #ccc; padding: 1rem;">
                    <div class="field">
                        เพื่อเป็นแนวทางในการป้องกันการละเมิดข้อมูลส่วนบุคคลที่เก็บรวบรวม ใช้และเปิดเผยโดยฝ่ายงาน คณะฯ จึงกำหนดมาตรการด้านข้อมูลส่วน
                        บุคคลขึ้น โดยให้ทุกฝ่ายงานของคณะฯ ปฏิบัติตาม เพื่อรักษาความเป็นส่วนบุคคลของบุคลากร นักศึกษาและผู้รับบริการ ตามพระราชบัญญัติ
                        คุ้มครองข้อมูลส่วนบุคคล พ.ศ.๒๕๖๒
                    </div>
                    <div class="field mt-2">
                        ๑. แจ้งวัตถุประสงค์ในการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลให้เจ้าของข้อมูลทราบรวมทั้งระยะเวลาในการจัดเก็บข้อมูลและดำเนินการ
                        เก็บข้อมูลส่วนบุคคลตามวัตถุประสงค์ที่แจ้งไว้เท่านั้น หากมีการเปลี่ยนแปลงวัตถุประสงค์ของการเก็บรวบรวมข้อมูลตามที่เคยได้แจ้งไว้ ฝ่ายงานจะ
                        ต้องจัดทำบันทึกแก้ไขเพิ่มเติมไว้เป็นหลักฐานและแจ้งวัตถุประสงค์ใหม่นั้นให้กับเจ้าของข้อมูลส่วนบุคคลทราบ
                    </div>
                    <div class="field">
                        ๒. เก็บ รวบรวมข้อมูลส่วนบุคคล "เท่าที่จำเป็น" ตามวัตถุประสงค์โดยใช้ฐานกฎหมายที่เหมาะสม
                    </div>
                    <div class="field">
                        ๓. กำกับดูแลมิให้ผู้ที่ไม่มีหน้าที่หรือไม่ได้รับมอบหมายดำเนินการเก็บ รวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล
                    </div>
                    <div class="field">
                        ๔. กำกับดูแลมิให้เผยแพร่หรือเปิดเผยข้อมูลส่วนบุคคลในระบบสารสนเทศให้ผู้ที่ไม่เกี่ยวข้องโดยไม่ได้รับความยินยอมจากเจ้าของข้อมูล
                    </div>
                    <div class="field">
                        ๕. จัดทำบันทึกการประมวลผลข้อมูลส่วนบุคคลและปรับปรุงให้เป็นปัจจุบันอยู่เสมอ
                    </div>
                    <div class="field">
                        ๖. ดำเนินการขอให้ทางคณะฯ จัดทำข้อตกลงการประมวลผลข้อมูล (data processing agreement) หรือข้อตกลงการแบ่งปันข้อมูล
                        (data sharing agreement) ก่อนการส่งต่อข้อมูลให้กับผู้ประมวลผลข้อมูลหรือแป่งปันข้อมูลให้กับองค์กรภายนอก
                    </div>
                    <div class="field">
                        ๗. ตรวจสอบและทำลายข้อมูลหรือทำให้ข้อมูลไม่สามารถระบุตัวตนได้เมื่อถึงกำหนดเวลาที่แจ้งเจ้าของข้อมูลไว้ เว้นแต่กรณีจำเป็นต้องเก็บรักษา
                        ข้อมูลต่อไปตามที่กฎหมายกำหนด
                    </div>
                    <div class="field">
                        ๘. กำหนดสิทธิ์ในการเข้าถึงข้อมูลส่วนบุคคลเท่าที่จำเป็นและเหมาะสมกับหน้าที่ ได้แก่ สิทธิ์ในการดู แก้ไข เปิดเผย การตรวจสอบคุณภาพ
                        ข้อมูล และการทำลายข้อมูล
                    </div>
                    <div class="field">
                        ๙. ควบคุมการบันทึกข้อมูลส่วนบุคคลในอุปกรณ์ส่วนบุคคล หรือบริการจัดเก็บข้อมูลในระบบสารสนเทศภายนอกองค์กรอย่างเคร่งครัด
                    </div>
                    <div class="field">
                        ๑๐. ควบคุมการใช้สารสนเทศที่ให้บริการโดยหน่วยงานภายนอกมหาวิทยาลัยในการส่งต่อข้อมูลส่วนบุคคล เช่น อีเมลและแอปพลิเคชันอย่างเคร่งครัด
                    </div>
                    <div class="field">
                        ทั้งนี้ ตั้งแต่บัดนี้เป็นต้นไป
                    </div>
                </div>
                <div class="has-text-centered mt-4">
                    <label class="checkbox">
                        <input type="checkbox" id="agreeCheckbox">
                        ฉันได้อ่านและยอมรับนโยบาย
                    </label>
                    <br>
                    <form id='acceptForm' method="post" action="{{ url_for('academic_services.accept_policy') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="button is-primary mt-2" id="acceptBtnFinal" disabled>ดำเนินการต่อ</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        const checkbox = document.getElementById('agreeCheckbox');
        const acceptBtnFinal = document.getElementById('acceptBtnFinal');
        checkbox.addEventListener('change', function () {
            acceptBtnFinal.disabled = !checkbox.checked;
        });
        acceptBtnFinal.addEventListener('click', function () {
            window.location.href = '/academic_services/customer/account/add';
        });
    </script>
{% endblock %}