{% extends "academic_services/service_base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block page_content %}
{% include"academic_services/customer_nav.html" %}
<section class="section">
    {% include 'messages.html' %}
        <div class="columns is-centered">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-11">
                    <h1 class="title has-text-centered">รายการใบเสนอราคา</h1>
                </div>
                <div class="tabs">
                    <ul>
                        <li {% if tab == 'pending' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('academic_services.quotation_index', tab='pending', menu=menu) }}">
                                <span class="icon is-small"><i class="fas fa-hourglass-half"></i></span>
                                <span>รอยืนยัน</span>
                                {% if pending_count > 0 %}
                                    <span class="tag is-danger is-rounded is-size-7 ml-1">{{ pending_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li {% if tab == 'confirm' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('academic_services.quotation_index', tab='confirm', menu=menu) }}">
                                <span class="icon is-small"><i class="fas fa-check"></i></span>
                                <span>ยืนยันแล้ว</span>
                                {% if confirm_count > 0 %}
                                    <span class="tag is-danger is-rounded is-size-7 ml-1">{{ confirm_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li {% if tab == 'cancel' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('academic_services.quotation_index', tab='cancel', menu=menu) }}">
                                <span class="icon is-small"><i class="fas fa-times"></i></span>
                                <span>ยกเลิก</span>
                                {% if cancel_count > 0 %}
                                    <span class="tag is-danger is-rounded is-size-7 ml-1">{{ cancel_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li {% if tab == 'all' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('academic_services.quotation_index', tab='all', menu=menu) }}">
                                <span class="icon is-small"><i class="fas fa-list-ul"></i></span>
                                <span>ทั้งหมด</span>
                                {% if all_count > 0 %}
                                    <span class="tag is-danger is-rounded is-size-7 ml-1">{{ all_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                <table id='quotations' class="table is-fullwidth">
                    <thead>
                        <th>เลขใบเสนอราคา</th>
                        <th>วันที่ออก</th>
                        <th>ราคา</th>
                        <th>สถานะ</th>
                        <th>หมายเหตุ</th>
                        <th>รายละเอียด</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('lll');
            $('#quotations').DataTable({
                ajax: {
                    url: {{ url_for('academic_services.get_quotations', tab=tab)|tojson|safe}},
                },
                order: [[1, 'desc']],
                columns: [
                    { data : 'quotation_no' },
                    {
                        data : 'approved_at',
                        render: function(data) {
                            if (data !== null) {
                                let d = moment(data)
                                return d.format('lll')
                            } else {
                                return ''
                            }
                        }
                    },
                    { data: 'total_price' },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            var color = row.customer_status_color
                            var status = row.customer_status
                            if (data !== null) {
                                return `<span class="tag ${color}">${status}</span>`;
                            }
                            else {
                                return `<span class="tag is-info">อยู่ระหว่างการจัดทำใบเสนอราคา</span>`;
                            }
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            if (row.reason && row.other) {
                                return row.reason + ' : ' + row.other;
                            } else if (row.reason && !row.other) {
                                return row.reason;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            var menu = '{{ menu }}'
                            var url = '/academic_services/quotation/view/' + data + '?menu=' + menu;
                            if (row.status_id == 5) {
                                return '<div class="field has-addons">' +
                                    '<div class="control">' +
                                    '<a class="button is-small is-success is-rounded" ' + 'href=' + url + '>' +
                                    '<span class="icon"><i class="fas fa-check-circle"></i></span>' +
                                    '<span>ยืนยันใบเสนอราคา</span>' +
                                    '</a>' +
                                    '</div>' +
                                    '</div>'
                            } else {
                                return '<div class="field has-addons">' +
                                        '<div class="control">' +
                                            '<a class="button is-small is-info is-light is-rounded" ' + 'href=' + url + '>' +
                                                '<span class="icon"><i class="fas fa-eye"></i></span>' +
                                                '<span>รายละเอียด</span>' +
                                            '</a>' +
                                        '</div>' +
                                    '</div>'
                            }
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}