{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block page_content %}
{% include"academic_services/customer_nav.html" %}
<section class="section">
    {% include 'messages.html' %}
    <div class="columns" id="app">
        {% include 'academic_services/menu.html' %}
        <div class="column is-9" >
            <div class="column is-9">
                <h1 class="title has-text-centered">ประวัติคำขอรับบริการ</h1>
            </div>
            <table id='requests' class="table is-fullwidth">
                <thead>
                    <th>เลขใบคำร้องขอ</th>
                    <th>วัน-เวลาทีส่ง</th>
                    <th>รายการ</th>
                    <th>สถานะ</th>
                    <th>หมายเหตุ</th>
                    <th>รายละเอียด</th>
                    <th></th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('lll');
            $('#requests').DataTable({
                ajax: {
                    url: {{ url_for('academic_services.get_requests')|tojson|safe}},
                },
                order: [[0, 'desc']],
                columns: [
                    { data : 'request_no' },
                    {
                        data : 'created_at',
                        render: function(data) {
                            if (data !== '') {
                                let d = moment(data)
                                return d.format('lll')
                            } else {
                                return '-'
                            }
                        }
                    },
                    { data: 'product'},
                    {
                        data: 'status',
                        render: function (data) {
                            if (data !== null) {
                                return data
                            }
                            else {
                                return 'ยังไม่ขอใบเสนอราคา'
                            }
                        }
                    },
                    {
                        data: 'status',
                        render: function (data) {
                            if (data == 'อยู่ระหว่างการจัดทำใบเสนอราคา') {
                                return '<p>' +
                                            '<b>คำขอใบเสนอราคาของคุณถูกส่งเรียบร้อยแล้ว</b>' +
                                        '</p>' +
                                        '<p>' +
                                            'ขณะนี้เรากำลังรอตรวจสอบและยืนยันจากเจ้าหน้าที่ห้องปฏิบัติการ' +
                                        '</p>' +
                                        '<p>' +
                                            'ท่านจะได้รับใบเสนอราคาเมื่อการตรวจสอบเสร็จสิ้น ซึ่งปกตอใช้เวลาไม่เหิน 1-2 วันทำการ' +
                                        '</p>'
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'id',
                        render: function (data) {

                            var url = '/academic_services/request/view/' + data + '?menu=' + '{{ menu }}';
                            return '<div class="field has-addons">' +
                                        '<div class="control">' +
                                            '<a class="button is-small is-light is-rounded is-info" ' + 'href=' + url + '>' +
                                                '<span class="icon"><i class="fas fa-eye"></i></span>' +
                                                '<span>แสดงใบคำขอร้บบริการ</span>' +
                                            '</a>' +
                                        '</div>' +
                                    '</div>'
                        }
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            if (row.status === 'รอตรวจสอบ' || row.status === 'กำลังตรวจสอบ' || row.status === null) {
                                return '<div class="field has-addons">' +
                                            '<div class="control">' +
                                                '<a class="button is-small is-danger is-rounded" onclick="vm.warn(' + data + ')">' +
                                                    '<span class="icon">' +
                                                        '<i class="far fa-trash-alt"></i>' +
                                                    '</span>' +
                                                    '<span>ยกเลิก</span>' +
                                                '</a>' +
                                            '</div>' +
                                       '</div>'
                            }
                            else {
                                return ''
                            }
                        }
                    }
                ]
            });
        });
        vm = new Vue({
            el: '#app',
            methods: {
                warn: function(request_id) {
                    var menu = '{{ menu }}';
                    this.$buefy.dialog.confirm({
                        message: 'ต้องการยกเลิกใบคำขอรับบริการนี้จริงหรือไม่',
                        onConfirm: () => {
                            const url = `/academic_services/customer/request/cancel/${request_id}?menu=${menu}`;
                            window.location.href = url;
                        },
                        type: 'is-danger'
                    });
                }
            }
        })
    </script>
{% endblock %}