{% extends 'base.html' %}
{% include 'nav.html' %}
{% block page_content %}
<section class="section">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                {% include 'messages.html' %}
                <div class="box">
                    <h1 class="title">ตั้งค่ารหัสผ่านใหม่</h1>
                    {% for field, error in errors.items() %}
                    <div class="notification is-danger">
                        <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                        <span><strong>{{ field }}:</strong> {{ ', '.join(error) }}</span>
                    </div>
                    {% endfor %}
                    <form action="" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="field">
                            <label class="label">{{ form.new_password.label }}</label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.new_password(class='input') }}
                                <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.confirm_password.label }}</label>
                            <div class="control has-icons-left is-expanded">
                                {{ form.confirm_password(class='input') }}
                                <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                {{ form.submit(class='button is-info') }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}