{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}
{% block page_content %}
{% include"academic_services/customer_nav.html" %}
<section class="section">
    {% include 'messages.html' %}
        <div class="columns">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-9">
                    <h1 class="title has-text-centered">นัดหมายส่งตัวอย่าง</h1>
                </div>
                <table id='requests' class="table is-fullwidth">
                    <thead>
                        <th>วันที่นัดหมาย</th>
                        <th>ชื่อผลิตภัณฑ์</th>
                        <th>การส่งตัวอย่าง</th>
                        <th>รายละเอียดเพิ่มเติม</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr>
                                <td>{{ request.appointment.appointment_date|localdatetime or 'ไม่ระบุ' }}</td>
                                <td>
                                    {% for data in request.data %}
                                        {% for d in data[1] %}
                                            {% if d[0] == 'ชื่อผลิตภัณฑ์' %}
                                                {{ d[1] }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                                <td>{{ request.appointment.ship_type  or 'ไม่ระบุ' }}</td>
                                <td>{{ request.appointment.note  or 'ไม่ระบุ' }}</td>
                                <td>
                                    <div id="appointment-form"></div>
                                    <div class="field">
                                        <div class="control">
                                            <a class="button is-small is-rounded"
                                               hx-swap="innerHTML"
                                               hx-target="#appointment-form"
                                               {% if request.appointment %}
                                                    hx-get="{{ url_for('academic_services.create_sample_appointment', appointment_id=request.appointment_id) }}"
                                               {% else %}
                                                    hx-get="{{ url_for('academic_services.create_sample_appointment', request_id=request.id) }}">
                                                {% endif %}
                                                <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% if admin_id %} </div> {% endif %}
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#requests').DataTable({
            });
        });
    </script>
{% endblock %}