{% extends "base.html" %}
{% block title %}MUMT-MIS: Complaint Tracker{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}
{% block page_content %}
{% include"academic_services/customer_nav.html" %}
<section class="section">
    {% include 'messages.html' %}
        <div class="columns">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-9">
                    <h1 class="title has-text-centered">นัดหมายส่งตัวอย่าง</h1>
                </div>
                <table id='requests' class="table is-fullwidth">
                    <thead>
                        <th>เลขใบคำร้องขอ</th>
                        <th>วัน-เวลาที่ส่ง</th>
                        <th>วัน-เวลาที่รับ</th>
                        <th>สถานะ</th>
                        <th>สถานที่</th>
                        <th>การส่งตัวอย่าง</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for request in service_requests %}
                            <tr>
                                <td>{{ request.request_no }}</td>
                                {% if request.sample_appointments %}
                                    {% for appointment in request.sample_appointments %}
                                        <td>{{ appointment.appointment_date|localdatetime or 'ไม่ระบุ' }}</td>
                                        <td>{{ appointment.received_date|localdatetime or 'ไม่ระบุ' }}</td>
                                        <td>{{ appointment.status }}</td>
                                        <td>{{ appointment.location  or 'ไม่ระบุ' }}</td>
                                        <td>{{ appointment.ship_type  or 'ไม่ระบุ' }}</td>
                                        <td>
                                            {% if appointment.status == 'รอรับตัวอย่าง' or appointment.status == None %}
                                                <div id="appointment-form"></div>
                                                <div class="field">
                                                    <div class="control">
                                                        <a class="button is-small is-rounded"
                                                           hx-swap="innerHTML"
                                                           hx-target="#appointment-form"
                                                           hx-get="{{ url_for('academic_services.create_sample_appointment',
                                                           request_id=request.id, appointment_id=appointment.id) }}"
                                                        >
                                                            <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% else %}
                                    <td>ไม่ระบุ</td>
                                    <td>ไม่ระบุ</td>
                                    <td>ยังไม่ส่งตัวอย่าง</td>
                                    <td>ไม่ระบุ</td>
                                    <td>ไม่ระบุ</td>
                                    <td>
                                        {% if request.status == 'ยืนยันใบเสนอราคา' or request.status == 'รอรับตัวอย่าง' %}
                                            <div id="appointment-form"></div>
                                            <div class="field">
                                                <div class="control">
                                                    <a class="button is-small is-rounded"
                                                       hx-swap="innerHTML"
                                                       hx-target="#appointment-form"
                                                       hx-get="{{ url_for('academic_services.create_sample_appointment',
                                                       request_id=request.id) }}"
                                                    >
                                                        <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#requests').DataTable({
            });
        });
    </script>
{% endblock %}