{% extends "base.html" %}
{% include "academic_services/customer_nav.html" %}
{% block head %}
    {{ super() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block page_content %}
    <section class="section">
        <div class="columns">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-9">
                    {% include "messages.html" %}
                    <h1 class="title has-text-centered">งานบริการตรวจวิเคราะห์</h1>
                </div>
                <div class="column is-9">
                    <div class="column" style="margin-bottom: 3em">
                        <nav class="panel is-info">
                            <p class="panel-heading">งานบริการตรวจวิเคราะห์</p>
                            {% if lab == 'food' %}
                                <a class="panel-block" href="{{ url_for('academic_services.create_service_request', menu='foodsafety') }}">
                                    <span class="panel-icon">
                                        <i class="fas fa-vial"></i>
                                    </span>
                                    <span class="is-size-4">บริการตรวจวิเคราะห์สารตกค้างยาฆ่าแมลง</span>
                                </a>
                                <a class="panel-block" href="{{ url_for('academic_services.create_service_request', menu='heavymetal') }}">
                                    <span class="panel-icon">
                                        <i class="fas fa-vial"></i>
                                    </span>
                                    <span class="is-size-4">บริการตรวจวิเคราะห์โลหะหนัก</span>
                                </a>
                            {% else %}
                                <a class="panel-block" href="{{ url_for('academic_services.create_service_request', menu='2d_gel') }}">
                                    <span class="panel-icon">
                                        <i class="fas fa-vial"></i>
                                    </span>
                                    <span class="is-size-4">บริการตรวจวิเคราะห์ 2D Gel Electrophoresis</span>
                                </a>
                                <a class="panel-block" href="{{ url_for('academic_services.create_service_request', menu='mass_spectrometry') }}">
                                    <span class="panel-icon">
                                        <i class="fas fa-vial"></i>
                                    </span>
                                    <span class="is-size-4">บริการตรวจวิเคราะห์ Mass Spectrometry</span>
                                </a>
                                <a class="panel-block" href="{{ url_for('academic_services.create_service_request', menu='quantitative') }}">
                                    <span class="panel-icon">
                                        <i class="fas fa-vial"></i>
                                    </span>
                                    <span class="is-size-4">บริการตรวจวิเคราะห์ Quantitative Proteomics</span>
                                </a>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}