{% extends "base.html" %}
{% block title %}MUMT-MIS: Academic Service{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdn.jsdelivr.net/gh/octoshrimpy/bulma-o-steps@master/bulma-steps.css" rel="stylesheet"/>
{% endblock %}
{% block page_content %}
    {% include"academic_services/customer_nav.html" %}
    <section class="section">
        <div class="columns">
            {% include 'academic_services/menu.html' %}
            <div class="column is-9">
                <div class="column is-9">
                    <h1 class="title has-text-centered">รายละเอียดการทดสอบ</h1>
                </div>
                <ul class="steps">
                    <li class="steps-segment {% if not sample.started_at %} is-active {% endif %}">
                    <span class="steps-marker">
                        <span class="icon">
                            <i class="fas fa-virus-slash"></i>
                        </span>
                    </span>
                        <div class="steps-content">
                            <p>ยังไม่ดำเนินการทดสอบ</p>
                        </div>
                    </li>
                    <li class="steps-segment {% if sample.started_at and not sample.finished_at %} is-active {% endif %}">
                    <span class="steps-marker">
                        <span class="icon">
                            <i class="fas fa-flask"></i>
                        </span>
                    </span>
                        <div class="steps-content">
                            <p>กำลังดำเนินการทดสอบ</p>
                        </div>
                    </li>
                    <li class="steps-segment {% if sample.finished_at %} is-active {% endif %}">
                    <span class="steps-marker">
                        <span class="icon">
                            <i class="fa fa-check"></i>
                        </span>
                    </span>
                        <div class="steps-content">
                            <p>ดำเนินการทดสอบสำเร็จ</p>
                        </div>
                    </li>
                </ul>
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">รายละเอียด</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                <label class="label">เลขใบคำร้องขอ</label>
                                {{ sample.request.request_no }}
                            </p>
                            <p>
                                <label class="label">
                                    {% if sample.request.customer.customer_info.type.type == 'หน่วยงานรัฐ' %}
                                        หน่วยงานผู้ขอ
                                    {% elif sample.request.customer.customer_info.type.type == 'บริษัทเอกชน' %}
                                        บริษัทผู้ขอ
                                    {% else %}
                                        ชื่อผู้ขอ
                                    {% endif %}
                                </label>
                                {{ sample.request.customer.customer_info.cus_name }}
                            </p>
                            <p>
                                <label class="label">สถานะ</label>
                                {% if sample.finished_at %}
                                    <span class="tag is-success">ดำเนินการทดสอบสำเร็จ</span>
                                {% elif sample.started_at %}
                                    <span class="tag is-warning">กำลังดำเนินการทดสอบ</span>
                                {% else %}
                                    <span class="tag is-danger">ยังไม่ดำเนินการทดสอบ</span>
                                {% endif %}
                            </p>
                            <p>
                                <label class="label">วัน-เวลาที่เริ่มการทดสอบ</label>
                                {% if sample.started_at %}
                                    {{ sample.started_at|localdatetime }}
                                {% else %}
                                    ยังไม่เริ่มการทดสอบ
                                {% endif %}
                            </p>
                            <p>
                                <label class="label">ผู้เริ่มการทดสอบ</label>
                                {% if sample.started_by %}
                                    {{ sample.started_by.fullname }}
                                {% else %}
                                    ยังไม่มีผู้เริ่มการทดสอบ
                                {% endif %}
                            </p>
                            <p>
                                <label class="label">วัน-เวลาที่เสร็จสิ้นการทดสอบ</label>
                                {% if sample.finished_at %}
                                    {{ sample.finished_at|localdatetime }}
                                {% elif sample.started_at %}
                                    กำลังดำเนินการทดสอบ
                                {% else %}
                                    ยังไม่เริ่มการทดสอบ
                                {% endif %}
                            </p>
                            <p>
                                <label class="label">ผู้ยืนยันการทดสอบ</label>
                                {% if sample.finished_by %}
                                    {{ sample.finished_by.fullname }}
                                {% elif sample.started_by %}
                                    กำลังดำเนินการทดสอบ
                                {% else %}
                                    ยังไม่ผู้ยืนยันการทดสอบ
                                {% endif %}
                            </p>
                            <p>
                                <label class="label">รายการทดสอบ</label>
                                {% for quotation in sample.request.quotations|sort(attribute='sequence') %}
                                    {% for item in quotation.quotation_items %}
                                        <article class="media">
                                            <div class="media-left">
                                                <span class="tag is-info is-light">{{ item.sequence }}</span>
                                            </div>
                                            <div class="media-content">
                                                <div class="content">
                                                    {{ item.item }}
                                                </div>
                                            </div>
                                            <div class="media-right">
                                                <strong>{{ item.has_discount() }} บาท</strong>
                                            </div>
                                        </article>
                                    {% endfor %}
                                    <div class="has-text-right mt-3">
                                        <strong>รวมทั้งสิ้น: {{ quotation.sum_price() }} บาท</strong>
                                    </div>
                                {% endfor %}

                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="buttons is-centered">
                        <a class="button is-light"
                           href="{{ url_for('academic_services.sample_index', menu=menu, tab=tab) }}">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}