{% extends "academic_services/service_base.html" %}
{% block head %}
    {{ super() }}
    <style>
        .is-full-height {
            height: 100%;
        }
    </style>
{% endblock %}
{% block page_content %}
    {% include "academic_services/customer_nav.html" %}
    <section class="section" id="invoice">
        {% include 'messages.html' %}
        <div class="container">
            <div class="columns is-flex is-align-items-stretch">
                <div class="column">
                    <h3 class="title is-size-3 has-text-centered">ใบแจ้งหนี้</h3>
                </div>
                <div class="column is-one-quarter"></div>
            </div>
            <div class="columns is-flex is-align-items-stretch">
                <div class="column">
                    <div class="box">
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เลขที่</p>
                            <div style="margin-left: 1.75rem;">
                                {{ invoice.invoice_no }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">ที่</p>
                            <div style="margin-left: 1.75rem;">
                                อว. {{ invoice.mhesi_no }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">วันที่</p>
                            <div style="margin-left: 1.75rem;">
                                {{ invoice.mhesi_issued_at.strftime('%d/%m/%Y') }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เรื่อง</p>
                            <div style="margin-left: 1.75rem;">
                                ใบแจ้งหนี้ค่าบริการตรวจวิเคราะห์ทางห้องปฏิบัติการ
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เรียน</p>
                            <div style="margin-left: 1.75rem;">
                                {{ invoice.name }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">ที่อยู่</p>
                            <div style="margin-left: 1.75rem;">
                                {{ invoice.address }}
                            </div>
                        </div>
                        <div class="mb-4 is-flex is-align-items-center">
                            <p class="subtitle is-6 mb-1 has-text-weight-semibold">เลขประจำตัวผู้เสียภาษีอากร</p>
                            <div style="margin-left: 1.75rem;">
                                {{ invoice.taxpayer_identification_no or '-' }}<br>
                            </div>
                        </div>
                        <table class="table is-fullwidth mt-4">
                            <thead>
                            <tr>
                                <th class="has-text-centered">ลำดับ</th>
                                <th class="has-text-centered">รายการ</th>
                                <th class="has-text-centered">จำนวน</th>
                                <th class="has-text-centered">ราคา</th>
                                <th class="has-text-centered">จำนวนเงิน</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in invoice.invoice_items|sort(attribute='sequence') %}
                                <tr>
                                    <td class="has-text-centered">{{ item.sequence }}</td>
                                    <td>{{ item.item|safe }}</td>
                                    <td class="has-text-centered">{{ item.quantity }}</td>
                                    <td class="has-text-right">
                                        {{ "{:,.2f}".format(item.unit_price) }}
                                    </td>
                                    <td class="has-text-right">
                                        {{ "{:,.2f}".format(item.total_price) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        <div class="has-text-right">
                            <p><strong>รวมเป็นเงิน : </strong>
                                {{ "{:,.2f}".format(invoice.subtotal()) }}
                            </p>
                            <p>
                                <strong>ส่วนลด : </strong>
                                {{ "{:,.2f}".format(invoice.discount()) }}
                            </p>
                            <p><strong>รวมเป็นเงินทั้งสิ้น : </strong>{{ "{:,.2f}".format(invoice.grand_total()) }}</p>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter ">
                    <div class="box is-full-height">
                        <aside class="menu">
                            <p class="menu-label">
                                งานบริการ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    {{ sub_lab.sub_lab }}
                                </li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                วันที่ครบกำหนดชำระ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    {% if invoice.mhesi_issued_at %}
                                        <span class="icon">
                                            <i class="fas fa-clock"></i>
                                        </span>
                                        {{ invoice.due_date.strftime('%d/%m/%Y') }}
                                    {% else %}
                                        ยังไม่ดำเนินการส่ง
                                    {% endif %}
                                </li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                สถานะ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <span class="tag {{ invoice.customer_status_color }}">
                                        {{ invoice.customer_status }}
                                    </span>
                                </li>
                            </ul>
                            <hr>
                            <p class="menu-label">
                                การดำเนินการ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <a class="button is-rounded is-outlined is-small is-fullwidth mb-2"
                                       @click="printInvoice()"
                                    >
                                        <span class="icon"><i class="fas fa-print"></i></span>
                                        <span>พิมพ์ใบแจ้งหนี้</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="button is-info is-outlined is-rounded is-small is-fullwidth"
                                       href="{{ url_for('academic_services.export_invoice_pdf', invoice_id=invoice_id) }}"
                                    >
                                        <span class="icon"><i class="fas fa-download"></i></span>
                                        <span>ดาวน์โหลด PDF</span>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="columns">
            <div class="column is-two-thirds is-offset-2 has-text-centered">
                <div class="buttons is-centered">
                    <a class="button is-light" href="{{ url_for('academic_services.invoice_index', menu=menu) }}">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                        <span>ย้อนกลับ</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#invoice",
            delimiters: ['<%', '%>'],
            methods: {
                printInvoice: function () {
                    printJS({{ url_for('academic_services.export_invoice_pdf', invoice_id=invoice_id)|tojson|safe }});
                }
            },
        });
    </script>
{% endblock %}