{% extends "base.html" %}
{% block title %}Add/Edit KPI{% endblock %}
{% include "data_blueprint/nav.html" %}
{% block head %}
    {{ super() }}
    <link href="https://fastly.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block page_content %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <h1 class="title">ข้อมูลตัวชี้วัด</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="tabs is-centered is-boxed">
              <ul>
                <li><a href="{{request.path.replace('?section=target', '').replace('?section=report', '')+'?section=general'}}">ข้อมูลทั่วไป</a></li>
                <li><a href="{{request.path.replace('?section=report', '').replace('?section=general', '')+'?section=target'}}">เป้าหมาย</a></li>
                <li class="is-active"><a href="#">รายงาน</a></li>
              </ul>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">{{form.account.label}}</label>
                        <div>
                            {{form.account(class="select js-example-basic-single")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.reporter.label}}</label>
                        <div>
                            {{form.reporter(class="select js-example-basic-single")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.reportlink.label}}</label>
                        <div class="control">
                        {{form.reportlink(class="input")}}
                        </div>
                        <p class="help">เช่น https://mumtmis.heroku.app/service/eqamembers</p>
                    </div>
                    <div class="field">
                        <label class="label">{{form.consult.label}}</label>
                        <div>
                            {{form.consult(class="select js-example-basic-single")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.informed.label}}</label>
                        <div>
                            {{form.informed(class="select js-example-basic-single")}}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">{{form.pfm_account.label}}</label>
                        <div>
                            {{form.pfm_account(class="select js-example-basic-single")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.pfm_responsible.label}}</label>
                        <div>
                            {{form.pfm_responsible(class="select js-example-basic-single")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.pfm_consult.label}}</label>
                        <div>
                            {{form.pfm_consult(class="select js-example-basic-single")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.pfm_informed.label}}</label>
                        <div>
                            {{form.pfm_informed(class="select js-example-basic-single", pattern="\w+\.\w{3}")}}
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <a href="{{url_for('data_bp.index')}}" class="button is-light">ยกเลิก</a>
                        </div>
                        <div class="control">
                            <input class="button is-success" type="submit" value="บันทึก"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="https://fastly.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
    </section>
{% endblock %}
