<div class="modal is-active animate__animated" id="theme-form-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Theme Form</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <form
                {% if theme_id %}
                    hx-post="{{ url_for('kpi_blueprint.edit_theme', org_id=org_id, theme_id=theme_id) }}"
                    hx-indicator="#save-btn"
                    hx-swap="none"
                {% else %}
                    hx-post="{{ url_for('kpi_blueprint.edit_theme', org_id=org_id, tactic_id=tactic_id) }}"
                    hx-indicator="#save-btn"
                    hx-swap="none"
                {% endif %}
        >
            {{ form.hidden_tag() }}
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">{{ form.refno.label }}</label>
                    <div class="control">
                        {{ form.refno(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.content.label }}</label>
                    <div class="control">
                        {{ form.content(class="input") }}
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-outlined" id="cancel-btn">Cancel</button>
                <button type="submit" class="button is-success" id="save-btn">Save</button>
            </footer>
        </form>
    </div>
</div>
<script>
    window.document.getElementById("cancel-btn").addEventListener("click", function (event) {
        event.preventDefault()
        htmx.removeClass(htmx.find('#theme-form-modal'), 'is-active')
    })
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#theme-form-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#theme-form-modal'), 'is-active')
    })
</script>
