<!doctype html>
<html>
<head>
    <style>
        .colored-toast.swal2-icon-success {
          background-color: #a5dc86 !important;
        }

        .colored-toast.swal2-icon-error {
          background-color: #d44533 !important;
        }

        .colored-toast.swal2-icon-warning {
          background-color: #f8bb86 !important;
        }

        .colored-toast.swal2-icon-info {
          background-color: #3fc3ee !important;
        }

        .colored-toast.swal2-icon-question {
          background-color: #87adbd !important;
        }

        .colored-toast .swal2-title {
          color: white;
        }

        .colored-toast .swal2-close {
          color: white;
        }

        .colored-toast .swal2-html-container {
          color: white;
        }
    </style>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="htmx-config" content='{"requestClass": "is-loading"}'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css"/>
        <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/buefy@0.9.23/dist/buefy.min.css"/>
        <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/default/bulmaswatch.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.bulma.min.css"/>
        <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/shepherd.js@10.0.1/dist/css/shepherd.css"/>
        <link href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@sweetalert2/theme-bulma@5/bulma.css" />
    {% endblock %}
</head>
<body>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
{% block page_content %}
{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="container">
        {% block user_support %}
            <div class="content has-text-centered">
               <span class="icon is-large">
                   <i class="fa-solid fa-circle-info fa-4x"></i>
               </span>
                <h1 class="title is-size-4 has-text-danger">แจ้งปัญหาการใช้งาน/ขอความช่วยเหลือ</h1>
                <h1 class="subtitle is-size-6">
                    ท่านสามารถแจ้งปัญหาการใช้งานหรือขอความช่วยเหลือด้านการใช้งานระบบได้ที่ <strong>Line MUMT-IT User Support</strong>
                </h1>
                <p>
                    <figure class="image is-128x128 is-inline-block">
                        <img src="https://qr-official.line.me/gs/M_030btotn_BW.png?oat_content=qr">
                        <a href="https://lin.ee/Z1QovqT">
                            <img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="36" border="0">
                        </a>
                    </figure>
                </p>
            </div>
        {% endblock %}
            <div class="content has-text-centered">
                MUMT Information Management System Powered by HTMX, Bulma, Flask, SQLAlchemy and Python Technology
                <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons"
                                      title="Smashicons">Smashicons</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/"
                       title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                {% if config['DEBUG'] %}
                    <article class="message is-warning">
                        <div class="message-header">
                            DEBUG MODE
                        </div>
                        <div class="message-body">
                            <strong>Template file:</strong> {{ self._TemplateReference__context.name }}
                        </div>
                    </article>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"
            integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/shepherd.js@10.0.1/dist/js/shepherd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js" integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/th.min.js" integrity="sha512-IiSJKJyOVydT9/jfVcnpg7PIUM41Be6YzR5bTiAEAEQxTVtnUhbhiSNtgGXmOTFoxYpYs+LdxWlELOK7iRVVBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/buefy.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/print-js@1.0.61/dist/print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.8/cleave.min.js"
            integrity="sha256-F/xzCMjFU6UaVTw7IPk3dDxJ5mvvonjQxVfIPqbJDmA=" crossorigin="anonymous"></script>
    <script src="https://fastly.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/toastify-js"></script>
    <script src="//fastly.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        moment.locale('th');
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
            let accordions = bulmaAccordion.attach();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded',
            () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            })
        document.body.addEventListener('successAlert', function(evt) {
            let msg = evt.detail.value
            Swal.fire({
                title: msg,
                icon: "success",
                toast: true,
                position: 'top',
                iconColor: 'white',
                customClass: {
                    popup: 'colored-toast'
                },
                showConfirmButton: false,
                timer: 1500,
            })
        })
        document.addEventListener('dangerAlert', function(evt) {
            let msg = evt.detail.value
            Swal.fire({
                title: msg,
                icon: "error",
                toast: true,
                position: 'top',
                iconColor: 'white',
                customClass: {
                    popup: 'colored-toast'
                },
                showConfirmButton: false,
                timer: 1500,
            })
        })
        document.addEventListener('htmx:responseError', function(evt) {
            let msg = evt.detail.xhr.statusText
            Swal.fire({
                title: msg,
                icon: "error",
                toast: true,
                position: 'top',
                iconColor: 'white',
                customClass: {
                    popup: 'colored-toast'
                },
                showConfirmButton: false,
                timer: 1500,
            })
        })
    </script>
{% endblock %}
</body>
</html>

