{% extends "base.html" %}
{% block title %}MUMT Internal Information System{% endblock %}
{% include "nav.html" %}
{% block page_content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                {% include 'messages.html' %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <nav class="panel is-info">
                    <p class="panel-heading">Staff</p>
                    <a class="panel-block"
                        href="{{ url_for('staff.index') }}">
                        <span class="panel-icon">
                            <i class="fas fa-users"></i>
                        </span>
                        <span class="is-size-5">
                            บุคลากร
                        </span>
                    </a>
                    <!--
                    <a class="panel-block"
                        href="{{ url_for('km.index') }}">
                        <span class="panel-icon">
                            <i class="fas fa-box-open"></i>
                        </span>
                        <span class="is-size-5">
                            คลังความรู้
                        </span>
                    </a>
                    -->
                </nav>
                <nav class="panel is-info">
                    <p class="panel-heading">Education</p>
                    <a href="#" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-user-graduate"></i>
                        </span><span class="is-size-5">นักศึกษา</span>
                    </a>
                    <a href="{{ url_for('eduqa.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-university"></i>
                        </span><span class="is-size-5">ระบบประกันคุณภาพการศึกษา</span>
                    </a>
                </nav>
                <nav class="panel is-info">
                    <p class="panel-heading">Services</p>
                    <a href="{{ url_for('comhealth.landing') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-heartbeat"></i>
                        </span>
                        <span class="is-size-5">ระบบงานบริการสุขภาพชุมชน</span>
                    </a>
                    <a href="{{ url_for('health_service_scheduler.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-calendar-plus"></i>
                        </span>
                        <span class="is-size-5">ระบบจองเวลางานสุขภาพชุมชน</span>
                    </a>
                    <a href="{{ url_for('room.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                        <span class="is-size-5">
                            ระบบจองห้อง
                        </span>
                    </a>
                    <a href="{{ url_for('smartclass_scheduler.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                        <span class="is-size-5">
                            ระบบลงทะเบียนใช้งาน Smart Classroom และ Online Learning
                        </span>
                    </a>
                    <a href="{{ url_for('vehicle.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-car"></i>
                        </span>
                        <span class="is-size-5">
                            ระบบจองยานพาหนะ
                        </span>
                    </a>
<!--                    <a href="{{ url_for('vehicle.trip') }}" class="panel-block">-->
<!--                        <span class="panel-icon">-->
<!--                            <i class="fas fa-car"></i>-->
<!--                        </span>-->
<!--                        <span class="is-size-5">-->
<!--                            ป้อนข้อมูลการเดินทาง (สำหรับพขร.)-->
<!--                        </span>-->
<!--                    </a>-->
                    <a href="http://10.4.101.32/Repair/StatusList.aspx" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-cogs"></i>
                        </span>
                        <span class="is-size-5">
                            ระบบซ่อมบำรุงและครุภัณฑ์ (Intranet only)
                        </span>
                    </a>
                </nav>
                <nav class="panel is-danger">
                    <p class="panel-heading">Services (กำลังพัฒนาและทดลอง)</p>
                    <a href="{{ url_for('procurement.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-exclamation-triangle has-text-warning"></i>
                        </span>
                        <span class="is-size-5">ระบบงานพัสดุและซ่อมบำรุง</span>
                    </a>
                    <a href="{{ url_for('purchase_tracker.landing_page') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-exclamation-triangle has-text-warning"></i>
                        </span>
                        <span class="is-size-5">ระบบติดตามการจัดซื้อจัดจ้าง</span>
                    </a>
                    <a href="{{ url_for('receipt_printing.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-exclamation-triangle has-text-warning"></i>
                        </span>
                        <span class="is-size-5">ระบบพิมพ์ใบเสร็จรับเงิน</span>
                    </a>
                    <a href="{{ url_for('data_bp.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-exclamation-triangle has-text-warning"></i>
                        </span>
                        <span class="is-size-5">Enterprise Blueprint</span>
                    </a>
                    <a href="{{ url_for('pdpa.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-exclamation-triangle has-text-warning"></i>
                        </span>
                        <span class="is-size-5">ระบบจัดการข้อมูลส่วนบุคคล</span>
                    </a>
                </nav>
                <nav class="panel is-info">
                    <p class="panel-heading">Analytics</p>
                    <a href="{{ url_for('research.dashboard') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-tachometer-alt"></i>
                        </span>
                        <span class="is-size-5">
                            ระบบวิเคราะห์ผลงานวิจัย
                        </span>
                    </a>
                    <a href="{{ url_for('kpi_blueprint.main') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-tachometer-alt"></i>
                        </span>
                        <span class="is-size-5">
                            ระบบฐานข้อมูลตัวชี้วัดองค์กร
                        </span>
                    </a>
                    <a href="{{ url_for('kpi_blueprint.dashboard_index') }}"
                       class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-tachometer-alt"></i>
                        </span>
                        <span class="is-size-5">
                            Dashboard รายงานข้อมูลเพื่อการตัดสินใจ
                        </span>
                    </a>
                    <a href="{{ url_for('chemdb.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-flask"></i>
                        </span>
                        <span class="is-size-5">
                            ระบบฐานข้อมูลสารเคมี
                        </span>
                    </a>
                    <a href="{{ url_for('food.index') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fab fa-pagelines"></i>
                        </span>
                        <span class="is-size-5">
                            ฐานข้อมูลโครงการเกษตรและอาหารปลอดภัย
                        </span>
                    </a>
                </nav>
                <nav class="panel is-light">
                    <p class="panel-heading">Administrator</p>
                    <a href="{{ url_for('staff.login_scan') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-user-clock"></i>
                        </span>
                        <span class="is-size-5">ระบบบันทึกเวลาเข้างาน</span>
                    </a>
                    <a href="{{ url_for('staff.for_hr') }}" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-user-alt"></i>
                        </span>
                        <span class="is-size-5">ระบบงานทรัพยากรบุคคล</span>
                    </a>
                    <a href="/admin" class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-user-alt"></i>
                        </span>
                        <span class="is-size-5">Admin Index</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}
