{% extends "academic_services/service_base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page_content %}
    {% include "academic_services/customer_nav.html" %}
    {% include 'messages.html' %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-12">
                    <h1 class="title is-3 has-text-centered has-text-grey-dark">ฟอร์ม{{ sub_lab.sub_lab }}</h1>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="box">
                            <h5 class="title is-size-5">ข้อมูลผลิตภัณฑ์</h5>
                            <hr style="background-color: gainsboro">
                            <div class="field-body mb-2">
                                <div class="field">
                                    <label class="label">{{ form.lab.label }}</label>
                                    <div class="control">
                                        {{ form.lab(class='input') }}
                                        <span class="has-text-danger">*</span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">
                                        {{ form.phone_number.label }}
                                        <span class="has-text-danger">*</span>
                                    </label>
                                    <div class="control">
                                        {{ form.phone_number(class='input', oninput="this.value = this.value.replace(/[^0-9\-]/g, '')") }}
                                    </div>
                                </div>
                            </div>
                            <div class="field-body mb-2">
                                <div class="field">
                                    <label class="label">
                                        {{ form.name.label }}
                                        <span class="has-text-danger">*</span>
                                    </label>
                                    <div class="control">
                                        {{ form.name(class='input') }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">
                                        {{ form.gender.label }}
                                        <span class="has-text-danger">*</span>
                                    </label>
                                    <div class="control">
                                        {{ form.gender(class='input') }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">
                                        {{ form.age.label }}
                                        <span class="has-text-danger">*</span>
                                    </label>
                                    <div class="control">
                                        {{ form.age(class='input') }}
                                    </div>
                                </div>
                            </div>
                            <div class="field-body mb-2">
                                <div class="field">
                                    <label class="label">
                                        {{ form.hn.label }}
                                        <span class="has-text-danger">*</span>
                                    </label>
                                    <div class="control">
                                        {{ form.hn(class='input') }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">
                                        {{ form.note.label }}
                                    </label>
                                    <div class="control">
                                        {{ form.note(class='input') }}
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    {{ form.sample_type.label }}
                                    <span class="has-text-danger">*</span>
                                </label>
                                <div class="control">
                                    {{ form.sample_type(
                                        **{'hx-get': url_for("academic_services.get_other", request_id=request_id),
                                            'hx-target': '#other-container',
                                            'hx-swap': 'innerHTML',
                                            'hx-trigger': 'change, load',
                                            'hx-include': '[name="sample_type"]'
                                        })
                                    }}
                                </div>
                            </div>
                            <div id="other-container"></div>
                            <div class="field">
                                <label class="label">
                                    {{ form.date_of_collection.label }}
                                    <span class="has-text-danger">*</span>
                                </label>
                                <div class="control">
                                    {{ form.date_of_collection(class='input') }}
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <h5 class="title is-size-5">รายการทดสอบ</h5>
                            <hr style="background-color: gainsboro">
                            <div id="condition-field" class="field">
                                {% for item_form in form.toxicology_condition_field %}
                                    <div id="{{ item_form.id }}">
                                        <p class="mt-4 mb-2"><strong>รายการที่ {{ loop.index }}</strong></p>
                                        <table class="table is-fullwidth ">
                                            <thead>
                                                <th style="border: none">
                                                    {{ item_form.test.label }}
                                                    <span class="has-text-danger">*</span>
                                                </th>
                                                <th style="border: none">{{ item_form.blood_sample_of_trace_element.label }}</th>
                                                <th style="border: none">{{ item_form.blood_sample_of_heavy_metal.label }}</th>
                                                <th style="border: none">{{ item_form.urine_sample_of_trace_element.label }}</th>
                                                <th style="border: none">{{ item_form.urine_sample_of_heavy_metal.label }}</th>
                                            </thead>
                                            <tbody>
                                                <td style="border: none" class="control">
                                                    {{ item_form.test(class='input') }}
                                                </td>
                                                <td style="border: none" class="control">
                                                    {{ item_form.blood_sample_of_trace_element() }}
                                                </td>
                                                <td style="border: none" class="control">
                                                    {{ item_form.blood_sample_of_heavy_metal() }}
                                                </td>
                                                <td style="border: none" class="control">
                                                    {{ item_form.urine_sample_of_trace_element() }}
                                                </td>
                                                <td style="border: none" class="control">
                                                    {{ item_form.urine_sample_of_heavy_metal() }}
                                                </td>
                                            </tbody>
                                        </table>
                                        {% if not loop.last %}
                                            <hr style="background-color: #F3F3F3">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="field has-addons">
                                <div class="control">
                                    <a class="button is-info is-small is-light is-rounded"
                                       hx-post="{{ url_for('academic_services.add_toxicology_condition_item') }}"
                                       hx-target="#condition-field" hx-swap="beforeend">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>เพิ่ม</span>
                                    </a>
                                </div>
                                <div class="control">
                                    <a class="button is-danger is-small is-light is-rounded"
                                       hx-delete="{{ url_for('academic_services.remove_toxicology_condition_item') }}"
                                       hx-target="#condition-field" hx-swap="innerHTML">
                                            <span class="icon">
                                                <i class="far fa-trash-alt"></i>
                                            </span>
                                        <span class="">ลบ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped is-justify-content-center">
                            <div class="control">
                                <input type="submit" value="บันทึกและดำเนินการต่อ" class="button is-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            const sampleTypeInput = $('input[id^="sample_type"]');

            sampleTypeInput.prop('required', true).attr('oninvalid', "this.setCustomValidity('กรุณาเลือกชนิดของตัวอย่าง')");

            sampleTypeInput.on('change', function () {
                sampleTypeInput.each(function () {
                    this.setCustomValidity('');
                });
            });
        });
    </script>
{% endblock %}